%section.section.section_pad_large.project-screen
  .section__wrp.project-screen__wrp
    .section__header.section__header_compensate.project-screen__header
      %h2.section__heading.project-screen__heading.heading.heading_type_h2
        %span.section__heading-text
          Экраны проекта
    .section__body.project-screen__body
      .project-screen__nav.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
        .project-screen__nav-list
          .project-screen__nav-item.js-project-screen-nav.active{"data-toggle" => "1"}
            Финансы
          .project-screen__nav-item.js-project-screen-nav{"data-toggle" => "2"}
            Касса
          .project-screen__nav-item.js-project-screen-nav{"data-toggle" => "3"}
            Производство
          .project-screen__nav-item.js-project-screen-nav{"data-toggle" => "4"}
            Дебиторка
          .project-screen__nav-item.js-project-screen-nav{"data-toggle" => "5"}
            Работа с чеками
          .project-screen__nav-item.js-project-screen-nav{"data-toggle" => "6"}
            Карточка поставщика
          .project-screen__nav-item.js-project-screen-nav{"data-toggle" => "7"}
            Чат
      .project-screen__slider.swiper-container.js-slider-project-screen.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ьы"}
        .project-screen__slider-wrapper.swiper-wrapper
          .project-screen__slide.swiper-slide
            .project-screen__slide-wrp
              %img{:alt => "ramensky", :src => "#{asset_path 'projects/ramensky/screen/1.jpg'}"}/
          .project-screen__slide.swiper-slide
            .project-screen__slide-wrp
              %img{:alt => "ramensky", :src => "#{asset_path 'projects/ramensky/screen/2.jpg'}"}/
          .project-screen__slide.swiper-slide
            .project-screen__slide-wrp
              %img{:alt => "ramensky", :src => "#{asset_path 'projects/ramensky/screen/3.jpg'}"}/
          .project-screen__slide.swiper-slide
            .project-screen__slide-wrp
              %img{:alt => "ramensky", :src => "#{asset_path 'projects/ramensky/screen/4.jpg'}"}/
          .project-screen__slide.swiper-slide
            .project-screen__slide-wrp
              %img{:alt => "ramensky", :src => "#{asset_path 'projects/ramensky/screen/5.jpg'}"}/
          .project-screen__slide.swiper-slide
            .project-screen__slide-wrp
              %img{:alt => "ramensky", :src => "#{asset_path 'projects/ramensky/screen/6.jpg'}"}/
          .project-screen__slide.swiper-slide
            .project-screen__slide-wrp
              %img{:alt => "ramensky", :src => "#{asset_path 'projects/ramensky/screen/7.jpg'}"}/
        .project-screen__dots.js-slider-project-screen-dots
    .project-screen__dots.js-slider-project-screen-dots
