<%- meta title: "Проекты"
    meta og: { title: "Проекты"} %>

<main class="main">
  
  <section class="section section_first section_full-height section_pad_none services-promo">
    <div class="section__wrp services-promo__wrp scene">
      <div class="section__header section__header_compensate services-promo__header">
        <h2 class="section__heading heading heading_type_h2 services-promo__heading">
          <span class="section__heading-text">Наши проекты</span>
        </h2>
      </div>
      
      <div class="section__body services-promo__body">
        <div class="services-promo__img">
          <div class="services-promo__img-wrp">
            <img src="<%=asset_path 'services/promo/bg.svg' %>" alt="firm-style" class="services-promo__img-bg layer" data-depth="0.40">
            <img src="<%=asset_path 'services/promo/icon2.svg' %>" alt="firm-style" class="services-promo__img-icon2 layer" data-depth="0.60">
            <img src="<%=asset_path 'services/promo/icon.svg' %>" alt="firm-style" class="services-promo__img-icon layer" data-depth="0.80">
          </div>
        </div>
        
        <div class="services-promo__caption caption caption_size_l">
          Мы&nbsp;делаем их реально круто
        </div>
        
        <a href="#services" class="services-promo__link js-anchor-link">
          <span class="services-promo__link-icon">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="20px" height="11px">
            <path fill-rule="evenodd"
                d="M19.435,1.707 L10.707,10.435 C10.317,10.825 9.683,10.825 9.293,10.435 L0.565,1.707 C0.174,1.316 0.174,0.683 0.565,0.293 C0.955,-0.098 1.589,-0.098 1.979,0.293 L10.000,8.313 L18.021,0.293 C18.411,-0.098 19.044,-0.098 19.435,0.293 C19.825,0.683 19.825,1.316 19.435,1.707 Z"/>
          </svg>
          </span>
        </a>
      </div>
    </div>
  </section>
  
  <section id="services" class="section section_pad_medium section_green_light projects">
    <div class="section__wrp services__wrp">
      <div class="section__body services__body">
        <div class="services__icon-col icon-col icon-col_main icon-col_border">
          <div class="icon-col__list icon-col__list_grid-two">
            <div class="icon-col__item projects__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
              <div class="icon-col__img-wrp js-tilter">
                <div class="icon-col__logo-wrp">
                  <img src="<%=asset_path 'projects/inpas/logo.svg' %>" alt="INPAS" class="icon-col__logo tilter__figure">
                </div>
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__title heading heading_type_h4">
                  Инпас
                </div>
                
                <div class="icon-col__caption caption caption_size_g">
                  INPAS&nbsp;&mdash; ведущий дистрибьютор комплексных платежных решений, включая <nobr>POS-терминальное</nobr> оборудование, кассовую технику, прикладное ПО&hellip;
                </div>
                
                <a href=<%= inpas_path %> class="icon-col__button button button_theme_border button_size_g">
                  Подробнее
                </a>
              </div>
            </div>
            <div class="icon-col__item projects__item js-animation js-animation_fadeInRight" data-animation-delay="100ms">
              <div class="icon-col__img-wrp js-tilter">
                <div class="icon-col__logo-wrp">
                  <img src="<%=asset_path 'projects/kosher/logo.svg' %>" alt="Kosher" class="icon-col__logo tilter__figure">
                </div>
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__title heading heading_type_h4">
                  Департамент Кашрута
                </div>
                
                <div class="icon-col__caption caption caption_size_g">
                  Департамент кашрута&nbsp;&mdash; единственная официально зарегистрированная организация в&nbsp;России, оказывающая услуги по&nbsp;<nobr>кошер-сертификации</nobr> продуктов питания в&nbsp;соответствии с&nbsp;международными стандартами.
                </div>
                
                <a href=<%= kosher_path %> class="icon-col__button button button_theme_border button_size_g">
                  Подробнее
                </a>
              </div>
            </div>
            <div class="icon-col__item projects__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
              <div class="icon-col__img-wrp js-tilter">
                <div class="icon-col__logo-wrp">
                  <img src="<%=asset_path 'projects/ramensky/logo.jpg' %>" alt="ramensky" class="icon-col__logo tilter__figure">
                </div>
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__title heading heading_type_h4">
                  Раменский мясокомбинат
                </div>
                
                <div class="icon-col__caption caption caption_size_g">
                  До&nbsp;начала проекта <nobr>бизнес-процессы</nobr> розничной сети мясокомбината не&nbsp;были автоматизированы. Весь документооборот магазинов осуществлялся на&nbsp;бумаге, что означало большие трудозатраты, сложность контроля, высокий риск ошибок и&nbsp;серьезные трудности при развитии.
                </div>
                
                <a href=<%= ramen_path %> class="icon-col__button button button_theme_border button_size_g">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>