<%- meta title: "Департамент Кашрута | Проекты"
    meta og: { title: "Департамент Кашрута | Проекты" }
    %>

<main class="main">
  <section class="section section_first project project_kosher">
    <div class="section__wrp project__wrp">
      <div class="section__header section__header_compensate project__header">
        <h1 class="section__heading heading heading_type_h2 project__heading">
          Разработка сайта и&nbsp;API для Департамента кашрута
        </h1>
      </div>
      
      <div class="section__body project__body project__body_size_m">
        <div class="project__info">
          <div class="project__info-heading heading heading_type_h4">
            О&nbsp;клиенте
          </div>
          
          <div class="project__info-descr">
            <div class="project__info-logo">
              <img src="<%= asset_path 'projects/kosher/logo.svg' %>" alt="Россия Кошер">
            </div>
            
            <div class="project__info-text">
              <div class="project__info-caption caption caption_size_g">
                <span>Департамент кашрута</span>&nbsp;&mdash; единственная официально зарегистрированная организация в&nbsp;России, оказывающая услуги по&nbsp;<nobr>кошер-сертификации</nobr> продуктов питания в&nbsp;соответствии с&nbsp;международными стандартами.
              </div>
              <div class="project__info-caption caption caption_size_g">
                Система добровольной сертификации продуктов &laquo;КОШЕР <nobr>СЕРТИФИКАЦИЯ-КР</nobr>&raquo; действует при поддержке главного раввината России под руководством главного раввина России Берла Лазара.
              </div>
            </div>
          </div>
        </div>
        
        <div class="project__preview">
          <img class="project__preview-img" src="<%= asset_path 'projects/kosher/preview.png' %>" alt="kosher">
        </div>
      </div>
      
      <div class="section__footer project__footer">
        <div class="project__plus-col plus-col">
          <div class="plus-col__list">
            <div class="plus-col__item">
              <div class="plus-col__body">
                <div class="plus-col__title heading heading_type_h4">
                  100&nbsp;+
                </div>
                
                <div class="plus-col__caption caption caption_size_g">
                  <nobr>Партнёров-производителей</nobr> продукции
                </div>
              </div>
            </div>
            <div class="plus-col__item">
              <div class="plus-col__body">
                <div class="plus-col__title heading heading_type_h4">
                  20&nbsp;000&nbsp;+
                </div>
                
                <div class="plus-col__caption caption caption_size_g">
                  Зарегистрированных<br/>
                  продуктов
                </div>
              </div>
            </div>
            <div class="plus-col__item">
              <div class="plus-col__body">
                <div class="plus-col__title heading heading_type_h4">
                  15 лет
                </div>
                
                <div class="plus-col__caption caption caption_size_g">
                  На&nbsp;рынке сертификации продуктов
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-why project-why_kosher scene">
    <div class="section__wrp project-why__wrp">
      <div class="section__header section__header_compensate project-why__header">
        <h2 class="section__heading project-why__heading heading heading_type_h2">
          Почему клиент выбрал нас?
        </h2>
      </div>
      
      <div class="section__body project-why__body project-why__body_size_m">
        <div class="project-why__grid project-why__grid_start">
          <div class="project-why__grid-img">
            <div class="project-why__img project-why__img_kosher">
              <div class="project-why__img-wrp">
                <img src="<%= asset_path 'projects/kosher/why/bg.svg' %>" alt="kosher" class="project-why__img-bg layer" data-depth="0.40">
                <img src="<%= asset_path 'projects/kosher/why/icon2.svg' %>" alt="kosher" class="project-why__img-icon2 layer" data-depth="0.60">
                <img src="<%= asset_path 'projects/kosher/why/icon.svg' %>" alt="kosher" class="project-why__img-icon layer" data-depth="0.80">
              </div>
            </div>
          </div>
          <div class="project-why__grid-box">
            <div class="project-why__caption caption caption_size_g">
              Агентство Atomic сотрудничает с&nbsp;Департаментом кашрута более 5 лет. За&nbsp;это время мы&nbsp;несколько раз модернизировали digital- инфраструктуру клиента: расширяли функционал, разрабатывали более современный дизайн.
            </div>
            
            <div class="project-why__caption caption caption_size_g">
              В&nbsp;2017 году перед компанией возникли принципиально новые задачи. Их&nbsp;решение потребовало частичной переработки логики проекта и&nbsp;создания нового функционала.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-issue">
    <div class="section__wrp project-issue__wrp">
      <div class="section__header section__header_compensate project-issue__header">
        <h2 class="section__heading heading heading_type_h2 project-issue__heading">
          Проблема клиента
        </h2>
      </div>
      
      <div class="section__body project-issue__body project-issue__body_size_s">
        <div class="project-issue__text">
          <div class="project-issue__caption project-issue__caption_num caption caption_size_g">
            Клиент располагает большой базой кошерной продукции, но&nbsp;поиск по&nbsp;ней на&nbsp;сайте долгое время был недостаточно удобным. Пользователям сайта приходилось долго искать информацию для проверки продукта на&nbsp;кошерность.
          </div>
          <div class="project-issue__caption project-issue__caption_num caption caption_size_g">
            Клиенту требовалось API, чтобы его базу кошерной продукции могли использовать как источник информации сторонние приложения и&nbsp;проекты, связанные с&nbsp;данной тематикой. Это&nbsp;бы способствовало популяризации кошерной еды, что в&nbsp;свою очередь повысило&nbsp;бы спрос на&nbsp;услуги Департамента.
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-task project-task_kosher">
    <div class="section__wrp project-task__wrp">
      <div class="section__header section__header_compensate project-task__header">
        <h2 class="section__heading heading heading_type_h2 project-task__heading">
          Задачи проекта
        </h2>
      </div>
      
      <div class="section__body project-task__body">
        <div class="project-task__icon-col icon-col icon-col_wide js-slider-icon-col">
          <div class="icon-col__list icon-col__list_grid-three">
            <div class="icon-col__item project-task__item">
              <div class="icon-col__img-wrp js-tilter">
                <img src="<%= asset_path 'projects/kosher/task/1.svg' %>" alt="kosher" class="icon-col__img tilter__figure">
                <img src="<%= asset_path 'projects/kosher/task/1_1.svg' %>" alt="kosher" class="icon-col__icons tilter__deco--lines">
                <img src="<%= asset_path 'projects/kosher/task/1_bg.svg' %>" alt="kosher" class="icon-col__bg">
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__caption caption caption_size_g">
                  Разработать для сайта <br class="xs-hide"/>удобные интерфейсы <br class="xs-hide"/>и&nbsp;более актуальный дизайн
                </div>
              </div>
            </div>
            <div class="icon-col__item project-task__item">
              <div class="icon-col__img-wrp js-tilter">
                <img src="<%= asset_path 'projects/kosher/task/2.svg' %>" alt="kosher" class="icon-col__img tilter__figure">
                <img src="<%= asset_path 'projects/kosher/task/2_1.svg' %>" alt="kosher" class="icon-col__icons tilter__deco--lines">
                <img src="<%= asset_path 'projects/kosher/task/2_bg.svg' %>" alt="kosher" class="icon-col__bg">
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__caption caption caption_size_g">
                  Реализовать на&nbsp;сайте инструмент быстрого поиска продукции для&nbsp;пользователей
                </div>
              </div>
            </div>
            <div class="icon-col__item project-task__item">
              <div class="icon-col__img-wrp js-tilter">
                <img src="<%= asset_path 'projects/kosher/task/3.svg' %>" alt="kosher" class="icon-col__img tilter__figure">
                <img src="<%= asset_path 'projects/kosher/task/3_1.svg' %>" alt="kosher" class="icon-col__icons tilter__deco--lines">
                <img src="<%= asset_path 'projects/kosher/task/3_bg.svg' %>" alt="kosher" class="icon-col__bg">
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__caption caption caption_size_g">
                  Разработать API для использования базы данных клиента в&nbsp;сторонних проектах
                </div>
              </div>
            </div>
          </div>
          
          <div class="icon-col__dots js-slider-icon-col-dots"></div>
        </div>
      </div>
      
      <div class="section__footer project-task__footer">
        <div class="project-task__caption caption caption_size_l">
          Сроки проекта: <span>3 месяца</span>
        </div>
      </div>
    </div>
  </section>
  
  
  
  <section class="section section_pad_large project-solution">
    <div class="section__wrp project-solution__wrp">
      <div class="section__header section__header_compensate project-solution__header">
        <h2 class="section__heading heading heading_type_h2 project-solution__heading">
          Решения
        </h2>
      </div>
      
      <div class="section__body project-solution__body">
        <div class="project-solution__block-list">
          <div class="project-solution__block scene">
            <div class="project-solution__block-title">
              1. Новая платформа проекта
            </div>
            
            <div class="project-solution__figure project-solution__figure_kosher">
              <div class="project-solution__figure-wrp">
                <img src="<%= asset_path 'projects/kosher/solution/figure_bg.svg' %>" alt="kosher" class="project-solution__figure-bg layer" data-depth="0.40">
                <img src="<%= asset_path 'projects/kosher/solution/figure_icon2.svg' %>" alt="kosher" class="project-solution__figure-icon2 layer" data-depth="0.60">
                <img src="<%= asset_path 'projects/kosher/solution/figure_icon.svg' %>" alt="kosher" class="project-solution__figure-icon layer" data-depth="0.80">
              </div>
            </div>
            
            <div class="project-solution__block-caption">
              Предыдущая версия сайта Департамента кашрута базировалась на&nbsp;CMS <nobr>&laquo;1С-Битрикс&raquo;</nobr>. Мы&nbsp;провели анализ целей проекта и&nbsp;приняли решение сменить платформу, разработав собственный продукт на&nbsp;фреймворке Ruby on&nbsp;Rails.
            </div>
            
            <div class="project-solution__block-caption">
              Функционал &laquo;Битрикса&raquo; имеет много преимуществ (например, отлично подходит для <nobr>интернет-магазинов</nobr>), но&nbsp;Ruby on&nbsp;Rails намного функциональнее для разработки API, создание которого было одной из&nbsp;главных задач данного проекта.
            </div>
          </div>
          
          <div class="project-solution__block">
            <div class="project-solution__block-title">
              2. Инфраструктура проекта
            </div>
            
            <div class="project-solution__img-path project-solution__img-path_kosher">
              <div class="project-solution__img-path-list">
                <div class="project-solution__img-path-row">
                  <div class="project-solution__img-path-item" data-index="1">
                    <div class="project-solution__img-path-img-wrp js-tilter">
                      <img src="<%= asset_path 'projects/kosher/solution/1.svg' %>" alt="kosher" class="project-solution__img-path-img tilter__figure">
                    </div>
                    
                    <div class="project-solution__img-path-text">
                      <div class="project-solution__img-path-caption caption caption_size_s">
                        Веб-приложение (сайт)
                      </div>
                    </div>
                  </div>
                  <div class="project-solution__img-path-item" data-index="2">
                    <div class="project-solution__img-path-img-wrp js-tilter">
                      <img src="<%= asset_path 'projects/kosher/solution/2.svg' %>" alt="kosher" class="project-solution__img-path-img tilter__figure">
                    </div>
                    
                    <div class="project-solution__img-path-text">
                      <div class="project-solution__img-path-caption caption caption_size_s">
                        Мобильное приложение
                      </div>
                    </div>
                  </div>
                  <div class="project-solution__img-path-item" data-index="3">
                    <div class="project-solution__img-path-img-wrp js-tilter">
                      <img src="<%= asset_path 'projects/kosher/solution/3.svg' %>" alt="kosher" class="project-solution__img-path-img tilter__figure">
                    </div>
                    
                    <div class="project-solution__img-path-text">
                      <div class="project-solution__img-path-caption caption caption_size_s">
                        Система администрирования
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="project-solution__img-path-row">
                  <div class="project-solution__img-path-path project-solution__img-path-path_horizontal">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 584 27"    
                    >
                      <path fill-rule="evenodd"
                          d="M582.000,7.996 L584.000,7.996 L584.000,11.994 L582.000,11.994 L582.000,7.996 ZM582.000,-0.004 L584.000,-0.004 L584.000,3.996 L582.000,3.996 L582.000,-0.004 ZM584.000,15.996 L583.997,19.972 L581.998,19.972 L582.000,15.996 L584.000,15.996 ZM578.535,26.971 L578.357,24.941 C579.469,24.839 580.498,24.260 581.178,23.351 L582.768,24.588 C581.748,25.951 580.205,26.820 578.535,26.971 ZM570.000,24.997 L574.000,24.997 L574.000,26.997 L570.000,26.997 L570.000,24.997 ZM562.000,24.997 L566.000,24.997 L566.000,26.997 L562.000,26.997 L562.000,24.997 ZM554.000,25.000 L558.000,25.000 L558.000,26.999 L554.000,26.999 L554.000,25.000 ZM546.000,25.000 L550.000,25.000 L550.000,26.999 L546.000,26.999 L546.000,25.000 ZM538.000,25.000 L542.000,25.000 L542.000,26.999 L538.000,26.999 L538.000,25.000 ZM530.000,25.000 L534.000,25.000 L534.000,26.999 L530.000,26.999 L530.000,25.000 ZM522.000,25.000 L526.000,25.000 L526.000,26.999 L522.000,26.999 L522.000,25.000 ZM514.000,25.000 L518.000,25.000 L518.000,26.999 L514.000,26.999 L514.000,25.000 ZM506.000,25.000 L510.000,25.000 L510.000,26.999 L506.000,26.999 L506.000,25.000 ZM498.000,25.000 L502.000,25.000 L502.000,26.999 L498.000,26.999 L498.000,25.000 ZM490.000,25.000 L494.000,25.000 L494.000,26.999 L490.000,26.999 L490.000,25.000 ZM482.000,25.000 L486.000,25.000 L486.000,26.999 L482.000,26.999 L482.000,25.000 ZM474.000,25.000 L478.000,25.000 L478.000,26.999 L474.000,26.999 L474.000,25.000 ZM466.000,25.000 L470.000,25.000 L470.000,26.999 L466.000,26.999 L466.000,25.000 ZM458.000,25.000 L462.000,25.000 L462.000,26.999 L458.000,26.999 L458.000,25.000 ZM450.000,25.000 L454.000,25.000 L454.000,26.999 L450.000,26.999 L450.000,25.000 ZM442.000,25.000 L446.000,25.000 L446.000,26.999 L442.000,26.999 L442.000,25.000 ZM434.000,25.000 L438.000,25.000 L438.000,26.999 L434.000,26.999 L434.000,25.000 ZM426.000,25.000 L430.000,25.000 L430.000,26.999 L426.000,26.999 L426.000,25.000 ZM418.000,25.000 L422.000,25.000 L422.000,26.999 L418.000,26.999 L418.000,25.000 ZM410.000,25.000 L414.000,25.000 L414.000,26.999 L410.000,26.999 L410.000,25.000 ZM402.000,25.000 L406.000,25.000 L406.000,26.999 L402.000,26.999 L402.000,25.000 ZM394.000,25.000 L398.000,25.000 L398.000,26.999 L394.000,26.999 L394.000,25.000 ZM386.000,25.000 L390.000,25.000 L390.000,26.999 L386.000,26.999 L386.000,25.000 ZM378.000,25.000 L382.000,25.000 L382.000,26.999 L378.000,26.999 L378.000,25.000 ZM370.000,25.000 L374.000,25.000 L374.000,26.999 L370.000,26.999 L370.000,25.000 ZM362.000,25.000 L366.000,25.000 L366.000,26.999 L362.000,26.999 L362.000,25.000 ZM354.000,25.000 L358.000,25.000 L358.000,26.999 L354.000,26.999 L354.000,25.000 ZM346.000,25.000 L350.000,25.000 L350.000,26.999 L346.000,26.999 L346.000,25.000 ZM338.000,25.000 L342.000,25.000 L342.000,26.999 L338.000,26.999 L338.000,25.000 ZM330.000,25.000 L334.000,25.000 L334.000,26.999 L330.000,26.999 L330.000,25.000 ZM322.000,25.000 L326.000,25.000 L326.000,26.999 L322.000,26.999 L322.000,25.000 ZM314.000,25.000 L318.000,25.000 L318.000,26.999 L314.000,26.999 L314.000,25.000 ZM306.000,25.000 L310.000,25.000 L310.000,26.999 L306.000,26.999 L306.000,25.000 ZM298.000,25.000 L302.000,25.000 L302.000,26.999 L298.000,26.999 L298.000,25.000 ZM290.000,25.000 L294.000,25.000 L294.000,26.999 L290.000,26.999 L290.000,25.000 ZM282.000,25.000 L286.000,25.000 L286.000,26.999 L282.000,26.999 L282.000,25.000 ZM274.000,25.000 L278.000,25.000 L278.000,26.999 L274.000,26.999 L274.000,25.000 ZM266.000,25.000 L270.000,25.000 L270.000,26.999 L266.000,26.999 L266.000,25.000 ZM258.000,25.000 L262.000,25.000 L262.000,26.999 L258.000,26.999 L258.000,25.000 ZM250.000,25.000 L254.000,25.000 L254.000,26.999 L250.000,26.999 L250.000,25.000 ZM242.000,25.000 L246.000,25.000 L246.000,26.999 L242.000,26.999 L242.000,25.000 ZM234.000,25.000 L238.000,25.000 L238.000,26.999 L234.000,26.999 L234.000,25.000 ZM226.000,25.000 L230.000,25.000 L230.000,26.999 L226.000,26.999 L226.000,25.000 ZM218.000,25.000 L222.000,25.000 L222.000,26.999 L218.000,26.999 L218.000,25.000 ZM210.000,25.000 L214.000,25.000 L214.000,26.999 L210.000,26.999 L210.000,25.000 ZM202.000,25.000 L206.000,25.000 L206.000,26.999 L202.000,26.999 L202.000,25.000 ZM194.000,25.000 L198.000,25.000 L198.000,26.999 L194.000,26.999 L194.000,25.000 ZM186.000,25.000 L190.000,25.000 L190.000,26.999 L186.000,26.999 L186.000,25.000 ZM178.000,25.000 L182.000,25.000 L182.000,26.999 L178.000,26.999 L178.000,25.000 ZM170.000,25.000 L174.000,25.000 L174.000,26.999 L170.000,26.999 L170.000,25.000 ZM162.000,25.000 L166.000,25.000 L166.000,26.999 L162.000,26.999 L162.000,25.000 ZM154.000,25.000 L158.000,25.000 L158.000,26.999 L154.000,26.999 L154.000,25.000 ZM146.000,25.000 L150.000,25.000 L150.000,26.999 L146.000,26.999 L146.000,25.000 ZM138.000,25.000 L142.000,25.000 L142.000,26.999 L138.000,26.999 L138.000,25.000 ZM130.000,25.000 L134.000,25.000 L134.000,26.999 L130.000,26.999 L130.000,25.000 ZM122.000,25.000 L126.000,25.000 L126.000,26.999 L122.000,26.999 L122.000,25.000 ZM114.000,25.000 L118.000,25.000 L118.000,26.999 L114.000,26.999 L114.000,25.000 ZM106.000,25.000 L110.000,25.000 L110.000,26.999 L106.000,26.999 L106.000,25.000 ZM98.000,25.000 L102.000,25.000 L102.000,26.999 L98.000,26.999 L98.000,25.000 ZM90.000,25.000 L94.000,25.000 L94.000,26.999 L90.000,26.999 L90.000,25.000 ZM82.000,25.000 L86.000,25.000 L86.000,26.999 L82.000,26.999 L82.000,25.000 ZM74.000,25.000 L78.000,25.000 L78.000,26.999 L74.000,26.999 L74.000,25.000 ZM66.000,25.000 L70.000,25.000 L70.000,26.999 L66.000,26.999 L66.000,25.000 ZM58.000,25.000 L62.000,25.000 L62.000,26.999 L58.000,26.999 L58.000,25.000 ZM50.000,25.000 L54.000,25.000 L54.000,26.999 L50.000,26.999 L50.000,25.000 ZM42.000,25.000 L46.000,25.000 L46.000,26.999 L42.000,26.999 L42.000,25.000 ZM34.000,25.000 L38.000,25.000 L38.000,26.999 L34.000,26.999 L34.000,25.000 ZM26.000,25.000 L30.000,25.000 L30.000,26.999 L26.000,26.999 L26.000,25.000 ZM18.000,24.997 L22.000,24.997 L22.000,26.997 L18.000,26.997 L18.000,24.997 ZM10.000,24.997 L14.000,24.997 L14.000,26.997 L10.000,26.997 L10.000,24.997 ZM1.232,24.588 L2.822,23.351 C3.502,24.260 4.531,24.839 5.643,24.941 L5.465,26.971 C3.795,26.820 2.252,25.951 1.232,24.588 ZM-0.000,15.996 L2.000,15.996 L2.002,19.972 L0.003,19.972 L-0.000,15.996 ZM-0.000,7.996 L2.000,7.996 L2.000,11.994 L-0.000,11.994 L-0.000,7.996 ZM-0.000,-0.004 L2.000,-0.004 L2.000,3.996 L-0.000,3.996 L-0.000,-0.004 Z"/>
                    </svg>
                  </div>
                  
                  <div class="project-solution__img-path-path">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="3px" height="36px"
                        viewBox="0 0 2 36"
                    >
                      <path d="M0,4V0H2V4Zm2,8H0V8H2Zm0,8H0V16H2Zm0,8H0V24H2Zm0,8H0V32H2Z"/>
                    </svg>
                  </div>
                </div>
                
                <div class="project-solution__img-path-row">
                  <div class="project-solution__img-path-item project-solution__img-path-item_small" data-index="4">
                    <div class="project-solution__img-path-img-wrp js-tilter">
                      <img src="<%= asset_path 'projects/kosher/solution/4.svg' %>" alt="kosher" class="project-solution__img-path-img tilter__figure">
                    </div>
                    
                    <div class="project-solution__img-path-text">
                      <div class="project-solution__img-path-caption caption caption_size_s">
                        API
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="project-solution__img-path-row">
                  <div class="project-solution__img-path-path">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="3px" height="36px"
                        viewBox="0 0 2 36"
                    >
                      <path d="M0,4V0H2V4Zm2,8H0V8H2Zm0,8H0V16H2Zm0,8H0V24H2Zm0,8H0V32H2Z"/>
                    </svg>
                  </div>
                </div>
                
                <div class="project-solution__img-path-row">
                  <div class="project-solution__img-path-item" data-index="5">
                    <div class="project-solution__img-path-img-wrp js-tilter">
                      <img src="<%= asset_path 'projects/kosher/solution/5.svg' %>" alt="kosher" class="project-solution__img-path-img tilter__figure">
                    </div>
                    
                    <div class="project-solution__img-path-text">
                      <div class="project-solution__img-path-caption caption caption_size_s">
                        База данных клиента
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="project-solution__block">
            <div class="project-solution__block-title">
              3. Разработка API
            </div>
            
            <div class="project-solution__block-caption">
              За&nbsp;15 лет работы Департамент кашрута собрал огромный объем информации по сертифицированным кошерным продуктам. Чтобы сторонние приложения могли использовать эти данные, не&nbsp;загружая их&nbsp;на&nbsp;свои сервера, мы&nbsp;разработали API.
            </div>
            
            <div class="project-solution__block-icon project-solution__block-icon_kosher">
              <div class="project-solution__block-icon-wrp js-tilter">
                <img src="<%= asset_path 'projects/kosher/solution/icon_1.svg' %>" alt="kosher" class="project-solution__block-icon-img tilter__figure">
                <img src="<%= asset_path 'projects/kosher/solution/icon_1_1.svg' %>" alt="kosher" class="project-solution__block-icon-icons tilter__deco--lines">
                <img src="<%= asset_path 'projects/kosher/solution/icon_bg.svg' %>" alt="kosher" class="project-solution__block-icon-bg">
              </div>
            </div>
            
            <div class="project-solution__block-caption">
              Это решение позволяет клиенту сотрудничать с&nbsp;различными проектами из&nbsp;отрасли продуктового ритейла, например, <nobr>онлайн-супермаркетами</nobr>. Имея доступ к&nbsp;базе Департамента кашрута и&nbsp;сравнивая его товарные позиции по&nbsp;своими по&nbsp;универсальным штрихкодам производителей, <nobr>онлайн-магазины</nobr> могут отображать данные о&nbsp;кошерности продуктов на&nbsp;своем сайте прямо в&nbsp;карточках товаров.
            </div>
          </div>
          
          <div class="project-solution__block">
            <div class="project-solution__block-title">
              4. Административная часть
            </div>
            
            <div class="project-solution__block-check-list project-solution__block-check-list_row check-list">
              <ul class="check-list__list">
                <li class="check-list__item">
                  <div class="check-list__caption">
                    <span>Только нужные функции</span>. Функционал отражает реальные <nobr>бизнес-процессы</nobr>: позволяет редактировать объекты (продукт, магазин, ресторан <nobr>и т. д.</nobr>), загружать контент <nobr>и т. д.</nobr>
                  </div>
                </li>
                <li class="check-list__item">
                  <div class="check-list__caption">
                    <span>Сокращение трудозатрат на&nbsp;администрирование</span>. Простой интерфейс без лишних полей упрощает и&nbsp;ускоряет работу <nobr>контент-менеджеров</nobr>.
                  </div>
                </li>
                <li class="check-list__item">
                  <div class="check-list__caption">
                    <span>Инструмент для <nobr>email-маркетинга</nobr></span>. Функционал для создания рассылок реализован с&nbsp;помощью API сервиса MailChimp.
                  </div>
                </li>
                <li class="check-list__item">
                  <div class="check-list__caption">
                    <span>Ускоренная разработка</span>. Значительно сократить сроки создания &laquo;админки&raquo; с&nbsp;нуля нам помогли собственные наработки.
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="project-solution__block">
            <div class="project-solution__block-title">
              5. Морфологический поиск
            </div>
            
            <div class="project-solution__block-caption">
              Ранее для того, чтобы найти нужный продукт на&nbsp;сайте, требовалось ввести в&nbsp;строку поиска его точное название. Реализованный нами морфологический поиск с&nbsp;автоподсказками, учитывающий все формы слова, позволяет находить нужные продукты, вводя неполные или неточные запросы.
            </div>
            
            <div class="project-solution__block-img">
              <img src="<%= asset_path 'projects/kosher/solution/1.jpg' %>" alt="kosher">
            </div>
            
            <div class="project-solution__block-caption">
              Также поиск стал более быстрым. Мы&nbsp;проиндексировали все таблицы и&nbsp;поля в&nbsp;базе данных, и&nbsp;время отклика на&nbsp;пользовательские запросы сократилось в&nbsp;3 раза.
            </div>
            
            <div class="project-solution__block-caption">
              В&nbsp;мобильном приложении этого проекта поиск автоматизирован: в&nbsp;нем реализован сканер штрихкода
            </div>
          </div>
          <div class="project-solution__block">
            <div class="project-solution__block-title">
              6. Удобные интерфейсы и&nbsp;современный дизайн
            </div>
            
            <div class="project-solution__block-caption">
              Для сайта было разработано новое, более современное визуальное решение.
            </div>
            
            <div class="project-solution__block-img">
              <img src="<%= asset_path 'projects/kosher/solution/2.jpg' %>" alt="kosher">
            </div>
            
            <div class="project-solution__block-img">
              <div class="project-solution__block-img-row project-solution__block-img-row_auto">
                <img src="<%= asset_path 'projects/kosher/solution/3.png' %>" alt="kosher">
                
                <img src="<%= asset_path 'projects/kosher/solution/4.png' %>" alt="kosher">
              </div>
              
              <div class="project-solution__block-img-caption">
                Адаптивная версия обеспечивает удобство просмотра сайта kosher.ru с&nbsp;любого мобильного устройства.
              </div>
            </div>
            
            <div class="project-solution__block-caption">
              Новая структура сайта учитывает пользовательские сценарии. На&nbsp;главной странице предусмотрено три точки входа для разных сегментов целевой аудитории&nbsp;&mdash; потребителей, торговых сетей и&nbsp;производителей.
            </div>
            
            <div class="project-solution__block-img project-solution__block-img_small">
              <img src="<%= asset_path 'projects/kosher/solution/5.jpg' %>" alt="kosher">
            </div>
            
            <div class="project-solution__block-caption project-solution__block-caption_align_center">
              Навигация по&nbsp;разделам максимально проста.
            </div>
            
            <div class="project-solution__block-img">
              <img src="<%= asset_path 'projects/kosher/solution/6.jpg' %>" alt="kosher">
            </div>
            
            <div class="project-solution__block-caption">
              У&nbsp;каждого производителя и&nbsp;продукта есть информационная карточка. В&nbsp;карточке продукта содержится его изображение, информация о&nbsp;производителе и&nbsp;торговой марке, а&nbsp;также знак кошерности&nbsp;&mdash; особая характеристика, которая указывает на&nbsp;степень соответствия продукта требованиям Кашрута.
            </div>
            
            <div class="project-solution__block-img">
              <div class="project-solution__block-img-row project-solution__block-img-row_half">
                <img src="<%= asset_path 'projects/kosher/solution/7.jpg' %>" alt="kosher">
                
                <img src="<%= asset_path 'projects/kosher/solution/8.jpg' %>" alt="kosher">
              </div>
            </div>
            
            <div class="project-solution__block-caption">
              Иконки, созданные для проекта, отличаются детальностью и&nbsp;привлекают внимание контрастным сочетанием цветов фирменного стиля.
            </div>
            
            <div class="project-solution__icons-list">
              <div class="project-solution__icons-list-row project-solution__icons-list-row_large">
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/1.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/2.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/3.svg' %>" alt="kosher">
                </div>
              </div>
              <div class="project-solution__icons-list-row project-solution__icons-list-row_small">
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/4.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/5.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/6.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/7.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/8.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/9.svg' %>" alt="kosher">
                </div>
              </div>
              <div class="project-solution__icons-list-row project-solution__icons-list-row_small">
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/10.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/11.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/12.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/13.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/14.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/15.svg' %>" alt="kosher">
                </div>
              </div>
              <div class="project-solution__icons-list-row project-solution__icons-list-row_large project-solution__icons-list-row_center">
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/16.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/17.svg' %>" alt="kosher">
                </div>
                <div class="project-solution__icons-list-icon">
                  <img src="<%= asset_path 'projects/kosher/solution/icons/18.svg' %>" alt="kosher">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-screen">
    <div class="section__wrp project-screen__wrp">
      <div class="section__header section__header_compensate project-screen__header">
        <h2 class="section__heading heading heading_type_h2">
          <span class="section__heading-text">
            Экраны проекта
          </span>
        </h2>
      </div>
      
      <div class="section__body project-screen__body">
        <div class="project-screen__text">
          <div class="project-screen__caption caption caption_size_g">
            Для внутренних страниц сайта было отрисовано более 50 индивидуальных <nobr>дизайн-макетов</nobr>. Их&nbsp;объединяют визуальная простота и&nbsp;большой объем свободного пространства между элементами. Это облегчает восприятие информации и&nbsp;обеспечивает минимальное изменение страниц при масштабировании.
          </div>
        </div>
        
        <div class="project-screen__nav">
          <div class="project-screen__nav-list">
            <div class="project-screen__nav-item js-project-screen-nav active" data-toggle="1">
              Карточка товара
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="2">
              Карточка производителя
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="3">
              Поиск
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="4">
              Категории продуктов
            </div>
<!--             <div class="project-screen__nav-item js-project-screen-nav" data-toggle="5">
              Дебиторка
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="6">
              Текущие расходы
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="7">
              Товарооборот
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="8">
              Поставщики
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="9">
              Настройки
            </div>
            <div class="project-screen__nav-item js-project-screen-nav" data-toggle="10">
              Текущие расходы
            </div> -->
          </div>
        </div>
        
        <div class="project-screen__slider swiper-container js-slider-project-screen">
          <div class="project-screen__slider-wrapper swiper-wrapper">
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/1.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/2.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/3.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/4.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/1.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/2.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/3.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/4.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/1.jpg' %>" alt="kosher">
              </div>
            </div>
            <div class="project-screen__slide swiper-slide">
              <div class="project-screen__slide-wrp">
                <img src="<%= asset_path 'projects/kosher/screen/2.jpg' %>" alt="kosher">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-style">
    <div class="section__wrp project-style__wrp">
      <div class="section__body project-style__body project-issue__body_size_s">
        <div class="project-style__text">
          <div class="project-style__caption caption caption_size_g">
            Основными цветами сайта являются белый, оттенки бирюзового, <nobr>янтарно-желтый</nobr> и&nbsp;антрацитовый (<nobr>темно-серый</nobr>). Большое количество белого создает ощущение легкости, бирюзовые элементы ассоциируются со&nbsp;свежестью, желтые привлекают внимание.
          </div>
          <div class="project-style__caption caption caption_size_g">
            Шрифты без засечек создают акценты на&nbsp;содержании надписей и&nbsp;помогают визуально разгрузить текстовые блоки.
          </div>
        </div>
        
        <div class="project-style__style-box">
          <style>
            @import url('https://fonts.googleapis.com/css?family=Rubik:300,400&subset=cyrillic');
          </style>
          
          <div class="project-style__title caption caption_size_xl">
            Rubik light
          </div>
          
          <div class="project-style__example-list">
            <div class="project-style__example-item project-style__example-item_letters">
              <div class="project-style__example-wrp">
                <div class="project-style__example-text">
                  а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_letters">
              <div class="project-style__example-wrp">
                <div class="project-style__example-text project-style__example-text_upper">
                  а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ы ь э ю я
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_colors">
              <div class="project-style__example-wrp">
                <div class="project-style__example-color project-style__example-color_dark">
                  #535d63
                </div>
                <div class="project-style__example-color project-style__example-color_yellow">
                  #eecb3c
                </div>
                <div class="project-style__example-color project-style__example-color_blue">
                  #00bebe
                </div>
                <div class="project-style__example-color project-style__example-color_light">
                  #ececec
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_arrows">
              <div class="project-style__example-wrp">
                <div class="project-style__example-arrow">
                  <svg>
                    <use xlink:href="#ic-arrow-left"></use>
                  </svg>
                </div>
                <div class="project-style__example-arrow">
                  <svg>
                    <use xlink:href="#ic-arrow-right"></use>
                  </svg>
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_slider">
              <div class="project-style__example-wrp">
                <div class="project-style__example-slider">
                  <div class="project-style__example-current">
                    <div class="project-style__example-toggle">
                      2 550
                    </div>
                    <div class="project-style__example-toggle project-style__example-toggle_hover">
                      5 500
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_pagination">
              <div class="project-style__example-wrp">
                <div class="project-style__example-page project-style__example-page_active">
                  1
                </div>
                <div class="project-style__example-page">
                  2
                </div>
                <div class="project-style__example-page">
                  3
                </div>
                <div class="project-style__example-page project-style__example-page_hover">
                  4
                </div>
                <div class="project-style__example-page">
                  5
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_gallery">
              <div class="project-style__example-wrp">
                <div class="project-style__example-img">
                  <img src="<%= asset_path 'projects/kosher/example.jpg' %>" alt="kosher">
                </div>
                <div class="project-style__example-img project-style__example-img_hover">
                  <img src="<%= asset_path 'projects/kosher/example.jpg' %>" alt="kosher">
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_input">
              <div class="project-style__example-wrp">
                <div class="project-style__example-parametr project-style__example-parametr_error">
                  <label for="kosher-1" class="project-style__example-label">
                    Ваше имя <span>*</span>
                  </label>
                  <input type="text" class="project-style__example-input" value="Достоевский1234" id="kosher-1">
                  <span class="project-style__example-error">Поле некорректно заполнено</span>
                </div>
              </div>
            </div>
            
            <div class="project-style__example-item project-style__example-item_input">
              <div class="project-style__example-wrp">
                <div class="project-style__example-parametr project-style__example-parametr_complete">
                  <label for="kosher-2" class="project-style__example-label">
                    Название организации
                  </label>
                  <input type="text" class="project-style__example-input" value="Заполненное поле" id="kosher-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_medium project-result project-result_kosher">
    <div class="section__wrp project-result__wrp">
      <div class="section__header section__header_compensate project-result__header">
        <h2 class="section__heading heading heading_type_h2 project-result__heading">
          Результаты
        </h2>
      </div>
      
      <div class="section__body project-result__body">
        <div class="project-result__check-list check-list check-list_four">
          <ul class="check-list__list">
            <li class="check-list__item">
              <div class="check-list__caption">
                Разработка и&nbsp;запуск нового сайта с&nbsp;эффективным поиском
              </div>
            </li>
            <li class="check-list__item">
              <div class="check-list__caption">
                Создание API для связи базы данных со сторонними проектами
              </div>
            </li>
            <li class="check-list__item">
              <div class="check-list__caption">
                Обновление дизайна и&nbsp;интерфейсов проекта
              </div>
            </li>
            <li class="check-list__item">
              <div class="check-list__caption">
                Сокращение трудозатрат на&nbsp;администрирование сайта
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-review">
    <div class="section__wrp project-review__wrp">
      <div class="section__body project-review__body">
        <div class="project-review__grid">
          <div class="project-review__grid-img">
            <div class="project-review__img js-tilter">
              <img src="<%= asset_path 'leadership/anton.png' %>" class="project-review__photo project-review__photo_smaller tilter__figure">
            </div>
          </div>
          
          <div class="project-review__grid-review">
            <div class="project-review__review">
              <div class="project-review__review-title heading heading_type_h6">
                Антон Костин
              </div>
              
              <div class="project-review__review-subhead caption caption_size_s">
                Руководитель разработки Atomic.
              </div>
              
              <div class="project-review__review-caption caption caption_size_g">
                &laquo;С&nbsp;Департаментом кашрута мы&nbsp;сотрудничаем с&nbsp;2012 года. За&nbsp;это время мы&nbsp;досконально изучили специфику бизнеса клиента и&nbsp;потому можем предлагать наиболее точные решения и&nbsp;релевантные технологии.
              </div>
              
              <div class="project-review__review-caption caption caption_size_g">
                В&nbsp;этом проекте мы&nbsp;сделали акцент на&nbsp;удобство: искать товары легко, все интерфейсы полностью интуитивны, есть удобная &laquo;админка&raquo;, для интеграции сторонних проектов с&nbsp;базой данных клиента разработан API. Все решения полностью отвечают целям клиента&nbsp;&mdash; укрепить связи с&nbsp;аудиторией и&nbsp;получить возможность популяризировать свои услуги&raquo;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section green-banner green-banner_project">
    <span class="green-banner__bg" style="background-image: url(img/projects/inpas/green.jpg);"></span>
    
    <div class="section__wrp green-banner__wrp">
      <h2 class="green-banner__heading section__heading heading heading_type_h2">
        Нужен мощный и&nbsp;точный <nobr>digital-инструмент</nobr> для бизнеса?
      </h2>
      
      <div class="green-banner__buttons">
        <a href="javascript:void(0);"
            class="green-banner__button button button_theme_accent button_size_l js-popup">
          Напишите нам
        </a>
      </div>
    </div>
  </section>
</main>