<%- meta title: "Раменский мясокомбинат | Проекты"
    meta og: { title: "Раменский мясокомбинат | Проекты" }
    %>

<main class="main">
  <section class="section section_first project project_ramensky">
    <div class="section__wrp project__wrp">
      <div class="section__header section__header_compensate project__header">
        <h1 class="section__heading heading heading_type_h2 project__heading">
          <span class="section__heading-text">Раменский мясокомбинат</span>
        </h1>
        
        <div class="section__caption caption caption_size_l">
          Автоматизация <nobr>бизнес-процессов</nobr>
        </div>
      </div>
      
      <div class="section__body project__body project__body_size_m">
        <div class="project__preview">
          <img class="project__preview-img" src="<%= asset_path 'projects/ramensky/preview.png' %>" alt="ramensky">
        </div>
      </div>
      
      <div class="section__footer project__footer">
        <div class="project__plus-col plus-col">
          <div class="plus-col__list">
            <div class="plus-col__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
              <div class="plus-col__body">
                <div class="plus-col__title heading heading_type_h4">
                  3 млрд рублей
                </div>
                
                <div class="plus-col__caption caption caption_size_g">
                  Годовой оборот
                </div>
              </div>
            </div>
            <div class="plus-col__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
              <div class="plus-col__body">
                <div class="plus-col__title heading heading_type_h4">
                  45&nbsp;+
                </div>
                
                <div class="plus-col__caption caption caption_size_g">
                  Фирменных магазинов
                </div>
              </div>
            </div>
            <div class="plus-col__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
              <div class="plus-col__body">
                <div class="plus-col__title heading heading_type_h4">
                  400
                </div>
                
                <div class="plus-col__caption caption caption_size_g">
                  Человек в&nbsp;коллективе
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-issue scene">
    <div class="section__wrp project-issue__wrp">
      <div class="section__header section__header_compensate project-issue__header">
        <h2 class="section__heading heading heading_type_h2 project-issue__heading">
          <span class="section__heading-text">Проблема</span>
        </h2>
      </div>
      
      <div class="section__body project-issue__body project-issue__body_size_m">
        <div class="project-issue__grid-icon js-animation js-animation_fadeInUp" data-animation-delay="0">
          <div class="project-issue__grid-icon-icon">
            <div class="project-issue__icon project-issue__icon_ramensky">
              <div class="project-issue__icon-wrp">
                <img src="<%= asset_path 'projects/ramensky/issue/bg.svg' %>" alt="ramensky" class="project-issue__icon-bg layer" data-depth="0.40">
                <img src="<%= asset_path 'projects/ramensky/issue/icon2.svg' %>" alt="ramensky" class="project-issue__icon-icon2 layer" data-depth="0.60">
                <img src="<%= asset_path 'projects/ramensky/issue/icon.svg' %>" alt="ramensky" class="project-issue__icon-icon layer" data-depth="0.80">
              </div>
            </div>
          </div>
          <div class="project-issue__grid-icon-box">
            <div class="project-issue__caption caption caption_size_g">
              До&nbsp;начала проекта <nobr>бизнес-процессы</nobr> розничной сети мясокомбината не&nbsp;были автоматизированы. Весь документооборот магазинов осуществлялся на&nbsp;бумаге, что означало большие трудозатраты, сложность контроля, высокий риск ошибок и&nbsp;серьезные трудности при развитии.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-goal">
    <div class="section__wrp project-goal__wrp">
      <div class="section__header section__header_compensate project-goal__header">
        <h2 class="section__heading heading heading_type_h2 project-goal__heading">
          <span class="section__heading-text">Цели проекта</span>
        </h2>
      </div>
      
      <div class="section__body project-goal__body project-goal__body_size_m">
        <div class="project-goal__arrow-col arrow-col">
          <div class="arrow-col__list">
            <div class="arrow-col__item js-animation js-animation_fadeInLeft" data-animation-delay="300ms">
              <div class="arrow-col__icon">
                <svg>
                  <use xlink:href="#ic-arrow-col"></use>
                </svg>
              </div>
              <div class="arrow-col__text">
                <div class="arrow-col__caption caption caption_size_l">
                  Повысить рентабельность розничной сети
                </div>
              </div>
            </div>
            <div class="arrow-col__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
              <div class="arrow-col__icon">
                <svg>
                  <use xlink:href="#ic-arrow-col"></use>
                </svg>
              </div>
              <div class="arrow-col__text">
                <div class="arrow-col__caption caption caption_size_l">
                  Увеличить прозрачность
                  ее&nbsp;финансовых процессов
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_medium project-task project-task_ramensky">
    <div class="section__wrp project-task__wrp">
      <div class="section__header section__header_compensate project-task__header">
        <h2 class="section__heading heading heading_type_h2 project-task__heading">
          <span class="section__heading-text">Задача</span>
        </h2>
      </div>
      
      <div class="section__body project-task__body">
        <div class="project-task__icon-col icon-col icon-col_wide">
          <div class="icon-col__list icon-col__list_grid-three">
            <div class="icon-col__item project-task__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
              <div class="icon-col__img-wrp js-tilter">
                <img src="<%= asset_path 'projects/ramensky/task/1.svg' %>" alt="ramensky" class="icon-col__img tilter__figure">
                <img src="<%= asset_path 'projects/ramensky/task/1_1.svg' %>" alt="ramensky" class="icon-col__icons tilter__deco--lines">
                <img src="<%= asset_path 'projects/ramensky/task/1_bg.svg' %>" alt="ramensky" class="icon-col__bg">
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__caption caption caption_size_g">
                  Разработать <nobr>ERP-систему</nobr> <br class="xs-show"/>для автоматизации розничной торговли
                </div>
              </div>
            </div>
            <div class="icon-col__item project-task__item js-animation js-animation_fadeInDown" data-animation-delay="0">
              <div class="icon-col__img-wrp js-tilter">
                <img src="<%= asset_path 'projects/ramensky/task/2.svg' %>" alt="ramensky" class="icon-col__img tilter__figure">
                <img src="<%= asset_path 'projects/ramensky/task/2_1.svg' %>" alt="ramensky" class="icon-col__icons tilter__deco--lines">
                <img src="<%= asset_path 'projects/ramensky/task/2_bg.svg' %>" alt="ramensky" class="icon-col__bg">
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__caption caption caption_size_g">
                  Внедрить безопасное решение <br class="xs-show" />для касс (без выхода в&nbsp;интернет)
                </div>
              </div>
            </div>
            <div class="icon-col__item project-task__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
              <div class="icon-col__img-wrp js-tilter">
                <img src="<%= asset_path 'projects/ramensky/task/3.svg' %>" alt="ramensky" class="icon-col__img tilter__figure">
                <img src="<%= asset_path 'projects/ramensky/task/3_1.svg' %>" alt="ramensky" class="icon-col__icons tilter__deco--lines">
                <img src="<%= asset_path 'projects/ramensky/task/3_bg.svg' %>" alt="ramensky" class="icon-col__bg">
              </div>
              
              <div class="icon-col__text">
                <div class="icon-col__caption caption caption_size_g">
                  Интегрировать продукт <br class="xs-show" />с&nbsp;бухгалтерской системой комбината
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_lighter project-why project-why_ramensky scene">
    <div class="section__wrp project-why__wrp">
      <div class="section__header section__header_compensate project-why__header">
        <h2 class="section__heading project-why__heading heading heading_type_h2">
          <span class="section__heading-text">Почему клиент выбрал <br class="sm-show"/>Atomic?</span>
        </h2>
      </div>
      
      <div class="section__body project-why__body project-why__body_size_s">
        <div class="project-why__grid project-why__grid_start js-animation js-animation_fadeInUp" data-animation-delay="0">
          <div class="project-why__grid-img">
            <div class="project-why__img project-why__img_ramensky">
              <div class="project-why__img-wrp">
                <img src="<%= asset_path 'projects/ramensky/why/bg.svg' %>" alt="ramensky" class="project-why__img-bg layer" data-depth="0.40">
                <img src="<%= asset_path 'projects/ramensky/why/icon2.svg' %>" alt="ramensky" class="project-why__img-icon2 layer" data-depth="0.60">
                <img src="<%= asset_path 'projects/ramensky/why/icon.svg' %>" alt="ramensky" class="project-why__img-icon layer" data-depth="0.80">
              </div>
            </div>
          </div>
          <div class="project-why__grid-box">
            <div class="project-why__caption caption caption_size_g">
              Агентство обладает большой экспертизой и&nbsp;опытом по&nbsp;переводу <nobr>бизнес-процессов</nobr> производства в&nbsp;онлайн. Клиент оценил наши предыдущие работы&nbsp;&mdash; например, &laquo;облачное&raquo; решение для автоматизации салонов красоты (<nobr>ERP-система</nobr> GetBam), нацеленное на&nbsp;повышение рентабельности бизнеса.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-time">
    <div class="section__wrp project-time__wrp">
      <div class="section__header section__header_compensate project-time__header">
        <h2 class="section__heading heading heading_type_h2 project-time__heading">
          <span class="section__heading-text">Сроки</span>
        </h2>
      </div>
      
      <div class="section__body project-time__body">
        <div class="project-time__box-row box-row">
          <div class="box-row__list">
            <div class="box-row__item js-animation js-animation_fadeInUp" data-animation-delay="0">
              <div class="box-row__caption caption caption_size_g">
                Разработка и&nbsp;запуск первой версии:<br />
                <span>Март&nbsp;&mdash; август 2015 года</span>
              </div>
            </div>
            <span class="box-row__sep js-animation js-animation_fadeInUp" data-animation-delay="200ms"></span>
            <div class="box-row__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
              <div class="box-row__caption caption caption_size_g">
                Развитие и&nbsp;поддержка продукта:<br />
                <span>Август 2015&nbsp;&mdash; настоящее время</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-decision project-decision_ramensky">
    <div class="section__wrp project-decision__wrp">
      <div class="section__header section__header_compensate project-decision__header">
        <h2 class="section__heading project-decision__heading heading heading_type_h2">
          <span class="section__heading-text">Решение</span>
        </h2>
      </div>
      
      <div class="section__body project-decision__body">
        <div class="project-decision__grid">
          <div class="project-decision__grid-img js-animation js-animation_bounceInLong" data-animation-delay="0">
            <div class="project-decision__img">
              <div class="project-decision__img-wrp js-tilter">
                <img class="tilter__figure" src="<%= asset_path 'projects/ramensky/decision/img.png' %>" alt="ramensky">
              </div>
              
              <div class="project-decision__caption caption caption_size_l">
                Платформа.<br />
                Для разработки <nobr>ERP-системы</nobr> мы&nbsp;выбрали CMS &laquo;<nobr>1C-Битрикс</nobr>: Управление сайтом&raquo;.
              </div>
            </div>
          </div>
          <div class="project-decision__grid-box">
            <div class="project-decision__grid-title js-animation js-animation_fadeInUp" data-animation-delay="400ms">
              Преимущества
            </div>
            
            <div class="project-decision__icon-row icon-row icon-row_clear">
              <div class="icon-row__list">
                <div class="icon-row__item project-decision__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                  <div class="icon-row__img-wrp js-tilter">
                    <img src="<%= asset_path 'projects/ramensky/decision/1.svg' %>" alt="ramensky" class="icon-row__img tilter__figure">
                    <img src="<%= asset_path 'projects/ramensky/decision/1_1.svg' %>" alt="ramensky" class="icon-row__icons tilter__deco--lines">
                    <img src="<%= asset_path 'projects/ramensky/decision/1_bg.svg' %>" alt="ramensky" class="icon-row__bg">
                  </div>
                  
                  <div class="icon-row__text">
                    <div class="icon-row__caption caption caption_size_g">
                      Высокий уровень защищенности<br />
                      от&nbsp;взлома (проактивный фильтр, встроенный антивирус, сканер безопасности, одноразовые пароли и&nbsp;другое).
                    </div>
                  </div>
                </div>
                <div class="icon-row__item project-decision__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                  <div class="icon-row__img-wrp js-tilter">
                    <img src="<%= asset_path 'projects/ramensky/decision/2.svg' %>" alt="ramensky" class="icon-row__img tilter__figure">
                    <img src="<%= asset_path 'projects/ramensky/decision/2_1.svg' %>" alt="ramensky" class="icon-row__icons tilter__deco--lines">
                    <img src="<%= asset_path 'projects/ramensky/decision/2_bg.svg' %>" alt="ramensky" class="icon-row__bg">
                  </div>
                  
                  <div class="icon-row__text">
                    <div class="icon-row__caption caption caption_size_g">
                      Большой функционал для управления <nobr>интернет-магазином</nobr>&nbsp;&mdash; удобная база для разработки функционала управления розничными магазинами.
                    </div>
                  </div>
                </div>
                <div class="icon-row__item project-decision__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                  <div class="icon-row__img-wrp js-tilter">
                    <img src="<%= asset_path 'projects/ramensky/decision/3.svg' %>" alt="ramensky" class="icon-row__img tilter__figure">
                    <img src="<%= asset_path 'projects/ramensky/decision/3_1.svg' %>" alt="ramensky" class="icon-row__icons tilter__deco--lines">
                    <img src="<%= asset_path 'projects/ramensky/decision/3_bg.svg' %>" alt="ramensky" class="icon-row__bg">
                  </div>
                  
                  <div class="icon-row__text">
                    <div class="icon-row__caption caption caption_size_g">
                      Прогрессивные технологии и&nbsp;&laquo;облачные&raquo; сервисы (ускорение сайта, высокая производительность, персонализация системы управления и&nbsp;др.).
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-how">
    <div class="section__wrp project-how__wrp">
      <div class="section__header section__header_compensate project-how__header">
        <h2 class="section__heading project-how__heading heading heading_type_h2">
          <span class="section__heading-text">
            Как это работает?
          </span>
        </h2>
        
        <div class="section__caption caption caption_size_l">
          <nobr>ERP-система</nobr> автоматизирует все значимые <nobr>бизнес-процессы</nobr> розничной торговли комбината
        </div>
      </div>
      
      <div class="section__body project-how__body">
        <div class="project-how__line-row line-row line-row_center line-row_border">
          <div class="line-row__list js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
            <div class="line-row__item">
              <span class="line-row__dot"></span>
              <div class="line-row__text">
                <div class="line-row__caption caption caption_size_g">
                  Формирование поставок для <br class="xs-show"/>магазинов на&nbsp;комбинате
                </div>
              </div>
            </div>
            <div class="line-row__item">
              <span class="line-row__dot"></span>
              <div class="line-row__text">
                <div class="line-row__caption caption caption_size_g">
                  Прием продукции работником <br class="xs-show"/>торговой точки
                </div>
              </div>
            </div>
            <div class="line-row__item">
              <span class="line-row__dot"></span>
              <div class="line-row__text">
                <div class="line-row__caption caption caption_size_g">
                  Учет продукции на&nbsp;складах
                </div>
              </div>
            </div>
            <div class="line-row__item">
              <span class="line-row__dot"></span>
              <div class="line-row__text">
                <div class="line-row__caption caption caption_size_g">
                  Оформление всех сопутствующих документов
                </div>
              </div>
            </div>
            <div class="line-row__item">
              <span class="line-row__dot"></span>
              <div class="line-row__text">
                <div class="line-row__caption caption caption_size_g">
                  Контроль расхода продуктов на <br class="xs-show"/>производстве <br class="xs-hide"/>
                  в&nbsp;розничных магазинах.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-prop project-prop_ramensky">
    <div class="section__wrp project-prop__wrp">
      <div class="section__header section__header_compensate project-prop__header">
        <h2 class="section__heading project-prop__heading heading heading_type_h2">
          <span class="section__heading-text">Особенности товарного учета</span>
        </h2>
      </div>
      
      <div class="section__body project-prop__body">
        <div class="project-prop__grid">
          <div class="project-prop__grid-img js-animation js-animation_fadeInLeft" data-animation-delay="0">
            <div class="project-prop__img">
              <img src="<%= asset_path 'projects/ramensky/prop/img.jpg' %>" alt="ramensky">
            </div>
          </div>
          <div class="project-prop__grid-box">
            <ul class="project-prop__dot-list dot-list dot-list_dot_large">
              <li class="dot-list__item js-animation js-animation_fadeInRight" data-animation-delay="0">
                <div class="dot-list__caption">
                  Единая база товаров для всех магазинов (более 80 тыс. позиций на&nbsp;2017 год).
                </div>
              </li>
              <li class="dot-list__item js-animation js-animation_fadeInRight" data-animation-delay="100ms">
                <div class="dot-list__caption">
                  Можно менять цены при оприходовании товара для соответствия закупочным ценам.
                </div>
              </li>
              <li class="dot-list__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                <div class="dot-list__caption">
                  Магазины могут создавать собственные товары, которые будут видны только им.
                </div>
              </li>
              <li class="dot-list__item js-animation js-animation_fadeInRight" data-animation-delay="300ms">
                <div class="dot-list__caption">
                  Возможность создавать <nobr>прайс-листы</nobr> со&nbsp;спец. предложениями (акции, скидки <nobr>и т. д.</nobr>).
                </div>
              </li>
              <li class="dot-list__item js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                <div class="dot-list__caption">
                  В карточке товара отображается вся статистика изменения его стоимости.
                </div>
              </li>
              <li class="dot-list__item js-animation js-animation_fadeInRight" data-animation-delay="500ms">
                <div class="dot-list__caption">
                  Два вида инвентаризации: для синхронизации базы и&nbsp;для сверки количества товаров.
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-solution project-solution_ramensky">
    <div class="section__wrp project-solution__wrp">
      <div class="section__header section__header_compensate project-solution__header">
        <h2 class="section__heading heading heading_type_h2 project-solution__heading">
          <span class="section__heading-text">Что дает автоматизация?</span>
        </h2>
      </div>
      
      <div class="section__body project-solution__body">
        <div class="project-solution__block-list">
          <div class="project-solution__block js-animation js-animation_fadeInUp" data-animation-delay="0">
            <div class="project-solution__block-title">
              Электронный документооборот сокращает трудозатраты
            </div>
            
            <div class="project-solution__block-caption project-solution__block-caption_align_center">
              Значительный объем работы в&nbsp;розничных магазинах связан с&nbsp;приемкой и&nbsp;учетом товара.
            </div>
          </div>
          
          <div class="project-solution__block js-animation js-animation_fadeInUp" data-animation-delay="0">
            <div class="project-solution__block-title">
              Автоматизация производства позволяет контролировать расход&nbsp;продуктов
            </div>
            
            <div class="project-solution__block-caption">
              В&nbsp;<nobr>ERP-системе</nobr> есть отдельный модуль, автоматизирующий производство в&nbsp;розничных магазинах&nbsp;&mdash; например, работу пекарен, где готовят бургеры.
            </div>
          </div>
          
          <div class="project-solution__block js-animation js-animation_fadeInUp" data-animation-delay="0">
            <div class="project-solution__block-title">
              Учет товаров исключает ошибки и&nbsp;воровство
            </div>
            
            <div class="project-solution__block-caption">
              Раньше у&nbsp;сотрудника, принимающего товар, была возможность умышленно или случайно не&nbsp;досчитать его. С&nbsp;автоматизацией процесса приемки товара такие риски минимизируются.
            </div>
            
            <div class="project-solution__block-img project-solution__block-img_margin_large">
              <img src="<%= asset_path 'projects/ramensky/solution/1.jpg' %>" alt="ramensky">
            </div>
          </div>
          
          <div class="project-solution__block js-animation js-animation_fadeInUp" data-animation-delay="0">
            <div class="project-solution__block-cols">
              <div class="project-solution__block-cols-item js-animation js-animation_fadeInLeft" data-animation-delay="100ms">
                <div class="project-solution__block-cols-title">
                  До автоматизации
                </div>
                
                <div class="project-solution__block-cols-caption">
                  Продукты для бургеров (мука, яйца, фарш) не&nbsp;проходили через кассу и&nbsp;было невозможно проследить, в&nbsp;каком количестве они расходуются.
                </div>
                
                <div class="project-solution__block-cols-caption project-solution__block-cols-caption_center">
                  <span>Работа по&nbsp;приемке и&nbsp;учету товара занимала несколько часов.</span>
                </div>
              </div>
              
              <div class="project-solution__block-cols-item js-animation js-animation_fadeInRight" data-animation-delay="100ms">
                <div class="project-solution__block-cols-title">
                  После внедрения ERP
                </div>
                
                <div class="project-solution__block-cols-caption">
                  Специальный конструктор в&nbsp;модуле &laquo;Производство&raquo; позволяет учесть все расходуемые при готовке продукты и&nbsp;исключить их&nbsp;хищение.
                </div>
                
                <div class="project-solution__block-cols-caption project-solution__block-cols-caption_center">
                  <span>Вся работа занимает <br class="xs-hide"/>несколько минут.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-feature">
    <div class="section__wrp project-feature__wrp">
      <div class="section__header section__header_compensate project-feature__header">
        <h2 class="section__heading project-feature__heading heading heading_type_h2">
          <span class="section__heading-text">Особенности проекта</span>
        </h2>
      </div>
      
      <div class="section__body project-feature__body">
        <div class="project-feature__list">
          <div class="project-feature__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
            <h3 class="project-feature__item-heading heading heading_type_h5-s">
              Работа без&nbsp;сбоев
            </h3>
            
            <div class="project-feature__item-caption caption caption_size_g">
              Для проверки работы функционала <nobr>ERP-системы</nobr> было написано более 500 тестов. Чтобы сократить трудозатраты на&nbsp;их&nbsp;создание, мы&nbsp;отказались от&nbsp;тестирования через PHPUnit в&nbsp;пользу Codeception (полноценное функциональное тестирование с&nbsp;возможностью создавать тесты в&nbsp;более понятной форме).
            </div>
          </div>
          <div class="project-feature__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
            <h3 class="project-feature__item-heading heading heading_type_h5-s">
              Подробное описание
            </h3>
            
            <div class="project-feature__item-caption caption caption_size_g">
              Весь функционал проекта описывается в&nbsp;документации (ее&nbsp;создание также автоматизировано для ускорения процесса). Для клиента это означает отсутствие организационных и&nbsp;финансовых проблем при вводе новых исполнителей или смене подрядчика по&nbsp;доработке и&nbsp;развитию проекта.
            </div>
          </div>
          <div class="project-feature__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
            <h3 class="project-feature__item-heading heading heading_type_h5-s">
              &laquo;Облачная&raquo; система
            </h3>
            
            <div class="project-feature__item-caption caption caption_size_g">
              Разработанное решение практически полностью работает онлайн. Для управления магазином достаточно ввести в&nbsp;браузере адрес системы и&nbsp;авторизоваться в&nbsp;личном кабинете.
            </div>
          </div>
          <div class="project-feature__item js-animation js-animation_fadeInLeft" data-animation-delay="600ms">
            <h3 class="project-feature__item-heading heading heading_type_h5-s">
              Безопасное решение для&nbsp;касс
            </h3>
            
            <div class="project-feature__item-gallery project-feature__gallery">
              <div class="project-feature__gallery-col project-feature__gallery-col_large js-animation js-animation_fadeInLeft" data-animation-delay="0">
                <div class="project-feature__gallery-item">
                  <img src="<%= asset_path 'projects/ramensky/feature/1.jpg' %>" alt="ramensky">
                </div>
              </div>
              <div class="project-feature__gallery-col">
                <div class="project-feature__gallery-item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                  <img src="<%= asset_path 'projects/ramensky/feature/2.jpg' %>" alt="ramensky">
                </div>
                <div class="project-feature__gallery-item">
                  <img src="<%= asset_path 'projects/ramensky/feature/3.jpg' %>" alt="ramensky">
                </div>
              </div>
            </div>
            
            <div class="project-feature__item-caption caption caption_size_g">
              Управлять кассами непосредственно из&nbsp;веба нельзя <nobr>из-за</nobr> угрозы хакерских атак. Поэтому мы&nbsp;разработали специальный драйвер для взаимодействия с&nbsp;денежным ящиком, сканером <nobr>штрих-кодов</nobr> и&nbsp;фискальным регистратором без выхода в&nbsp;интернет.
            </div>
            
            <div class="project-feature__item-promo project-feature__promo js-animation js-animation_bounceInLong" data-animation-delay="100ms">
              <div class="project-feature__promo-wrp">
                <div class="project-feature__promo-img js-tilter">
                  <img class="tilter__figure" src="<%= asset_path 'projects/ramensky/feature/bitrix.svg' %>" alt="bitrix">
                </div>
                
                <div class="project-feature__promo-text">
                  <div class="project-feature__item-caption caption caption_size_g">
                    Наш опыт разработки&nbsp;драйвера для безопасного подключения кассовой техники был подхвачен компанией <nobr>&laquo;1С-Битрикс&raquo;</nobr>, которая решила добавить аналогичное решение в&nbsp;функционал своей платформы.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="project-feature__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
            <h3 class="project-feature__item-heading heading heading_type_h5-s">
              Быстродействие при работе с&nbsp;кассой
            </h3>
            
            <div class="project-feature__item-caption caption caption_size_g">
              При работе с&nbsp;кассой через браузер могут возникнуть задержки, что будет создавать большие неудобства при большом потоке покупателей. По&nbsp;этой причине мы&nbsp;реализовали для кассиров Раменского возможность пробивать продукты в&nbsp;стороннем <nobr>офлайн-приложении</nobr> &laquo;ДЭНСИ: КАССА&raquo;.
            </div>
          </div>
          <div class="project-feature__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
            <h3 class="project-feature__item-heading heading heading_type_h5-s">
              Совместимость с&nbsp;ЕГАИС
            </h3>
            
            <div class="project-feature__item-caption caption caption_size_g">
              Накладные на&nbsp;алкогольную продукцию в&nbsp;разработанной системе оформляются отдельно, и&nbsp;все данные по&nbsp;движению такого товара автоматически передаются в&nbsp;ЕГАИС.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-result project-result_ramensky">
    <div class="section__wrp project-result__wrp">
      <div class="section__header section__header_compensate project-result__header">
        <h2 class="section__heading heading heading_type_h2 project-result__heading">
          <span class="section__heading-text">Результат</span>
        </h2>
      </div>
      
      <div class="section__body project-result__body">
        <div class="project-result__check-list check-list check-list_three">
          <ul class="check-list__list">
            <li class="check-list__item js-animation js-animation_bounceInLong" data-animation-delay="0">
              <div class="check-list__caption">
                Бумажный документооборот в&nbsp;сети комбината был полностью заменен на&nbsp;электронный
              </div>
            </li>
            <li class="check-list__item js-animation js-animation_bounceInLong" data-animation-delay="300ms">
              <div class="check-list__caption">
                Учет товарных запасов позволил оптимизировать поставки, что увеличило оборот
              </div>
            </li>
            <li class="check-list__item js-animation js-animation_bounceInLong" data-animation-delay="600ms">
              <div class="check-list__caption">
                Значительное сокращение <br />трудозатрат помогло повысить рентабельность бизнеса
              </div>
            </li>
            <li class="check-list__item js-animation js-animation_bounceInLong" data-animation-delay="900ms">
              <div class="check-list__caption">
                Рост чистой прибыли составил 15%
              </div>
            </li>
            <li class="check-list__item js-animation js-animation_bounceInLong" data-animation-delay="1200ms">
              <div class="check-list__caption">
                Выручка розничных магазинов выросла&nbsp;на&nbsp;17%
              </div>
            </li>
            <li class="check-list__item js-animation js-animation_bounceInLong" data-animation-delay="1500ms">
              <div class="check-list__caption">
                Штат сотрудников сократился на&nbsp;25%
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large section_green_light project-review">
    <div class="section__wrp project-review__wrp">
      <div class="section__header section__header_compensate project-review__header">
        <h2 class="section__heading heading heading_type_h2 project-review__heading">
          <span class="section__heading-text">Отзыв клиента</span>
        </h2>
      </div>
      
      <div class="section__body project-review__body">
        <div class="project-review__grid">
          <div class="project-review__grid-img js-animation js-animation_bounceIn" data-animation-delay="100ms">
            <div class="project-review__img js-tilter">
              <img src="<%= asset_path 'leadership/dima.png' %>" class="project-review__photo project-review__photo_smaller tilter__figure">
            </div>
          </div>
          
          <div class="project-review__grid-review js-animation js-animation_fadeInRight" data-animation-delay="300ms">
            <div class="project-review__review">
              <div class="project-review__review-title heading heading_type_h6">
                Роман Баер
              </div>
              
              <div class="project-review__review-subhead caption caption_size_s">
                Исполнительный директор <br class="xs-show"/>&laquo;Раменского мясокомбината&raquo;
              </div>
              
              <div class="project-review__review-caption caption caption_size_g">
                &laquo;Мы&nbsp;очень довольны результатом нашего сотрудничества с&nbsp;Atomic. Автоматизация процессов розничной торговли позволяет нам лучше управлять сетью, а&nbsp;значит более оперативно реагировать на&nbsp;спрос и&nbsp;быть ближе к&nbsp;своему потребителю&raquo;
              </div>
            </div>
          </div>
        </div>
        
        <div class="project-review__grid">
          <div class="project-review__grid-profile">
            <div class="project-review__profile js-animation js-animation_bounceIn" data-animation-delay="300ms">
              <div class="project-review__profile-title heading heading_type_h6">
                Антон Костин
              </div>
              
              <div class="project-review__profile-subhead caption caption_size_s">
                Руководитель проектов <br class="xs-hide"/>Atomic.
              </div>
            </div>
          </div>
          
          <div class="project-review__grid-text js-animation js-animation_fadeInRight" data-animation-delay="500ms">
            <div class="project-review__text">
              <div class="project-review__text-caption caption caption_size_g">
                &laquo;Внедренная <nobr>ERP-система</nobr> полностью автоматизирует процессы розничной торговли, магазинам больше не&nbsp;надо тратить по&nbsp;несколько часов на&nbsp;оприходование товара и&nbsp;оформление документов. Процессы стали не&nbsp;только быстрее, но&nbsp;и&nbsp;прозрачнее для контроля со&nbsp;стороны руководства комбината.
              </div>
              
              <div class="project-review__text-caption caption caption_size_g">
                Проект создан на&nbsp;проверенной и&nbsp;устойчивой платформе, защищен от&nbsp;сбоев и&nbsp;потерь информации. С&nbsp;момента его запуска в&nbsp;2015 году мы&nbsp;продолжаем поддерживать и&nbsp;развивать его, чтобы продукт полностью соответствовал <nobr>бизнес-задачам</nobr> клиента&raquo;.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section_pad_large project-screen">
    <div class="section__wrp project-screen__wrp">
      <div class="section__header section__header_compensate project-screen__header">
        <h2 class="section__heading project-screen__heading heading heading_type_h2">
          <span class="section__heading-text">
            Экраны проекта
          </span>
        </h2>
      </div>
      
                  <div class="section__body project-screen__body">
              <div class="project-screen__nav js-animation js-animation_fadeInUp" data-animation-delay="0">
                <div class="project-screen__nav-list">
                  <div class="project-screen__nav-item js-project-screen-nav active" data-toggle="1">
                    Финансы
                  </div>
                  <div class="project-screen__nav-item js-project-screen-nav" data-toggle="2">
                    Касса
                  </div>
                  <div class="project-screen__nav-item js-project-screen-nav" data-toggle="3">
                    Производство
                  </div>
                  <div class="project-screen__nav-item js-project-screen-nav" data-toggle="4">
                    Дебиторка
                  </div>
                  <div class="project-screen__nav-item js-project-screen-nav" data-toggle="5">
                    Работа с чеками
                  </div>
                  <div class="project-screen__nav-item js-project-screen-nav" data-toggle="6">
                    Карточка поставщика
                  </div>
                  <div class="project-screen__nav-item js-project-screen-nav" data-toggle="7">
                    Чат
                  </div>

                </div>
              </div>
              
              <div class="project-screen__slider swiper-container js-slider-project-screen js-animation js-animation_fadeInUp" data-animation-delay="200ьы">
                <div class="project-screen__slider-wrapper swiper-wrapper">
                  <div class="project-screen__slide swiper-slide">
                    <div class="project-screen__slide-wrp">
                      <img src="<%= asset_path 'projects/ramensky/screen/1.jpg' %>" alt="ramensky">
                    </div>
                  </div>
                  <div class="project-screen__slide swiper-slide">
                    <div class="project-screen__slide-wrp">
                      <img src="<%= asset_path 'projects/ramensky/screen/2.jpg' %>" alt="ramensky">
                    </div>
                  </div>
                  <div class="project-screen__slide swiper-slide">
                    <div class="project-screen__slide-wrp">
                      <img src="<%= asset_path 'projects/ramensky/screen/3.jpg' %>" alt="ramensky">
                    </div>
                  </div>
                  <div class="project-screen__slide swiper-slide">
                    <div class="project-screen__slide-wrp">
                      <img src="<%= asset_path 'projects/ramensky/screen/4.jpg' %>" alt="ramensky">
                    </div>
                  </div>
                  <div class="project-screen__slide swiper-slide">
                    <div class="project-screen__slide-wrp">
                      <img src="<%= asset_path 'projects/ramensky/screen/5.jpg' %>" alt="ramensky">
                    </div>
                  </div>
                  <div class="project-screen__slide swiper-slide">
                    <div class="project-screen__slide-wrp">
                      <img src="<%= asset_path 'projects/ramensky/screen/6.jpg' %>" alt="ramensky">
                    </div>
                  </div>
                  <div class="project-screen__slide swiper-slide">
                    <div class="project-screen__slide-wrp">
                      <img src="<%= asset_path 'projects/ramensky/screen/7.jpg' %>" alt="ramensky">
                    </div>
                  </div>
                </div>
                
                <div class="project-screen__dots js-slider-project-screen-dots"></div>
              </div>
            </div>
          
          <div class="project-screen__dots js-slider-project-screen-dots"></div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section green-banner green-banner_project">
    <span class="green-banner__bg" style="background-image: url(<%= asset_path 'projects/inpas/green.jpg' %>);"></span>
    
    <div class="section__wrp green-banner__wrp">
      <h2 class="green-banner__heading section__heading heading heading_type_h2">
        Нужен мощный и&nbsp;точный <nobr>digital-инструмент</nobr> для&nbsp;бизнеса?
      </h2>
      
      <div class="green-banner__buttons">
        <a href="javascript:void(0);"
            class="green-banner__button button button_theme_accent button_size_l js-popup">
          Напишите нам
        </a>
      </div>
    </div>
  </section>
</main>