%section.g-section.g-section_what
  .g-wrapper
    %h2.g-title
      %span.g-title__text Чем мы занимаемся
    %h3.g-subtitle
      Создаём проекты, 
      %br.g-mobile
        которые помогают вам
    %ul#what-slider.g-what-list
      %li.g-what-list__item.g-what-list__item_shops.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_shops.tilter__figure{src: "#{asset_path 'projects/what_1.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_1.svg'}"}
        %h3.g-what-list__name Интернет-магазины
        %p.g-what-list__desc Помогаем продавать ваши товары. В нашем портфолио уже несколько десятков успешных историй.
      
      %li.g-what-list__item.g-what-list__item_complex.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_solutions.tilter__figure{src: "#{asset_path 'projects/what_2.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_2.svg'}"}
        %h3.g-what-list__name Сложные решения
        %p.g-what-list__desc Затачиваем под ваш бизнес CRM, ERP, системы отчетности и другие продукты. Чем сложнее, тем интереснее.
      %li.g-what-list__item.g-what-list__item_support.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_support.tilter__figure{src: "#{asset_path 'projects/what_3.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_3.svg'}"}
        %h3.g-what-list__name Поддержка и развитие
        %p.g-what-list__desc Мы любим долгосрочные отношения и после запуска помогаем вашему продукту эволюционировать и идти в ногу с технологиями.
      %li.g-what-list__item.g-what-list__item_mobile.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_mobile.tilter__figure{src: "#{asset_path 'projects/what_4.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_4.svg'}"}
        %h3.g-what-list__name Мобильные приложения
        %p.g-what-list__desc Для сайта на 1С-Битрикс сделаем мобильное приложение по ошеломляющей цене. Мы даже выступаем с докладами об этом.
      %li.g-what-list__item.g-what-list__item_corp.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "400ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_corp.tilter__figure{src: "#{asset_path 'projects/what_5.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_5.svg'}"}
        %h3.g-what-list__name Корпоративные сайты
        %p.g-what-list__desc Мы любим долгосрочные отношения, ежедневная поддержка и развитие проекта также важны, каки сама разработка.
      %li.g-what-list__item.g-what-list__item_calling.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "400ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_clients.tilter__figure{src: "#{asset_path 'projects/what_6.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_6.svg'}"}
        %h3.g-what-list__name Привлечение клиентов
        %p.g-what-list__desc Собираем лиды, работаем с узнаваемостью бренда и лояльностью клиента: ведем социальные сети, настраиваем контекстную и медийную рекламу.
      %li.g-what-list__item.g-what-list__item_style.js-animation.js-animation_fadeInRight{"data-animation-delay" => "400ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_style.tilter__figure{src: "#{asset_path 'projects/what_7.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_7.svg'}"}
        %h3.g-what-list__name Фирменный стиль
        %p.g-what-list__desc Создаем историю бренда, логотип, а также всю фирменную айдентику. В результате вы получаете упакованный брендбук.
      %li.g-what-list__item.g-what-list__item_bitrix.js-animation.js-animation_fadeInRight{"data-animation-delay" => "400ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_brainfuck.tilter__figure{src: "#{asset_path 'projects/what_8.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'projects/what_bg_8.svg'}"}
        %h3.g-what-list__name Битрикс24
        %p.g-what-list__desc Настраиваем и «допиливаем» систему под ваш бизнес, интегрируем с вашими внутренними процессами и оказываем оперативную поддержку по всем вопросам.