<section class="g-section g-section_what">
    <div class="g-wrapper js-slider-other-col">
        <h2 class="g-title"><span class="g-title__text">Чем мы занимаемся</span></h2>
        <h3 class="g-subtitle">Создаём проекты, <br class="g-mobile">которые помогают вам</h3>
        <ul class="g-what-list" id="what-slider">
            <li class="g-what-list__item g-what-list__item_shops js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_shops tilter__figure" src="<%= asset_path 'projects/what_1.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_1.svg' %>">
                </div>
                
                <h3 class="g-what-list__name">Интернет-магазины</h3>
                <p class="g-what-list__desc">Помогаем продавать ваши товары. В&nbsp;нашем портфолио уже несколько десятков успешных историй.</p>
            </li>
            <li class="g-what-list__item g-what-list__item_complex js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_solutions tilter__figure" src="<%= asset_path 'projects/what_2.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_2.svg' %>">
                </div>
                <h3 class="g-what-list__name">Сложные решения</h3>
                <p class="g-what-list__desc">Затачиваем под ваш бизнес CRM, ERP, системы отчетности и&nbsp;другие продукты. Чем сложнее, тем интереснее.</p>
            </li>
            <li class="g-what-list__item g-what-list__item_support js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_support tilter__figure" src="<%= asset_path 'projects/what_3.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_3.svg' %>">
                </div>
                <h3 class="g-what-list__name">Поддержка и развитие</h3>
                <p class="g-what-list__desc">Мы&nbsp;любим долгосрочные отношения и&nbsp;после запуска помогаем вашему продукту эволюционировать и&nbsp;идти в&nbsp;ногу с&nbsp;технологиями.</p>
            </li>
            <li class="g-what-list__item g-what-list__item_mobile js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_mobile tilter__figure" src="<%= asset_path 'projects/what_4.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_4.svg' %>">
                </div>
                <h3 class="g-what-list__name">Мобильные приложения</h3>
                <p class="g-what-list__desc">Для сайта на&nbsp;1С-Битрикс сделаем мобильное приложение по&nbsp;ошеломляющей цене. Мы&nbsp;даже выступаем с&nbsp;докладами об&nbsp;этом.</p>
            </li>
            <li class="g-what-list__item g-what-list__item_corp js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_corp tilter__figure" src="<%= asset_path 'projects/what_5.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_5.svg' %>">
                </div>
                <h3 class="g-what-list__name">Корпоративные сайты</h3>
                <p class="g-what-list__desc">Мы&nbsp;любим долгосрочные отношения, ежедневная поддержка и&nbsp;развитие проекта также важны, как и сама разработка.</p>
            </li>
            <li class="g-what-list__item g-what-list__item_calling js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_clients tilter__figure" src="<%= asset_path 'projects/what_6.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_6.svg' %>">
                </div>
                <h3 class="g-what-list__name">Привлечение клиентов</h3>
                <p class="g-what-list__desc">Собираем лиды, работаем с узнаваемостью бренда и лояльностью клиента: ведем социальные сети, настраиваем контекстную и&nbsp;медийную рекламу.</p>
            </li>
            <li class="g-what-list__item g-what-list__item_style js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_style tilter__figure" src="<%= asset_path 'projects/what_7.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_7.svg' %>">
                </div>
                <h3 class="g-what-list__name">Фирменный стиль</h3>
                <p class="g-what-list__desc">Помогаем продавать ваши товары. Несколько десятков успешных историй развития говорят за&nbsp;себя. Попробуйте!</p>
            </li>
            <li class="g-what-list__item g-what-list__item_bitrix js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                <div class="g-img-wrapper js-tilter">
                    <img class="g-img-wrapper__pic g-img-wrapper__pic_brainfuck tilter__figure" src="<%= asset_path 'projects/what_8.svg' %>">
                    <img class="g-img-wrapper__bg" src="<%= asset_path 'projects/what_bg_8.svg' %>">
                </div>
                <h3 class="g-what-list__name">Битрикс24</h3>
                <p class="g-what-list__desc">Настраиваем и&nbsp;&laquo;допиливаем&raquo; систему под ваш бизнес, интегрируем с&nbsp;вашими внутренними процессами и&nbsp;оказываем оперативную поддержку по&nbsp;всем вопросам.</p>
            </li>
        </ul>

      <div class="other-col__dots js-slider-other-col-dots"></div>
    </div>
</section>