          <section class="g-section g-section_why">
              <div class="g-wrapper js-slider-other-col">
                  <h2 class="g-title"><span class="g-title__text">Так почему мы?</span></h2>
                  <ul class="g-why-list" id="why-slider">
                      <li class="g-why-list__item g-why-list__item_projects js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_top tilter__figure" src="<%= asset_path 'why/why_1.svg'%>">
                              <img class="g-img-wrapper__bg" src="<%= asset_path 'why/why_bg_1.svg'%>">
                          </div>
                          <p class="g-why-list__desc">3 проекта мирового класса, которыми гордился&nbsp;бы любой инвестор.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_million js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_records tilter__figure" src="<%= asset_path 'why/why_2.svg'%>">
                              <img class="g-img-wrapper__bg" src="<%= asset_path 'why/why_bg_2.svg'%>">
                          </div>
                          <p class="g-why-list__desc">Миллион в&nbsp;квадрате&nbsp;&mdash; количество записей в&nbsp;базах данных наших клиентов. Мы&nbsp;умеем работать с&nbsp;настолько большими цифрами.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_web js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_web tilter__figure" src="<%= asset_path 'why/why_3.svg'%>">
                              <img class="g-img-wrapper__bg" src="<%= asset_path 'why/why_bg_3.svg'%>">
                          </div>
                          <p class="g-why-list__desc">Мы&nbsp;умеем скрещивать <nobr>веб-технологии</nobr> с&nbsp;офлайном и&nbsp;наоборот.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_employees js-animation js-animation_fadeInDown" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_exp tilter__figure" src="<%= asset_path 'why/why_4.svg'%>">
                              <img class="g-img-wrapper__bg" src="<%= asset_path 'why/why_bg_4.svg'%>">
                          </div>
                          <p class="g-why-list__desc">Наши сотрудники прошли в&nbsp;общей сложности более 1000 человекочасов обучения в&nbsp;ведущих образовательных проектах в&nbsp;сфере дизайна, разработки и&nbsp;программинга.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_mobile js-animation js-animation_fadeInDown" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_mobile-dev tilter__figure" src="<%= asset_path 'why/why_5.svg'%>">
                              <img class="g-img-wrapper__bg" src="<%= asset_path 'why/why_bg_5.svg'%>">
                          </div>
                          <p class="g-why-list__desc">Наши компетенции в&nbsp;мобильной разработке говорят за&nbsp;себя, нас регулярно приглашают для выступлений на&nbsp;семинарах и&nbsp;вебинарах.</p>
                      </li>
                      <li class="g-why-list__item g-why-list__item_tests js-animation js-animation_fadeInDown" data-animation-delay="400ms">
                          <div class="g-img-wrapper js-tilter">
                              <img class="g-img-wrapper__pic g-img-wrapper__pic_tech tilter__figure" src="<%= asset_path 'why/why_6.svg'%>">
                              <img class="g-img-wrapper__bg" src="<%= asset_path 'why/why_bg_6.svg'%>">
                          </div>
                          <p class="g-why-list__desc">Версионирование (gitlab), <nobr>test-driven-development</nobr> (phpunit) и&nbsp;покрытие пользовательскими тестами, а&nbsp;также Continuous Integration&nbsp;&mdash; это все про нас.</p>
                      </li>
                  </ul>
    
                <div class="other-col__dots js-slider-other-col-dots"></div>
              </div>
          </section>