%section.g-section.g-section_why
  .g-wrapper
    %h2.g-title
      %span.g-title__text Так почему мы?
    %ul#why-slider.g-why-list
      %li.g-why-list__item.g-why-list__item_projects.js-animation.js-animation_fadeInDown{"data-animation-delay" => "200ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_top.tilter__figure{src: "#{asset_path 'why/why_1.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'why/why_bg_1.svg'}"}
        %p.g-why-list__desc 3 проекта мирового класса, которыми гордился бы любой инвестор.
      %li.g-why-list__item.g-why-list__item_million.js-animation.js-animation_fadeInDown{"data-animation-delay" => "200ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_records.tilter__figure{src: "#{asset_path 'why/why_2.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'why/why_bg_2.svg'}"}
        %p.g-why-list__desc Миллион в квадрате — количество записей в базах данных наших клиентов. Мы умеем работать с настолько большими цифрами.
      %li.g-why-list__item.g-why-list__item_web.js-animation.js-animation_fadeInDown{"data-animation-delay" => "200ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_web.tilter__figure{src: "#{asset_path 'why/why_3.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'why/why_bg_3.svg'}"}
        %p.g-why-list__desc
          Мы умеем скрещивать
          %nobr веб-технологии
          с офлайном и наоборот.
      %li.g-why-list__item.g-why-list__item_employees.js-animation.js-animation_fadeInDown{"data-animation-delay" => "400ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_exp.tilter__figure{src: "#{asset_path 'why/why_4.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'why/why_bg_4.svg'}"}
        %p.g-why-list__desc Наши сотрудники прошли в общей сложности более 1000 человекочасов обучения в ведущих образовательных проектах в сфере дизайна, разработки и программинга.
      %li.g-why-list__item.g-why-list__item_mobile.js-animation.js-animation_fadeInDown{"data-animation-delay" => "400ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_mobile-dev.tilter__figure{src: "#{asset_path 'why/why_5.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'why/why_bg_5.svg'}"}
        %p.g-why-list__desc Наши компетенции в мобильной разработке говорят за себя, нас регулярно приглашают для выступлений на семинарах и вебинарах.
      %li.g-why-list__item.g-why-list__item_tests.js-animation.js-animation_fadeInDown{"data-animation-delay" => "400ms"}
        .g-img-wrapper.js-tilter
          %img.g-img-wrapper__pic.g-img-wrapper__pic_tech.tilter__figure{src: "#{asset_path 'why/why_6.svg'}"}
          %img.g-img-wrapper__bg{src: "#{asset_path 'why/why_bg_6.svg'}"}
        %p.g-why-list__desc
          Версионирование (gitlab),
          %nobr test-driven-development
          (phpunit) и покрытие пользовательскими тестами, а также Continuous Integration — это все про нас.