%main.main
  %section.section.section_first.banner
    %span.banner__bg{:style => "background-image: url(img/services/b24/banner.jpg);"}
    .section__wrp.banner__wrp
      .banner__content
        %h1.banner__heading.heading.heading_type_h1
          \&#x411;&#x438;&#x437;&#x43D;&#x435;&#x441; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x430;&#x435;&#x442; &#x432;&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24
        .banner__line
          %svg{:viewBox => "0 0 47 4"}
            %path{:d => "M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z", "fill-rule" => "evenodd"}
        .banner__caption.caption.caption_size_l
          \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E;. &#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;. &#x41E;&#x43D;&#x43B;&#x430;&#x439;&#x43D;.
        .banner__buttons
          %a.banner__button.button.button_theme_accent.button_size_l{:href => "javascript:void(0);"}
            \&#x41D;&#x430;&#x447;&#x430;&#x442;&#x44C; &#x431;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E;
          %a.banner__button.button.button_play.button_theme_opacity.button_size_l.js-anchor-video{:href => "#video-b24"}
            %span.button__text C&#x43C;&#x43E;&#x442;&#x440;&#x435;&#x442;&#x44C; &#x440;&#x43E;&#x43B;&#x438;&#x43A;
            %svg.button__icon
              %use{"xlink:href" => "#ic-play"}
  %section.section.section_pad_large.section_grey.slider-b24
    .section__wrp.slider-b24__wrp
      .section__header.slider-b24__header
        %h2.section__heading.heading.heading_type_h2
          %span.section__heading-text
            \&#x427;&#x442;&#x43E; &#x442;&#x430;&#x43A;&#x43E;&#x435; &#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24?
      .section__body.slider-b24__body
        .slider-b24__mobnav
          .slider-b24__mobnav-dropdown.dropdown.js-dropdown
            .dropdown__value.js-dropdown-toggle
              %span.dropdown__value-text &#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
              %svg{:viewBox => "0 0 11 7"}
                %path{:d => "M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z", "fill-rule" => "evenodd"}
            .dropdown__list.js-dropdown-list
              .dropdown__item
                %a.dropdown__link.js-dropdown-link{"data-toggle" => "1", :href => "javascript: void(0);"} &#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
              .dropdown__item
                %a.dropdown__link.js-dropdown-link{"data-toggle" => "2", :href => "javascript: void(0);"} &#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;2
              .dropdown__item
                %a.dropdown__link.js-dropdown-link{"data-toggle" => "3", :href => "javascript: void(0);"} &#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;3
              .dropdown__item
                %a.dropdown__link.js-dropdown-link{"data-toggle" => "4", :href => "javascript: void(0);"} &#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;4
              .dropdown__item
                %a.dropdown__link.js-dropdown-link{"data-toggle" => "5", :href => "javascript: void(0);"} &#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;5
        .slider-b24__nav
          .slider-b24__nav-list
            .slider-b24__nav-item.js-slider-b24-nav.active.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0", "data-toggle" => "1"}
              .slider-b24__nav-icon
                %img{:alt => "1", :src => "img/services/b24/slider_1.svg"}
                .slider-b24__nav-text
                  \&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
              %span.slider-b24__nav-line.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "100ms"}
              .slider-b24__nav-item.js-slider-b24-nav.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms", "data-toggle" => "2"}
                .slider-b24__nav-icon
                  %img{:alt => "2", :src => "img/services/b24/slider_2.svg"}
                  .slider-b24__nav-text
                    \&#x417;&#x430;&#x434;&#x430;&#x43D;&#x438;&#x44F; &#x438;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;
                %span.slider-b24__nav-line.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "300ms"}
                .slider-b24__nav-item.js-slider-b24-nav.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "400ms", "data-toggle" => "3"}
                  .slider-b24__nav-icon
                    %img{:alt => "3", :src => "img/services/b24/slider_3.svg"}
                    .slider-b24__nav-text
                      Crm
                  %span.slider-b24__nav-line.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "500ms"}
                  .slider-b24__nav-item.js-slider-b24-nav.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "600ms", "data-toggle" => "4"}
                    .slider-b24__nav-icon
                      %img{:alt => "4", :src => "img/services/b24/slider_4.svg"}
                      .slider-b24__nav-text
                        \&#x41E;&#x442;&#x43A;&#x440;&#x44B;&#x442;&#x44B;&#x435; &#x43B;&#x438;&#x43D;&#x438;&#x438;
                    %span.slider-b24__nav-line.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "700ms"}
                    .slider-b24__nav-item.js-slider-b24-nav.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "800ms", "data-toggle" => "5"}
                      .slider-b24__nav-icon
                        %img{:alt => "5", :src => "img/services/b24/slider_5.svg"}
                        .slider-b24__nav-text
                          \&#x421;&#x430;&#x439;&#x442;&#x44B;
                  .slider-b24__slider.swiper-container.js-slider-b24.js-animation.js-animation_fadeInUp{"data-animation-delay" => "600ms"}
                    .slider-b24__slider-wrapper.swiper-wrapper
                      .slider-b24__slide.swiper-slide
                        .slider-b24__slide-wrp
                          .slider-b24__slide-content
                            .slider-b24__text
                              .slider-b24__title.heading.heading_type_h3
                                \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24.&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
                              %p.slider-b24__caption.caption.caption_size_g
                                \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24 &#x443;&#x43F;&#x440;&#x43E;&#x449;&#x430;&#x435;&#x442; &#x440;&#x430;&#x431;&#x43E;&#x447;&#x438;&#x435; &#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441;&#x44B;: &#x43E;&#x431;&#x441;&#x443;&#x436;&#x434;&#x435;&#x43D;&#x438;&#x435; &#x438;&#x441;&#x43E;&#x433;&#x43B;&#x430;&#x441;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;, &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x437;&#x430;&#x434;&#x430;&#x447;, &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x441;&#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442;&#x430;&#x43C;&#x438;.
                              .slider-b24__subhead.heading.heading_type_h6
                                \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E; &#x438;&#x43D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;!
                            .slider-b24__buttons
                              %a.slider-b24__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                \&#x41F;&#x43E;&#x434;&#x440;&#x43E;&#x431;&#x43D;&#x435;&#x435;
                              %a.slider-b24__button.button.button_theme_accent.button_size_g{:href => "javascript:void(0);"}
                                \&#x427;&#x442;&#x43E; &#x43D;&#x43E;&#x432;&#x43E;&#x433;&#x43E;?
                          .slider-b24__slide-img
                            %img{:alt => "1", :src => "img/services/b24/slider_1.jpg"}
                        .slider-b24__slide.swiper-slide
                          .slider-b24__slide-wrp
                            .slider-b24__slide-content
                              .slider-b24__text
                                .slider-b24__title.heading.heading_type_h3
                                  \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24.&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
                                %p.slider-b24__caption.caption.caption_size_g
                                  \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24 &#x443;&#x43F;&#x440;&#x43E;&#x449;&#x430;&#x435;&#x442; &#x440;&#x430;&#x431;&#x43E;&#x447;&#x438;&#x435; &#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441;&#x44B;: &#x43E;&#x431;&#x441;&#x443;&#x436;&#x434;&#x435;&#x43D;&#x438;&#x435; &#x438;&#x441;&#x43E;&#x433;&#x43B;&#x430;&#x441;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;, &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x437;&#x430;&#x434;&#x430;&#x447;, &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x441;&#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442;&#x430;&#x43C;&#x438;.
                                .slider-b24__subhead.heading.heading_type_h6
                                  \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E; &#x438;&#x43D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;!
                              .slider-b24__buttons
                                %a.slider-b24__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                  \&#x41F;&#x43E;&#x434;&#x440;&#x43E;&#x431;&#x43D;&#x435;&#x435;
                                %a.slider-b24__button.button.button_theme_accent.button_size_g{:href => "javascript:void(0);"}
                                  \&#x427;&#x442;&#x43E; &#x43D;&#x43E;&#x432;&#x43E;&#x433;&#x43E;?
                            .slider-b24__slide-img
                              %img{:alt => "2", :src => "img/services/b24/slider_2.jpg"}
                          .slider-b24__slide.swiper-slide
                            .slider-b24__slide-wrp
                              .slider-b24__slide-content
                                .slider-b24__text
                                  .slider-b24__title.heading.heading_type_h3
                                    \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24.&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
                                  %p.slider-b24__caption.caption.caption_size_g
                                    \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24 &#x443;&#x43F;&#x440;&#x43E;&#x449;&#x430;&#x435;&#x442; &#x440;&#x430;&#x431;&#x43E;&#x447;&#x438;&#x435; &#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441;&#x44B;: &#x43E;&#x431;&#x441;&#x443;&#x436;&#x434;&#x435;&#x43D;&#x438;&#x435; &#x438;&#x441;&#x43E;&#x433;&#x43B;&#x430;&#x441;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;, &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x437;&#x430;&#x434;&#x430;&#x447;, &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x441;&#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442;&#x430;&#x43C;&#x438;.
                                  .slider-b24__subhead.heading.heading_type_h6
                                    \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E; &#x438;&#x43D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;!
                                .slider-b24__buttons
                                  %a.slider-b24__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                    \&#x41F;&#x43E;&#x434;&#x440;&#x43E;&#x431;&#x43D;&#x435;&#x435;
                                  %a.slider-b24__button.button.button_theme_accent.button_size_g{:href => "javascript:void(0);"}
                                    \&#x427;&#x442;&#x43E; &#x43D;&#x43E;&#x432;&#x43E;&#x433;&#x43E;?
                              .slider-b24__slide-img
                                %img{:alt => "3", :src => "img/services/b24/slider_3.jpg"}
                            .slider-b24__slide.swiper-slide
                              .slider-b24__slide-wrp
                                .slider-b24__slide-content
                                  .slider-b24__text
                                    .slider-b24__title.heading.heading_type_h3
                                      \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24.&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
                                    %p.slider-b24__caption.caption.caption_size_g
                                      \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24 &#x443;&#x43F;&#x440;&#x43E;&#x449;&#x430;&#x435;&#x442; &#x440;&#x430;&#x431;&#x43E;&#x447;&#x438;&#x435; &#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441;&#x44B;: &#x43E;&#x431;&#x441;&#x443;&#x436;&#x434;&#x435;&#x43D;&#x438;&#x435; &#x438;&#x441;&#x43E;&#x433;&#x43B;&#x430;&#x441;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;, &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x437;&#x430;&#x434;&#x430;&#x447;, &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x441;&#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442;&#x430;&#x43C;&#x438;.
                                    .slider-b24__subhead.heading.heading_type_h6
                                      \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E; &#x438;&#x43D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;!
                                  .slider-b24__buttons
                                    %a.slider-b24__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                      \&#x41F;&#x43E;&#x434;&#x440;&#x43E;&#x431;&#x43D;&#x435;&#x435;
                                    %a.slider-b24__button.button.button_theme_accent.button_size_g{:href => "javascript:void(0);"}
                                      \&#x427;&#x442;&#x43E; &#x43D;&#x43E;&#x432;&#x43E;&#x433;&#x43E;?
                                .slider-b24__slide-img
                                  %img{:alt => "4", :src => "img/services/b24/slider_4.jpg"}
                              .slider-b24__slide.swiper-slide
                                .slider-b24__slide-wrp
                                  .slider-b24__slide-content
                                    .slider-b24__text
                                      .slider-b24__title.heading.heading_type_h3
                                        \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24.&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
                                      %p.slider-b24__caption.caption.caption_size_g
                                        \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24 &#x443;&#x43F;&#x440;&#x43E;&#x449;&#x430;&#x435;&#x442; &#x440;&#x430;&#x431;&#x43E;&#x447;&#x438;&#x435; &#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441;&#x44B;: &#x43E;&#x431;&#x441;&#x443;&#x436;&#x434;&#x435;&#x43D;&#x438;&#x435; &#x438;&#x441;&#x43E;&#x433;&#x43B;&#x430;&#x441;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;, &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C; &#x437;&#x430;&#x434;&#x430;&#x447;, &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x441;&#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442;&#x430;&#x43C;&#x438;.
                                      .slider-b24__subhead.heading.heading_type_h6
                                        \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E; &#x438;&#x43D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;!
                                    .slider-b24__buttons
                                      %a.slider-b24__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                        \&#x41F;&#x43E;&#x434;&#x440;&#x43E;&#x431;&#x43D;&#x435;&#x435;
                                      %a.slider-b24__button.button.button_theme_accent.button_size_g{:href => "javascript:void(0);"}
                                        \&#x427;&#x442;&#x43E; &#x43D;&#x43E;&#x432;&#x43E;&#x433;&#x43E;?
                                  .slider-b24__slide-img
                                    %img{:alt => "5", :src => "img/services/b24/slider_5.jpg"}
                      %section.section.section_pad_large.action-b24
                        .section__wrp.action-b24__wrp.scene
                          .action-b24__grid
                            .action-b24__content.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "100ms"}
                              .action-b24__text
                                .action-b24__title.heading.heading_type_h3
                                  \&#x410;&#x43A;&#x446;&#x438;&#x44F; &#x427;&#x435;&#x43C;&#x43F;&#x438;&#x43E;&#x43D;&#x430;&#x442; &#x441;&#x43A;&#x438;&#x434;&#x43E;&#x43A; &#x432;&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24
                                %p.action-b24__caption.caption.caption_size_g
                                  \&#x41C;&#x44B;&#x43E;&#x431;&#x44A;&#x44F;&#x432;&#x43B;&#x44F;&#x435;&#x43C; &#x427;&#x435;&#x43C;&#x43F;&#x438;&#x43E;&#x43D;&#x430;&#x442; &#x441;&#x43A;&#x438;&#x434;&#x43E;&#x43A; &#x43D;&#x430;&#x43F;&#x43E;&#x43B;&#x43D;&#x44B;&#x439; &#x43A;&#x43E;&#x43C;&#x43F;&#x43B;&#x435;&#x43A;&#x442; &#x441;&#x43D;&#x430;&#x440;&#x44F;&#x436;&#x435;&#x43D;&#x438;&#x44F; &#x434;&#x43B;&#x44F; &#x431;&#x438;&#x437;&#x43D;&#x435;&#x441;&#x430;!
                                .action-b24__subhead.heading.heading_type_h6
                                  \&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24, &#x43A;&#x43E;&#x442;&#x43E;&#x440;&#x44B;&#x439; &#x43F;&#x43E;&#x43C;&#x43E;&#x436;&#x435;&#x442; &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;&#x43C; &#x443;&#x43B;&#x443;&#x447;&#x448;&#x438;&#x442;&#x44C; &#x440;&#x435;&#x437;&#x443;&#x43B;&#x44C;&#x442;&#x430;&#x442;&#x44B; &#x438;&#x43E;&#x431;&#x43E;&#x439;&#x442;&#x438; &#x43A;&#x43E;&#x43D;&#x43A;&#x443;&#x440;&#x435;&#x43D;&#x442;&#x43E;&#x432; &#x432;2018 &#x433;&#x43E;&#x434;&#x443;!
                              .action-b24__buttons
                                %a.action-b24__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                  \&#x423;&#x437;&#x43D;&#x430;&#x442;&#x44C; &#x43F;&#x43E;&#x434;&#x440;&#x43E;&#x431;&#x43D;&#x43E;&#x441;&#x442;&#x438;
                            .action-b24__img
                              %span.action-b24__img-circle.action-b24__img-circle_green.layer{"data-depth" => "0.80"}
                              %span.action-b24__img-circle.action-b24__img-circle_accent.layer{"data-depth" => "0.40"}
                              %span.action-b24__img-circle.action-b24__img-circle_grey.layer{"data-depth" => "0.60"}
                              %span.action-b24__img-circle.action-b24__img-circle_greydark.layer{"data-depth" => "0.30"}
                              .action-b24__img-people.layer{"data-depth" => "0.10"}
                                %img{:alt => "people", :src => "img/services/b24/action/people.png"}
                                .action-b24__img-note.layer{"data-depth" => "0.20"}
                                  %img{:alt => "note", :src => "img/services/b24/action/note.png"}
                          %section.section.section_pad_smallest.section_green_light.public
                            .section__wrp.public__wrp
                              .public__grid
                                .public__heading.heading.heading_type_h4
                                  \&#x410;&#x432;&#x442;&#x43E;&#x440;&#x438;&#x442;&#x435;&#x442;&#x43D;&#x44B;&#x435; &#x438;&#x437;&#x434;&#x430;&#x43D;&#x438;&#x44F;
                                  = succeed "\u{43f}\u{438}\u{448}\u{443}\u{442}" do
                                    %br/
                                .public__img-wrp.js-slider-public
                                  .public__img-list
                                    %a.public__img-item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0", :href => "//www.forbes.ru/", :rel => "nofollow", :target => "_blank"}
                                      %img{:alt => "forbes", :src => "img/services/b24/public/forbes.png"}
                                      %a.public__img-item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms", :href => "//ru.pcmag.com/", :rel => "nofollow", :target => "_blank"}
                                        %img{:alt => "pcmag", :src => "img/services/b24/public/pcmag.png"}
                                        %a.public__img-item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "400ms", :href => "//www.it-world.ru/", :rel => "nofollow", :target => "_blank"}
                                          %img{:alt => "itworld", :src => "img/services/b24/public/itworld.png"}
                                          %a.public__img-item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "600ms", :href => "//lifehacker.ru/", :rel => "nofollow", :target => "_blank"}
                                            %img{:alt => "lifehacker", :src => "img/services/b24/public/lifehacker.png"}
                                          .public__dots.js-slider-public-dots
                                  %section#video-b24.section.section_green_darkvideo-b24
                                    .section__wrp.video-b24__wrp
                                      .video-b24__bg.js-animation.js-animation_fadeInLeftBg{"data-animation-delay" => "100ms"}
                                        %img{:alt => "video_bg", :src => "img/services/b24/bg_video.png"}
                                        .video-b24__heading.heading.heading_type_h3
                                          \&#x41D;&#x430;&#x447;&#x43D;&#x438;&#x442;&#x435; &#x437;&#x43D;&#x430;&#x43A;&#x43E;&#x43C;&#x441;&#x442;&#x432;&#x43E; &#x441;&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24
                                        .video-b24__video
                                          .video-b24__video-wrp.js-video-b24
                                            .video-b24__video-frame.js-video-b24
                                              #video-b24-player
                                    %section.section.section_pad_large.table
                                      .section__wrp.table__wrp
                                        .section__header.table__header
                                          %h2.section__heading.heading.heading_type_h2
                                            %span.section__heading-text
                                              \&#x421;&#x43A;&#x43E;&#x43B;&#x44C;&#x43A;&#x43E; &#x44D;&#x442;&#x43E; &#x441;&#x442;&#x43E;&#x438;&#x442;?
                                        .section__body.table__body
                                          .table__table
                                            .table__row.table__row_head.table__row_start.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                                              .table__sidebar
                                                .table__title
                                                  \&#x422;&#x430;&#x440;&#x438;&#x444;
                                              .table__list
                                                .table__item
                                                  .table__title
                                                    \&#x41F;&#x440;&#x43E;&#x435;&#x43A;&#x442;
                                                  .table__subtitle
                                                    \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E;
                                                .table__item
                                                  .table__title
                                                    \&#x41F;&#x440;&#x43E;&#x435;&#x43A;&#x442;+
                                                  .table__subtitle
                                                    990
                                                    = succeed "/\u{43c}\u{435}\u{441}." do
                                                      %span.rub &#x420;
                                                .table__item
                                                  .table__title
                                                    \&#x41A;&#x43E;&#x43C;&#x430;&#x43D;&#x434;&#x430;
                                                  .table__subtitle
                                                    5 490
                                                    = succeed "/\u{43c}\u{435}\u{441}." do
                                                      %span.rub &#x420;
                                                .table__item
                                                  .table__title
                                                    \&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
                                                  .table__subtitle
                                                    10 990
                                                    = succeed "/\u{43c}\u{435}\u{441}" do
                                                      %span.rub &#x420;
                                            .table__row.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
                                              .table__sidebar
                                                .table__head
                                                  \&#x41F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x438;
                                              .table__list
                                                .table__item
                                                  .table__caption
                                                    \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                .table__item
                                                  .table__caption
                                                    \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                .table__item
                                                  .table__caption
                                                    \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                .table__item
                                                  .table__caption
                                                    \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                            .table__row.js-animation.js-animation_fadeInUp{"data-animation-delay" => "300ms"}
                                              .table__sidebar
                                                .table__head
                                                  \&#x41C;&#x435;&#x441;&#x442;&#x43E; &#x432; &#x43E;&#x431;&#x43B;&#x430;&#x43A;&#x435;
                                              .table__list
                                                .table__item
                                                  .table__title
                                                    5 &#x413;&#x431;
                                                .table__item
                                                  .table__title
                                                    24 &#x413;&#x431;
                                                .table__item
                                                  .table__title
                                                    100 &#x413;&#x431;
                                                .table__item
                                                  .table__caption
                                                    \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                            .table__row.table__row_start.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
                                              .table__sidebar
                                                .table__head
                                                  \&#x41A;&#x43E;&#x43C;&#x43C;&#x443;&#x43D;&#x438;&#x43A;&#x430;&#x446;&#x438;&#x438;
                                                .table__caption
                                                  \&#x421;&#x43E;&#x446;&#x441;&#x435;&#x442;&#x44C;, &#x447;&#x430;&#x442; &#x438;&#x432;&#x438;&#x434;&#x435;&#x43E;&#x437;&#x432;&#x43E;&#x43D;&#x43A;&#x438;, &#x442;&#x435;&#x43B;&#x435;&#x444;&#x43E;&#x43D;&#x438;&#x44F;, HR, &#x43C;&#x43E;&#x431;&#x438;&#x43B;&#x44C;&#x43D;&#x43E;&#x435; &#x43F;&#x440;&#x438;&#x43B;&#x43E;&#x436;&#x435;&#x43D;&#x438;&#x435;, &#x43F;&#x43E;&#x447;&#x442;&#x430;
                                              .table__list
                                                .table__item
                                                  %span.table__plus
                                                .table__item
                                                  %span.table__plus
                                                .table__item
                                                  %span.table__plus
                                                .table__item
                                                  %span.table__plus
                                            .table__row.table__row_start.js-animation.js-animation_fadeInUp{"data-animation-delay" => "500ms"}
                                              .table__sidebar
                                                .table__head
                                                  %nobr &#x411;&#x438;&#x437;&#x43D;&#x435;&#x441;-&#x438;&#x43D;&#x441;&#x442;&#x440;&#x443;&#x43C;&#x435;&#x43D;&#x442;&#x44B;
                                                .table__caption
                                                  \&#x417;&#x430;&#x434;&#x430;&#x447;&#x438; &#x438;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;, CRM, &#x421;&#x430;&#x439;&#x442;&#x44B;, &#x414;&#x438;&#x441;&#x43A;, &#x41A;&#x430;&#x43B;&#x435;&#x43D;&#x434;&#x430;&#x440;&#x438; &#x438;&#x434;&#x440;&#x443;&#x433;&#x438;&#x435;
                                              .table__list
                                                .table__item
                                                  %span.table__plus
                                                .table__item
                                                  %span.table__plus
                                                  %span.table__plus
                                                .table__item
                                                  %span.table__plus
                                                  %span.table__plus
                                                .table__item
                                                  %span.table__plus
                                                  %span.table__plus
                                            .table__row.js-animation.js-animation_fadeInUp{"data-animation-delay" => "600ms"}
                                              .table__sidebar
                                                %a.table__button.button.button_theme_border.button_size_gm{:href => "javascript:void(0);"}
                                                  \&#x421;&#x440;&#x430;&#x432;&#x43D;&#x438;&#x442;&#x44C; &#x442;&#x430;&#x440;&#x438;&#x444;&#x44B;
                                              .table__list
                                                .table__item
                                                  %a.table__button.button.button_theme_accent.button_size_gs{:href => "javascript:void(0);"}
                                                    \&#x420;&#x435;&#x433;&#x438;&#x441;&#x442;&#x440;&#x430;&#x446;&#x438;&#x44F;
                                                .table__item
                                                  %a.table__button.button.button_theme_dark.button_size_gs{:href => "javascript:void(0);"}
                                                    \&#x412;&#x44B;&#x431;&#x440;&#x430;&#x442;&#x44C;
                                                .table__item
                                                  %a.table__button.button.button_theme_dark.button_size_gs{:href => "javascript:void(0);"}
                                                    \&#x412;&#x44B;&#x431;&#x440;&#x430;&#x442;&#x44C;
                                                .table__item
                                                  %a.table__button.button.button_theme_dark.button_size_gs{:href => "javascript:void(0);"}
                                                    \&#x412;&#x44B;&#x431;&#x440;&#x430;&#x442;&#x44C;
                                          .table__mob
                                            .table__mob-item.js-acc
                                              .table__table
                                                .table__mob-header.js-acc-toggle
                                                  .table__row.table__row_head.table__row_start
                                                    .table__sidebar
                                                      .table__title
                                                        \&#x41F;&#x440;&#x43E;&#x435;&#x43A;&#x442;
                                                    .table__list
                                                      .table__item
                                                        .table__subtitle
                                                          \&#x411;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E;
                                                          %svg{:viewBox => "0 0 11 7"}
                                                            %path{:d => "M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z", "fill-rule" => "evenodd"}
                                                .table__mob-body.js-acc-item
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x438;
                                                    .table__list
                                                      .table__item
                                                        .table__caption
                                                          \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41C;&#x435;&#x441;&#x442;&#x43E; &#x432; &#x43E;&#x431;&#x43B;&#x430;&#x43A;&#x435;
                                                    .table__list
                                                      .table__item
                                                        .table__title
                                                          5 &#x413;&#x431;
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41A;&#x43E;&#x43C;&#x43C;&#x443;&#x43D;&#x438;&#x43A;&#x430;&#x446;&#x438;&#x438;
                                                      .table__caption
                                                        \&#x421;&#x43E;&#x446;&#x441;&#x435;&#x442;&#x44C;, &#x447;&#x430;&#x442; &#x438;&#x432;&#x438;&#x434;&#x435;&#x43E;&#x437;&#x432;&#x43E;&#x43D;&#x43A;&#x438;, &#x442;&#x435;&#x43B;&#x435;&#x444;&#x43E;&#x43D;&#x438;&#x44F;, HR, &#x43C;&#x43E;&#x431;&#x438;&#x43B;&#x44C;&#x43D;&#x43E;&#x435; &#x43F;&#x440;&#x438;&#x43B;&#x43E;&#x436;&#x435;&#x43D;&#x438;&#x435;, &#x43F;&#x43E;&#x447;&#x442;&#x430;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        %nobr &#x411;&#x438;&#x437;&#x43D;&#x435;&#x441;-&#x438;&#x43D;&#x441;&#x442;&#x440;&#x443;&#x43C;&#x435;&#x43D;&#x442;&#x44B;
                                                      .table__caption
                                                        \&#x417;&#x430;&#x434;&#x430;&#x447;&#x438; &#x438;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;, CRM, &#x421;&#x430;&#x439;&#x442;&#x44B;, &#x414;&#x438;&#x441;&#x43A;, &#x41A;&#x430;&#x43B;&#x435;&#x43D;&#x434;&#x430;&#x440;&#x438; &#x438;&#x434;&#x440;&#x443;&#x433;&#x438;&#x435;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                  .table__row
                                                    .table__list
                                                      .table__item
                                                        %a.table__button.button.button_theme_accent.button_size_gs{:href => "javascript:void(0);"}
                                                          \&#x420;&#x435;&#x433;&#x438;&#x441;&#x442;&#x440;&#x430;&#x446;&#x438;&#x44F;
                                            .table__mob-item.js-acc
                                              .table__table
                                                .table__mob-header.js-acc-toggle
                                                  .table__row.table__row_head.table__row_start
                                                    .table__sidebar
                                                      .table__title
                                                        \&#x41F;&#x440;&#x43E;&#x435;&#x43A;&#x442;+
                                                    .table__list
                                                      .table__item
                                                        .table__subtitle
                                                          990
                                                          = succeed "/\u{43c}\u{435}\u{441}." do
                                                            %span.rub &#x420;
                                                          %svg{:viewBox => "0 0 11 7"}
                                                            %path{:d => "M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z", "fill-rule" => "evenodd"}
                                                .table__mob-body.js-acc-item
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x438;
                                                    .table__list
                                                      .table__item
                                                        .table__caption
                                                          \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41C;&#x435;&#x441;&#x442;&#x43E; &#x432; &#x43E;&#x431;&#x43B;&#x430;&#x43A;&#x435;
                                                    .table__list
                                                      .table__item
                                                        .table__title
                                                          24 &#x413;&#x431;
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41A;&#x43E;&#x43C;&#x43C;&#x443;&#x43D;&#x438;&#x43A;&#x430;&#x446;&#x438;&#x438;
                                                      .table__caption
                                                        \&#x421;&#x43E;&#x446;&#x441;&#x435;&#x442;&#x44C;, &#x447;&#x430;&#x442; &#x438;&#x432;&#x438;&#x434;&#x435;&#x43E;&#x437;&#x432;&#x43E;&#x43D;&#x43A;&#x438;, &#x442;&#x435;&#x43B;&#x435;&#x444;&#x43E;&#x43D;&#x438;&#x44F;, HR, &#x43C;&#x43E;&#x431;&#x438;&#x43B;&#x44C;&#x43D;&#x43E;&#x435; &#x43F;&#x440;&#x438;&#x43B;&#x43E;&#x436;&#x435;&#x43D;&#x438;&#x435;, &#x43F;&#x43E;&#x447;&#x442;&#x430;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        %nobr &#x411;&#x438;&#x437;&#x43D;&#x435;&#x441;-&#x438;&#x43D;&#x441;&#x442;&#x440;&#x443;&#x43C;&#x435;&#x43D;&#x442;&#x44B;
                                                      .table__caption
                                                        \&#x417;&#x430;&#x434;&#x430;&#x447;&#x438; &#x438;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;, CRM, &#x421;&#x430;&#x439;&#x442;&#x44B;, &#x414;&#x438;&#x441;&#x43A;, &#x41A;&#x430;&#x43B;&#x435;&#x43D;&#x434;&#x430;&#x440;&#x438; &#x438;&#x434;&#x440;&#x443;&#x433;&#x438;&#x435;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                        %span.table__plus
                                                  .table__row
                                                    .table__list
                                                      .table__item
                                                        %a.table__button.button.button_theme_dark.button_size_gs{:href => "javascript:void(0);"}
                                                          \&#x412;&#x44B;&#x431;&#x440;&#x430;&#x442;&#x44C;
                                            .table__mob-item.js-acc
                                              .table__table
                                                .table__mob-header.js-acc-toggle
                                                  .table__row.table__row_head.table__row_start
                                                    .table__sidebar
                                                      .table__title
                                                        \&#x41A;&#x43E;&#x43C;&#x430;&#x43D;&#x434;&#x430;
                                                    .table__list
                                                      .table__item
                                                        .table__subtitle
                                                          5 490
                                                          = succeed "/\u{43c}\u{435}\u{441}." do
                                                            %span.rub &#x420;
                                                          %svg{:viewBox => "0 0 11 7"}
                                                            %path{:d => "M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z", "fill-rule" => "evenodd"}
                                                .table__mob-body.js-acc-item
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x438;
                                                    .table__list
                                                      .table__item
                                                        .table__caption
                                                          \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41C;&#x435;&#x441;&#x442;&#x43E; &#x432; &#x43E;&#x431;&#x43B;&#x430;&#x43A;&#x435;
                                                    .table__list
                                                      .table__item
                                                        .table__title
                                                          100 &#x413;&#x431;
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41A;&#x43E;&#x43C;&#x43C;&#x443;&#x43D;&#x438;&#x43A;&#x430;&#x446;&#x438;&#x438;
                                                      .table__caption
                                                        \&#x421;&#x43E;&#x446;&#x441;&#x435;&#x442;&#x44C;, &#x447;&#x430;&#x442; &#x438;&#x432;&#x438;&#x434;&#x435;&#x43E;&#x437;&#x432;&#x43E;&#x43D;&#x43A;&#x438;, &#x442;&#x435;&#x43B;&#x435;&#x444;&#x43E;&#x43D;&#x438;&#x44F;, HR, &#x43C;&#x43E;&#x431;&#x438;&#x43B;&#x44C;&#x43D;&#x43E;&#x435; &#x43F;&#x440;&#x438;&#x43B;&#x43E;&#x436;&#x435;&#x43D;&#x438;&#x435;, &#x43F;&#x43E;&#x447;&#x442;&#x430;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        %nobr &#x411;&#x438;&#x437;&#x43D;&#x435;&#x441;-&#x438;&#x43D;&#x441;&#x442;&#x440;&#x443;&#x43C;&#x435;&#x43D;&#x442;&#x44B;
                                                      .table__caption
                                                        \&#x417;&#x430;&#x434;&#x430;&#x447;&#x438; &#x438;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;, CRM, &#x421;&#x430;&#x439;&#x442;&#x44B;, &#x414;&#x438;&#x441;&#x43A;, &#x41A;&#x430;&#x43B;&#x435;&#x43D;&#x434;&#x430;&#x440;&#x438; &#x438;&#x434;&#x440;&#x443;&#x433;&#x438;&#x435;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                        %span.table__plus
                                                  .table__row
                                                    .table__list
                                                      .table__item
                                                        %a.table__button.button.button_theme_dark.button_size_gs{:href => "javascript:void(0);"}
                                                          \&#x412;&#x44B;&#x431;&#x440;&#x430;&#x442;&#x44C;
                                            .table__mob-item.js-acc
                                              .table__table
                                                .table__mob-header.js-acc-toggle
                                                  .table__row.table__row_head.table__row_start
                                                    .table__sidebar
                                                      .table__title
                                                        \&#x41A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F;
                                                    .table__list
                                                      .table__item
                                                        .table__subtitle
                                                          10 990
                                                          = succeed "/\u{43c}\u{435}\u{441}" do
                                                            %span.rub &#x420;
                                                          %svg{:viewBox => "0 0 11 7"}
                                                            %path{:d => "M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z", "fill-rule" => "evenodd"}
                                                .table__mob-body.js-acc-item
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x438;
                                                    .table__list
                                                      .table__item
                                                        .table__caption
                                                          \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                  .table__row
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41C;&#x435;&#x441;&#x442;&#x43E; &#x432; &#x43E;&#x431;&#x43B;&#x430;&#x43A;&#x435;
                                                    .table__list
                                                      .table__item
                                                        .table__caption
                                                          \&#x41D;&#x435;&#x43E;&#x433;&#x440;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x43D;&#x43D;&#x43E;
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        \&#x41A;&#x43E;&#x43C;&#x43C;&#x443;&#x43D;&#x438;&#x43A;&#x430;&#x446;&#x438;&#x438;
                                                      .table__caption
                                                        \&#x421;&#x43E;&#x446;&#x441;&#x435;&#x442;&#x44C;, &#x447;&#x430;&#x442; &#x438;&#x432;&#x438;&#x434;&#x435;&#x43E;&#x437;&#x432;&#x43E;&#x43D;&#x43A;&#x438;, &#x442;&#x435;&#x43B;&#x435;&#x444;&#x43E;&#x43D;&#x438;&#x44F;, HR, &#x43C;&#x43E;&#x431;&#x438;&#x43B;&#x44C;&#x43D;&#x43E;&#x435; &#x43F;&#x440;&#x438;&#x43B;&#x43E;&#x436;&#x435;&#x43D;&#x438;&#x435;, &#x43F;&#x43E;&#x447;&#x442;&#x430;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                  .table__row.table__row_start
                                                    .table__sidebar
                                                      .table__head
                                                        %nobr &#x411;&#x438;&#x437;&#x43D;&#x435;&#x441;-&#x438;&#x43D;&#x441;&#x442;&#x440;&#x443;&#x43C;&#x435;&#x43D;&#x442;&#x44B;
                                                      .table__caption
                                                        \&#x417;&#x430;&#x434;&#x430;&#x447;&#x438; &#x438;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;, CRM, &#x421;&#x430;&#x439;&#x442;&#x44B;, &#x414;&#x438;&#x441;&#x43A;, &#x41A;&#x430;&#x43B;&#x435;&#x43D;&#x434;&#x430;&#x440;&#x438; &#x438;&#x434;&#x440;&#x443;&#x433;&#x438;&#x435;
                                                    .table__list
                                                      .table__item
                                                        %span.table__plus
                                                        %span.table__plus
                                                  .table__row
                                                    .table__list
                                                      .table__item
                                                        %a.table__button.button.button_theme_dark.button_size_gs{:href => "javascript:void(0);"}
                                                          \&#x412;&#x44B;&#x431;&#x440;&#x430;&#x442;&#x44C;
                                    %section.section.section_pad_small.section_green_darkestcount-b24
                                      .section__wrp.count-b24__wrp
                                        .count-b24__grid
                                          .count-b24__left
                                            .count-b24__box
                                              %span.count-b24__scroller
                                              .count-b24__count.heading.heading_type_h2
                                                67000000
                                            .count-b24__caption.caption.caption_size_l
                                              \&#x437;&#x430;&#x434;&#x430;&#x447; &#x440;&#x435;&#x448;&#x435;&#x43D;&#x43E;
                                              %br/
                                              \&#x441;&#x43F;&#x43E;&#x43C;&#x43E;&#x449;&#x44C;&#x44E; &#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24
                                          %a.count-b24__button.button.button_theme_accent.button_size_l{:href => "javascript:void(0);"}
                                            \&#x41D;&#x430;&#x447;&#x430;&#x442;&#x44C; &#x431;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E;
                                    %section.section.img-block
                                      .section__wrp.img-block__wrp
                                        .img-block__list
                                          .img-block__item.img-block__item_left.scene
                                            .img-block__bg.layer{"data-depth" => "0.60"}
                                              %img{:alt => "clouds", :src => "img/services/b24/img-block/clouds_left.png"}
                                              .img-block__content.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
                                                .img-block__text
                                                  .img-block__title.heading.heading_type_h3
                                                    CRM &#x434;&#x43B;&#x44F;&#x43E;&#x442;&#x434;&#x435;&#x43B;&#x430; &#x43F;&#x440;&#x43E;&#x434;&#x430;&#x436;
                                                  %p.img-block__caption.caption.caption_size_g
                                                    \&#x41A;&#x43E;&#x440;&#x43E;&#x431;&#x43E;&#x447;&#x43D;&#x430;&#x44F; CRM &#x44D;&#x442;&#x43E; &#x442;&#x43E;&#x447;&#x43D;&#x430;&#x44F; &#x43A;&#x43E;&#x43F;&#x438;&#x44F; &#x43E;&#x431;&#x43B;&#x430;&#x447;&#x43D;&#x43E;&#x439; &#x432;&#x435;&#x440;&#x441;&#x438;&#x438; &#x441;&#x435;&#x440;&#x432;&#x438;&#x441;&#x430;, &#x441;&#x43A;&#x43E;&#x442;&#x43E;&#x440;&#x43E;&#x439; &#x43C;&#x43E;&#x436;&#x43D;&#x43E; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x430;&#x442;&#x44C; &#x441;&#x440;&#x430;&#x437;&#x443; &#x43F;&#x43E;&#x441;&#x43B;&#x435; &#x443;&#x441;&#x442;&#x430;&#x43D;&#x43E;&#x432;&#x43A;&#x438; &#x43D;&#x430;&#x441;&#x435;&#x440;&#x432;&#x435;&#x440;&#x435;. &#x421;&#x438;&#x441;&#x442;&#x435;&#x43C;&#x430; &#x432;&#x43A;&#x43B;&#x44E;&#x447;&#x430;&#x435;&#x442; &#x432;&#x441;&#x435;&#x431;&#x44F; &#x432;&#x441;&#x435; &#x43D;&#x435;&#x43E;&#x431;&#x445;&#x43E;&#x434;&#x438;&#x43C;&#x44B;&#x435; &#x438;&#x43D;&#x441;&#x442;&#x440;&#x443;&#x43C;&#x435;&#x43D;&#x442;&#x44B; &#x434;&#x43B;&#x44F; &#x43E;&#x440;&#x433;&#x430;&#x43D;&#x438;&#x437;&#x430;&#x446;&#x438;&#x438; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x44B; &#x43E;&#x442;&#x434;&#x435;&#x43B;&#x430; &#x438;&#x430;&#x432;&#x442;&#x43E;&#x43C;&#x430;&#x442;&#x438;&#x437;&#x430;&#x446;&#x438;&#x438; &#x43F;&#x440;&#x43E;&#x434;&#x430;&#x436;.
                                                .img-block__buttons
                                                  %a.img-block__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                                    \&#x423;&#x437;&#x43D;&#x430;&#x439;&#x442;&#x435; &#x431;&#x43E;&#x43B;&#x44C;&#x448;&#x435;
                                              .img-block__img.img-block__img_1
                                                %span.img-block__img-circle.img-block__img-circle_grey.layer{"data-depth" => "0.30"}
                                                %span.img-block__img-circle.img-block__img-circle_accent.layer{"data-depth" => "0.50"}
                                                .img-block__img-img.layer{"data-depth" => "0.20"}
                                                  %img{:alt => "1", :src => "img/services/b24/img-block/1.png"}
                                              .img-block__item.img-block__item_right.scene
                                                .img-block__bg.layer{"data-depth" => "0.60"}
                                                  %img{:alt => "clouds", :src => "img/services/b24/img-block/clouds_right.png"}
                                                  .img-block__content.js-animation.js-animation_fadeInRight{"data-animation-delay" => "300ms"}
                                                    .img-block__text
                                                      .img-block__title.heading.heading_type_h3
                                                        \&#x414;&#x43B;&#x44F;&#x43A;&#x440;&#x443;&#x43F;&#x43D;&#x44B;&#x445; &#x43E;&#x440;&#x433;&#x430;&#x43D;&#x438;&#x437;&#x430;&#x446;&#x438;&#x439;
                                                      %p.img-block__caption.caption.caption_size_g
                                                        \&#x41A;&#x43E;&#x440;&#x43E;&#x431;&#x43E;&#x447;&#x43D;&#x430;&#x44F; &#x432;&#x435;&#x440;&#x441;&#x438;&#x44F; &#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24 &#x434;&#x43B;&#x44F; &#x43A;&#x440;&#x443;&#x43F;&#x43D;&#x44B;&#x445;
                                                        %nobr &#x442;&#x435;&#x440;&#x440;&#x438;&#x442;&#x43E;&#x440;&#x438;&#x430;&#x43B;&#x44C;&#x43D;&#x43E;-&#x440;&#x430;&#x441;&#x43F;&#x440;&#x435;&#x434;&#x435;&#x43B;&#x435;&#x43D;&#x43D;&#x44B;&#x445;
                                                        \&#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x439; &#x438;&#x43B;&#x438; &#x445;&#x43E;&#x43B;&#x434;&#x438;&#x43D;&#x433;&#x43E;&#x432; &#x441;&#x431;&#x43E;&#x43B;&#x44C;&#x448;&#x438;&#x43C; &#x43A;&#x43E;&#x43B;&#x438;&#x447;&#x435;&#x441;&#x442;&#x432;&#x43E;&#x43C; &#x43F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x435;&#x439;.
                                                    .img-block__buttons
                                                      %a.img-block__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                                        \&#x423;&#x437;&#x43D;&#x430;&#x439;&#x442;&#x435; &#x431;&#x43E;&#x43B;&#x44C;&#x448;&#x435;
                                                  .img-block__img.img-block__img_2
                                                    %span.img-block__img-circle.img-block__img-circle_grey.layer{"data-depth" => "0.50"}
                                                    %span.img-block__img-circle.img-block__img-circle_accent.layer{"data-depth" => "0.30"}
                                                    .img-block__img-img.layer{"data-depth" => "0.20"}
                                                      %img{:alt => "2", :src => "img/services/b24/img-block/2.png"}
                                                  .img-block__item.img-block__item_left.scene
                                                    .img-block__bg.layer{"data-depth" => "0.60"}
                                                      %img{:alt => "clouds", :src => "img/services/b24/img-block/clouds_left.png"}
                                                      .img-block__content.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "300ms"}
                                                        .img-block__text
                                                          .img-block__title.heading.heading_type_h3
                                                            \&#x41F;&#x440;&#x438;&#x43B;&#x43E;&#x436;&#x435;&#x43D;&#x438;&#x44F; &#x434;&#x43B;&#x44F;&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24
                                                          %p.img-block__caption.caption.caption_size_g
                                                            \&#x427;&#x430;&#x441;&#x442;&#x43E; &#x432;&#x43E;&#x437;&#x43D;&#x438;&#x43A;&#x430;&#x435;&#x442; &#x43C;&#x43D;&#x43E;&#x433;&#x43E; &#x440;&#x430;&#x437;&#x43D;&#x44B;&#x445;
                                                            = succeed "," do
                                                              %nobr &#x431;&#x438;&#x437;&#x43D;&#x435;&#x441;-&#x437;&#x430;&#x434;&#x430;&#x447;
                                                        .img-block__buttons
                                                          %a.img-block__button.button.button_theme_border.button_size_g{:href => "javascript:void(0);"}
                                                            \&#x423;&#x437;&#x43D;&#x430;&#x439;&#x442;&#x435; &#x431;&#x43E;&#x43B;&#x44C;&#x448;&#x435;
                                                      .img-block__img.img-block__img_3
                                                        .img-block__img-img-2.layer{"data-depth" => "0.30"}
                                                          %img{:alt => "3_2", :src => "img/services/b24/img-block/3_2.png"}
                                                          .img-block__img-img.layer{"data-depth" => "0.20"}
                                                            %img{:alt => "3", :src => "img/services/b24/img-block/3.png"}
                                                  %section.section.section_pad_large.section_green_darkestreviews
                                                    .section__wrp.reviews__wrp
                                                      .section__header.reviews__header
                                                        %h2.section__heading.heading.heading_type_h2
                                                          %span.section__heading-text
                                                            \&#x427;&#x442;&#x43E; &#x433;&#x43E;&#x432;&#x43E;&#x440;&#x44F;&#x442; &#x43E;&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24?
                                                      .section__body.reviews__body.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
                                                        .reviews__slider.swiper-container.js-slider-reviews
                                                          .reviews__slider-wrapper.swiper-wrapper
                                                            .reviews__slide.swiper-slide
                                                              .reviews__slide-wrp
                                                                .reviews__slide-info
                                                                  .reviews__ava-wrp
                                                                    %span.reviews__ava{:style => "background-image: url(img/services/b24/reviews/1.png);"}
                                                                  .reviews__intro
                                                                    \&#x415;&#x432;&#x433;&#x435;&#x43D;&#x438;&#x439; &#x414;&#x430;&#x43D;&#x438;&#x43B;&#x438;&#x43A;: &#x43D;&#x435;&#x432;&#x441;&#x44F;&#x43A;&#x438;&#x439; &#x43C;&#x443;&#x437;&#x435;&#x439; &#x441;&#x43E;&#x432;&#x43E;&#x43A; &#x438;&#x43B;&#x438; &#x43A;&#x430;&#x43A; &#x441;&#x438;&#x441;&#x442;&#x435;&#x43C;&#x430;&#x442;&#x438;&#x437;&#x438;&#x440;&#x43E;&#x432;&#x430;&#x442;&#x44C; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x432;&#x43C;&#x443;&#x437;&#x435;&#x435; &#x441;&#x442;&#x440;&#x430;&#x43D;&#x430; &#x43C;&#x438;&#x43D;&#x438;
                                                                  .reviews__company
                                                                    \&#x421;&#x442;&#x440;&#x430;&#x43D;&#x430; &#x43C;&#x438;&#x43D;&#x438;
                                                                .reviews__slide-review
                                                                  .reviews__text
                                                                    \&#x421;&#x435;&#x433;&#x43E;&#x434;&#x43D;&#x44F; &#x43C;&#x43E;&#x434;&#x430; &#x43D;&#x430;&#x432;&#x435;&#x434;&#x435;&#x43D;&#x438;&#x435; &#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441;&#x43E;&#x432; &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x438; &#x432;CRM &#x438;&#x43B;&#x438; &#x41A;&#x43E;&#x440;&#x43F;&#x43E;&#x440;&#x430;&#x442;&#x438;&#x432;&#x43D;&#x44B;&#x445; &#x43F;&#x43E;&#x440;&#x442;&#x430;&#x43B;&#x430;&#x445; &#x43F;&#x440;&#x43E;&#x43D;&#x438;&#x43A;&#x43B;&#x430; &#x434;&#x430;&#x436;&#x435; &#x432;&#x441;&#x430;&#x43C;&#x44B;&#x435;, &#x43A;&#x430;&#x437;&#x430;&#x43B;&#x43E;&#x441;&#x44C;&#x431;&#x44B;, &#x43D;&#x435;&#x43F;&#x440;&#x438;&#x432;&#x44B;&#x447;&#x43D;&#x44B;&#x435; &#x441;&#x444;&#x435;&#x440;&#x44B;. &#x41D;&#x430;&#x43F;&#x440;&#x438;&#x43C;&#x435;&#x440;, &#x432;&#x43C;&#x443;&#x437;&#x435;&#x439;. &#x41D;&#x435;&#x432;&#x441;&#x44F;&#x43A;&#x438;&#x439; &#x43C;&#x443;&#x437;&#x435;&#x439; &#x441;&#x43E;&#x432;&#x43E;&#x43A; &#x438;&#x43B;&#x438; &#x43A;&#x430;&#x43A; &#x441;&#x438;&#x441;&#x442;&#x435;&#x43C;&#x430;&#x442;&#x438;&#x437;&#x438;&#x440;&#x43E;&#x432;&#x430;&#x442;&#x44C; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x432;&#x43C;&#x443;&#x437;&#x435;&#x435;, &#x440;&#x430;&#x441;&#x441;&#x43A;&#x430;&#x437;&#x44B;&#x432;&#x430;&#x435;&#x442; &#x415;&#x432;&#x433;&#x435;&#x43D;&#x438;&#x439; &#x414;&#x430;&#x43D;&#x438;&#x43B;&#x438;&#x43A;, &#x43E;&#x441;&#x43D;&#x43E;&#x432;&#x430;&#x442;&#x435;&#x43B;&#x44C; &#x421;&#x442;&#x440;&#x430;&#x43D;&#x430; &#x43C;&#x438;&#x43D;&#x438;.
                                                                  %a.reviews__link{:href => "javascript:void(0);", :target => "_blank"}
                                                                    \&#x41E;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x435;
                                                            .reviews__slide.swiper-slide
                                                              .reviews__slide-wrp
                                                                .reviews__slide-info
                                                                  .reviews__ava-wrp
                                                                    %span.reviews__ava{:style => "background-image: url(img/services/b24/reviews/2.png);"}
                                                                  .reviews__intro
                                                                    \&#x410;&#x43B;&#x435;&#x43D;&#x430; &#x41A;&#x43D;&#x44F;&#x437;&#x435;&#x432;&#x430;: &#x432;&#x43E;&#x432;&#x43B;&#x435;&#x447;&#x435;&#x43D;&#x43D;&#x43E;&#x441;&#x442;&#x44C; &#x441;&#x43E;&#x442;&#x440;&#x443;&#x434;&#x43D;&#x438;&#x43A;&#x43E;&#x432; &#x43F;&#x43E;&#x43F;&#x443;&#x43B;&#x44C;&#x441;&#x443; &#x43F;&#x43E;&#x447;&#x442;&#x438; 70%.
                                                                  .reviews__company
                                                                    GARSIA Group
                                                                .reviews__slide-review
                                                                  .reviews__text
                                                                    \&#x41D;&#x430;&#x448;&#x430; &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x44F; &#x438;&#x43C;&#x43F;&#x43E;&#x440;&#x442;&#x438;&#x440;&#x443;&#x435;&#x442; &#x430;&#x43B;&#x43A;&#x43E;&#x433;&#x43E;&#x43B;&#x44C; &#x438;&#x437;&#x432;&#x435;&#x441;&#x442;&#x43D;&#x44B;&#x445; &#x431;&#x440;&#x435;&#x43D;&#x434;&#x43E;&#x432;, &#x43C;&#x44B;&#x440;&#x430;&#x431;&#x43E;&#x442;&#x430;&#x435;&#x43C; &#x43F;&#x43E;&#x44D;&#x43A;&#x441;&#x43A;&#x43B;&#x44E;&#x437;&#x438;&#x432;&#x43D;&#x44B;&#x43C; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x430;&#x43A;&#x442;&#x430;&#x43C; &#x441;&#x43C;&#x438;&#x440;&#x43E;&#x432;&#x44B;&#x43C;&#x438; &#x43F;&#x440;&#x43E;&#x438;&#x437;&#x432;&#x43E;&#x434;&#x438;&#x442;&#x435;&#x43B;&#x44F;&#x43C;&#x438; (&#x43D;&#x430;&#x43F;&#x440;&#x438;&#x43C;&#x435;&#x440;,
                                                                    = succeed "," do
                                                                      %nobr Bacardi-Martini
                                                                    = succeed "." do
                                                                      %nobr &#x431;&#x438;&#x437;&#x43D;&#x435;&#x441;-&#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441;&#x43E;&#x432;
                                                                  %a.reviews__link{:href => "javascript:void(0);", :target => "_blank"}
                                                                    \&#x41E;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x435;
                                                            .reviews__slide.swiper-slide
                                                              .reviews__slide-wrp
                                                                .reviews__slide-info
                                                                  .reviews__ava-wrp
                                                                    %span.reviews__ava{:style => "background-image: url(img/services/b24/reviews/3.png);"}
                                                                  .reviews__intro
                                                                    \&#x414;&#x43C;&#x438;&#x442;&#x440;&#x438;&#x439; &#x411;&#x443;&#x440;&#x430;&#x43A;: &#x441;&#x43E;&#x442;&#x440;&#x443;&#x434;&#x43D;&#x438;&#x43A;&#x438; &#x441;&#x43E;&#x433;&#x43B;&#x430;&#x441;&#x43D;&#x43E; &#x43A;&#x438;&#x432;&#x430;&#x43B;&#x438;, &#x430;&#x441;&#x430;&#x43C;&#x438; &#x434;&#x443;&#x43C;&#x430;&#x43B;&#x438;: &#x437;&#x430;&#x447;&#x435;&#x43C; &#x43E;&#x43D; &#x437;&#x430;&#x441;&#x442;&#x430;&#x432;&#x43B;&#x44F;&#x435;&#x442; &#x43D;&#x430;&#x441; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x430;&#x442;&#x44C; &#x432;crm
                                                                  .reviews__company
                                                                    \&#x433;&#x440;&#x443;&#x43F;&#x43F;&#x44B; &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x439; EVERES
                                                                .reviews__slide-review
                                                                  .reviews__text
                                                                    \&#x41F;&#x440;&#x438; &#x432;&#x43D;&#x435;&#x434;&#x440;&#x435;&#x43D;&#x438;&#x438; CRM &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x438; &#x43D;&#x435;&#x440;&#x435;&#x434;&#x43A;&#x43E; &#x441;&#x442;&#x430;&#x43B;&#x43A;&#x438;&#x432;&#x430;&#x44E;&#x442;&#x441;&#x44F; &#x441;&#x441;&#x43E;&#x43F;&#x440;&#x43E;&#x442;&#x438;&#x432;&#x43B;&#x435;&#x43D;&#x438;&#x435;&#x43C; &#x441;&#x43E;&#x442;&#x440;&#x443;&#x434;&#x43D;&#x438;&#x43A;&#x43E;&#x432;, &#x43A;&#x43E;&#x442;&#x43E;&#x440;&#x44B;&#x435; &#x43D;&#x435;&#x441;&#x447;&#x438;&#x442;&#x430;&#x44E;&#x442; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443; &#x432;&#x441;&#x438;&#x441;&#x442;&#x435;&#x43C;&#x435; &#x44D;&#x444;&#x444;&#x435;&#x43A;&#x442;&#x438;&#x432;&#x43D;&#x43E;&#x439;. &#x414;&#x43C;&#x438;&#x442;&#x440;&#x438;&#x439; &#x411;&#x443;&#x440;&#x430;&#x43A;, &#x440;&#x443;&#x43A;&#x43E;&#x432;&#x43E;&#x434;&#x438;&#x442;&#x435;&#x43B;&#x44C; &#x433;&#x440;&#x443;&#x43F;&#x43F;&#x44B; &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x439; EVERES, &#x43F;&#x43E;&#x434;&#x435;&#x43B;&#x438;&#x43B;&#x441;&#x44F; &#x43E;&#x43F;&#x44B;&#x442;&#x43E;&#x43C; &#x432;&#x43D;&#x435;&#x434;&#x440;&#x435;&#x43D;&#x438;&#x44F; &#x432;&#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x438; CRM, &#x440;&#x430;&#x441;&#x441;&#x43A;&#x430;&#x437;&#x430;&#x432; &#x43E;&#x442;&#x43E;&#x43C;, &#x441;&#x43A;&#x430;&#x43A;&#x438;&#x43C;&#x438; &#x442;&#x440;&#x443;&#x434;&#x43D;&#x43E;&#x441;&#x442;&#x44F;&#x43C;&#x438; &#x438;&#x43C;&#x43F;&#x440;&#x438;&#x448;&#x43B;&#x43E;&#x441;&#x44C; &#x441;&#x442;&#x43E;&#x43B;&#x43A;&#x43D;&#x443;&#x442;&#x44C;&#x441;&#x44F; &#x438;&#x447;&#x442;&#x43E; &#x434;&#x430;&#x43B;&#x43E; &#x435;&#x435;&#x438;&#x441;&#x43F;&#x43E;&#x43B;&#x44C;&#x437;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;.
                                                                  %a.reviews__link{:href => "javascript:void(0);", :target => "_blank"}
                                                                    \&#x41E;&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x435;
                                                        .reviews__arrow.reviews__arrow_prev.js-slider-reviews-prev
                                                          .reviews__arrow-icon
                                                            %svg{:height => "20px", :width => "11px"}
                                                              %path{:d => "M10.707,1.978 L2.686,9.999 L10.707,18.020 C11.098,18.410 11.098,19.043 10.707,19.434 C10.317,19.825 9.683,19.825 9.293,19.434 L0.565,10.706 C0.174,10.316 0.174,9.682 0.565,9.292 L9.293,0.564 C9.683,0.173 10.317,0.173 10.707,0.564 C11.098,0.954 11.098,1.587 10.707,1.978 Z", "fill-rule" => "evenodd"}
                                                        .reviews__arrow.reviews__arrow_next.js-slider-reviews-next
                                                          .reviews__arrow-icon
                                                            %svg{:height => "20px", :width => "11px"}
                                                              %path{:d => "M0.293,1.978 L8.314,9.999 L0.293,18.020 C-0.098,18.410 -0.098,19.043 0.293,19.434 C0.683,19.825 1.317,19.825 1.707,19.434 L10.435,10.706 C10.826,10.316 10.826,9.682 10.435,9.292 L1.707,0.564 C1.317,0.173 0.683,0.173 0.293,0.564 C-0.098,0.954 -0.098,1.587 0.293,1.978 Z", "fill-rule" => "evenodd"}
                                                        .reviews__dots.js-slider-reviews-dots
                                                  %section.section.green-promo
                                                    %span.green-promo__bg{:style => "background-image: url(img/services/b24/green-promo.jpg);"}
                                                    .section__wrp.green-promo__wrp
                                                      .green-promo__heading.heading.heading_type_h4
                                                        \&#x411;&#x43E;&#x43B;&#x435;&#x435; 2000000 &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x439; &#x443;&#x436;&#x435; &#x438;&#x441;&#x43F;&#x43E;&#x43B;&#x44C;&#x437;&#x443;&#x44E;&#x442; &#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;24
                                                      .green-promo__buttons
                                                        %a.green-promo__button.button.button_theme_accent.button_size_l{:href => "javascript:void(0);"}
                                                          \&#x41D;&#x430;&#x447;&#x430;&#x442;&#x44C; &#x431;&#x435;&#x441;&#x43F;&#x43B;&#x430;&#x442;&#x43D;&#x43E;
                                                        %a.green-promo__button.button.button_theme_opacity.button_size_l.js-popup{:href => "javascript:void(0);"}
                                                          \&#x41E;&#x441;&#x442;&#x430;&#x432;&#x438;&#x442;&#x44C; &#x437;&#x430;&#x44F;&#x432;&#x43A;&#x443;
