<%- meta title: "Битрикс24 | Услуги"
    meta og: { title: "Битрикс24 | Услуги" }
    %>

      <main class="main">
        
        <section class="section section_first banner">
          <span class="banner__bg" style="background-image: url(<%= asset_path 'services/b24/banner.jpg' %>);"></span>
          
          <div class="section__wrp banner__wrp">
            <div class="banner__content">
              <h1 class="banner__heading heading heading_type_h1">
                Бизнес работает в&nbsp;Битрикс24
              </h1>
              
              <div class="banner__line">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 47 4">
                  <path fill-rule="evenodd"
                      d="M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z"></path>
                </svg>
              </div>
              
              <div class="banner__caption caption caption_size_l">
                Бесплатно. Неограниченно. Онлайн.
              </div>
              
              <div class="banner__buttons">
                <a href="https://www.bitrix24.ru/create.php?p=901268"
                    class="banner__button button button_theme_accent button_size_l">
                  Начать бесплатно
                </a>
                
                <a href="#video-b24"
                    class="banner__button button button_play button_theme_opacity button_size_l js-anchor-video">
                  <span class="button__text">Cмотреть ролик</span>
                  <svg class="button__icon">
                    <use xlink:href="#ic-play"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_grey slider-b24">
          <div class="section__wrp slider-b24__wrp">
            <div class="section__header slider-b24__header">
              <h2 class="section__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Что такое Битрикс24?
                </span>
              </h2>
            </div>
            
            <div class="section__body slider-b24__body">
              <div class="slider-b24__mobnav">
                <div class="slider-b24__mobnav-dropdown dropdown js-dropdown">
                  <div class="dropdown__value js-dropdown-toggle">
                    <span class="dropdown__value-text">Компания</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 11 7"    
                    >
                      <path fill-rule="evenodd"
                          d="M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z"></path>
                    </svg>
                  </div>
                  <div class="dropdown__list js-dropdown-list">
                    <div class="dropdown__item">
                      <a class="dropdown__link js-dropdown-link" href="javascript: void(0);" data-toggle="1">Компания</a>
                    </div>
                    <div class="dropdown__item">
                      <a class="dropdown__link js-dropdown-link" href="javascript: void(0);" data-toggle="2">Компания2</a>
                    </div>
                    <div class="dropdown__item">
                      <a class="dropdown__link js-dropdown-link" href="javascript: void(0);" data-toggle="3">Компания3</a>
                    </div>
                    <div class="dropdown__item">
                      <a class="dropdown__link js-dropdown-link" href="javascript: void(0);" data-toggle="4">Компания4</a>
                    </div>
                    <div class="dropdown__item">
                      <a class="dropdown__link js-dropdown-link" href="javascript: void(0);" data-toggle="5">Компания5</a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="slider-b24__nav">
                <div class="slider-b24__nav-list">
                  <div class="slider-b24__nav-item js-slider-b24-nav active js-animation js-animation_fadeInLeft" data-animation-delay="0" data-toggle="1">
                    <div class="slider-b24__nav-icon">
                      <img src="<%= asset_path 'services/b24/slider_1.svg' %>" alt="1">
                    </div>
                    <div class="slider-b24__nav-text">
                      Компания
                    </div>
                  </div>
                  <span class="slider-b24__nav-line js-animation js-animation_fadeInLeft" data-animation-delay="100ms"></span>
                  <div class="slider-b24__nav-item js-slider-b24-nav js-animation js-animation_fadeInLeft" data-animation-delay="200ms" data-toggle="2">
                    <div class="slider-b24__nav-icon">
                      <img src="<%= asset_path 'services/b24/slider_2.svg' %>" alt="2">
                    </div>
                    <div class="slider-b24__nav-text">
                      Задания и&nbsp;проекты
                    </div>
                  </div>
                  <span class="slider-b24__nav-line js-animation js-animation_fadeInLeft" data-animation-delay="300ms"></span>
                  <div class="slider-b24__nav-item js-slider-b24-nav js-animation js-animation_fadeInLeft" data-animation-delay="400ms" data-toggle="3">
                    <div class="slider-b24__nav-icon">
                      <img src="<%= asset_path 'services/b24/slider_3.svg' %>" alt="3">
                    </div>
                    <div class="slider-b24__nav-text">
                      Crm
                    </div>
                  </div>
                  <span class="slider-b24__nav-line js-animation js-animation_fadeInLeft" data-animation-delay="500ms"></span>
                  <div class="slider-b24__nav-item js-slider-b24-nav js-animation js-animation_fadeInLeft" data-animation-delay="600ms" data-toggle="4">
                    <div class="slider-b24__nav-icon">
                      <img src="<%= asset_path 'services/b24/slider_4.svg' %>" alt="4">
                    </div>
                    <div class="slider-b24__nav-text">
                      Открытые линии
                    </div>
                  </div>
                  <span class="slider-b24__nav-line js-animation js-animation_fadeInLeft" data-animation-delay="700ms"></span>
                  <div class="slider-b24__nav-item js-slider-b24-nav js-animation js-animation_fadeInLeft" data-animation-delay="800ms" data-toggle="5">
                    <div class="slider-b24__nav-icon">
                      <img src="<%= asset_path 'services/b24/slider_5.svg' %>" alt="5">
                    </div>
                    <div class="slider-b24__nav-text">
                      Сайты
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="slider-b24__slider swiper-container js-slider-b24 js-animation js-animation_fadeInUp" data-animation-delay="600ms">
                <div class="slider-b24__slider-wrapper swiper-wrapper">
                  <div class="slider-b24__slide swiper-slide">
                    <div class="slider-b24__slide-wrp">
                      <div class="slider-b24__slide-content">
                        <div class="slider-b24__text">
                          <div class="slider-b24__title heading heading_type_h3">
                            Битрикс24.Компания
                          </div>
                          
                          <p class="slider-b24__caption caption caption_size_g">
                            Помогает работать вместе</p>
                          <p class="slider-b24__caption caption caption_size_g">
                            Живая лента, Чат, Диск, Календарь, Группы, Бизнес-процессы и многое другое
                          </p>
                          
<!--                           <div class="slider-b24__subhead heading heading_type_h6">
                            Бесплатно и&nbsp;неограниченно!
                          </div> -->
                        </div>
                        
                        <div class="slider-b24__buttons">
                          <a href="https://www.bitrix24.ru/?p=901268 "
                              class="slider-b24__button button button_theme_border button_size_g">
                            Подробнее
                          </a>
                          
                          <a href="https://www.bitrix24.ru/features/company.php"
                              class="slider-b24__button button button_theme_accent button_size_g">
                            Что нового?
                          </a>
                        </div>
                      </div>
                      
                      <div class="slider-b24__slide-img">
                        <img src="<%= asset_path 'services/b24/slider_1.jpg' %>" alt="1">
                      </div>
                    </div>
                  </div>
                  <div class="slider-b24__slide swiper-slide">
                    <div class="slider-b24__slide-wrp">
                      <div class="slider-b24__slide-content">
                        <div class="slider-b24__text">
                          <div class="slider-b24__title heading heading_type_h3">
                            Задачи и проекты
                          </div>
                          
                          <p class="slider-b24__caption caption caption_size_g">
                            Помогают работать вместе и успевать вовремя
                          </p>
                          <p class="slider-b24__caption caption caption_size_g">
                            Управление задачами и проектами, Канбан, делегирование, чек-листы, шаблоны

                          </p>
                          
<!--                           <div class="slider-b24__subhead heading heading_type_h6">
                            Бесплатно и&nbsp;неограниченно!
                          </div> -->
                        </div>
                        
                        <div class="slider-b24__buttons">
                          <a href="https://www.bitrix24.ru/?p=901268 "
                              class="slider-b24__button button button_theme_border button_size_g">
                            Подробнее
                          </a>
                          
                          <a href="https://www.bitrix24.ru/features/tasks.php"
                              class="slider-b24__button button button_theme_accent button_size_g">
                            Что нового?
                          </a>
                        </div>
                      </div>
                      
                      <div class="slider-b24__slide-img">
                        <img src="<%= asset_path 'services/b24/slider_2.jpg' %>" alt="2">
                      </div>
                    </div>
                  </div>
                  <div class="slider-b24__slide swiper-slide">
                    <div class="slider-b24__slide-wrp">
                      <div class="slider-b24__slide-content">
                        <div class="slider-b24__text">
                          <div class="slider-b24__title heading heading_type_h3">
                            Битрикс24.CRM
                          </div>
                          
                          <p class="slider-b24__caption caption caption_size_g">
                            Помогает продавать больше
                          </p>

                          <p class="slider-b24__caption caption caption_size_g">
                            Возьмите все коммуникации с клиентами под контроль, автоматизируйте продажи
                            и многое другое
                          </p>
                          
<!--                           <div class="slider-b24__subhead heading heading_type_h6">
                            Бесплатно и&nbsp;неограниченно!
                          </div> -->
                        </div>
                        
                        <div class="slider-b24__buttons">
                          <a href="https://www.bitrix24.ru/?p=901268 "
                              class="slider-b24__button button button_theme_border button_size_g">
                            Подробнее
                          </a>
                          
                          <a href="https://www.bitrix24.ru/features/"
                              class="slider-b24__button button button_theme_accent button_size_g">
                            Что нового?
                          </a>
                        </div>
                      </div>
                      
                      <div class="slider-b24__slide-img">
                        <img src="<%= asset_path 'services/b24/slider_3.jpg' %>" alt="3">
                      </div>
                    </div>
                  </div>
                  <div class="slider-b24__slide swiper-slide">
                    <div class="slider-b24__slide-wrp">
                      <div class="slider-b24__slide-content">
                        <div class="slider-b24__text">
                          <div class="slider-b24__title heading heading_type_h3">
                            Контакт-центр
                          </div>
                          
                          <p class="slider-b24__caption caption caption_size_g">
                            Помогает любить клиентов :) 
                          </p>

                          <p class="slider-b24__caption caption caption_size_g">
                            Подключите соцсети и мессенджеры и общайтесь с клиентами в Битрикс24
                          </p>
                          
<!--                           <div class="slider-b24__subhead heading heading_type_h6">
                            Бесплатно и&nbsp;неограниченно!
                          </div> -->
                        </div>
                        
                        <div class="slider-b24__buttons">
                          <a href="https://www.bitrix24.ru/?p=901268 "
                              class="slider-b24__button button button_theme_border button_size_g">
                            Подробнее
                          </a>
                          
                          <a href="https://www.bitrix24.ru/features/ol.php"
                              class="slider-b24__button button button_theme_accent button_size_g">
                            Что нового?
                          </a>
                        </div>
                      </div>
                      
                      <div class="slider-b24__slide-img">
                        <img src="<%= asset_path 'services/b24/slider_4.jpg' %>" alt="4">
                      </div>
                    </div>
                  </div>
                  <div class="slider-b24__slide swiper-slide">
                    <div class="slider-b24__slide-wrp">
                      <div class="slider-b24__slide-content">
                        <div class="slider-b24__text">
                          <div class="slider-b24__title heading heading_type_h3">
                            Битрикс24.Сайты
                          </div>
                          
                          <p class="slider-b24__caption caption caption_size_g">
                            Помогают продавать
                          </p>

                          <p class="slider-b24__caption caption caption_size_g">
                            Создавайте сайты и лендинги в CRM, сразу с онлайн-чатом, обратным звонком и формой обратной связи
                          </p>
                          
<!--                           <div class="slider-b24__subhead heading heading_type_h6">
                            Бесплатно и&nbsp;неограниченно!
                          </div> -->
                        </div>
                        
                        <div class="slider-b24__buttons">
                          <a href="https://www.bitrix24.ru/?p=901268 "
                              class="slider-b24__button button button_theme_border button_size_g">
                            Подробнее
                          </a>
                          
                          <a href="https://www.bitrix24.ru/features/websites.php"
                              class="slider-b24__button button button_theme_accent button_size_g">
                            Что нового?
                          </a>
                        </div>
                      </div>
                      
                      <div class="slider-b24__slide-img">
                        <img src="<%= asset_path 'services/b24/slider_5.jpg' %>" alt="5">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large action-b24">
          <div class="section__wrp action-b24__wrp scene">
            <div class="action-b24__grid">
              <div class="action-b24__content js-animation js-animation_fadeInLeft" data-animation-delay="100ms">
                <div class="action-b24__text">
                  <div class="action-b24__title heading heading_type_h3">
                    Акция &laquo;Бесплатное внедрение&raquo; в&nbsp;Битрикс24
                  </div>
                  
                  <p class="action-b24__caption caption caption_size_g">
                    Мы бесплатно внедрим облачную версию Битрикс24 при покупке лицензии.
                  </p>
                  
                  <div class="action-b24__subhead heading heading_type_h6">
                    Битрикс24, который поможет компаниям улучшить результаты и&nbsp;обойти конкурентов в&nbsp;2018 году!
                  </div>
                </div>
                
                <div class="action-b24__buttons">
                  <a href="javascript:void(0);"
                      class="action-b24__button button button_theme_border button_size_g js-popup">
                    Оставить заявку
                  </a>
                </div>
              </div>
              
              <div class="action-b24__img">
                <span class="action-b24__img-circle action-b24__img-circle_green layer" data-depth="0.80"></span>
                <span class="action-b24__img-circle action-b24__img-circle_accent layer" data-depth="0.40"></span>
                <span class="action-b24__img-circle action-b24__img-circle_grey layer" data-depth="0.60"></span>
                <span class="action-b24__img-circle action-b24__img-circle_greydark layer" data-depth="0.30"></span>
                <div class="action-b24__img-people layer" data-depth="0.10">
                  <img src="<%= asset_path 'services/b24/action/people.png' %>" alt="people">
                </div>
                <div class="action-b24__img-note layer" data-depth="0.20">
                  <img src="<%= asset_path 'services/b24/action/note.png' %>" alt="note">
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_smallest section_green_light public">
          <div class="section__wrp public__wrp">
            <div class="public__grid">
              <div class="public__heading heading heading_type_h4">
                Авторитетные издания <br />пишут о&nbsp;Битрикс24
              </div>
              
              <div class="public__img-wrp js-slider-public">
                <div class="public__img-list">
                  <a href="javascript:void(0);" target="_blank" rel="nofollow" class="public__img-item js-animation js-animation_fadeInRight" data-animation-delay="0">
                    <img src="<%= asset_path 'services/b24/public/forbes.png' %>" alt="forbes">
                  </a>
                  
                  <a href="javascript:void(0);" target="_blank" rel="nofollow" class="public__img-item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <img src="<%= asset_path 'services/b24/public/pcmag.png' %>" alt="pcmag">
                  </a>
                  
                  <a href="javascript:void(0);" target="_blank" rel="nofollow" class="public__img-item js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                    <img src="<%= asset_path 'services/b24/public/itworld.png' %>" alt="itworld">
                  </a>
                  
                  <a href="javascript:void(0);" target="_blank" rel="nofollow" class="public__img-item js-animation js-animation_fadeInRight" data-animation-delay="600ms">
                    <img src="<%= asset_path 'services/b24/public/lifehacker.png' %>" alt="lifehacker">
                  </a>
                </div>
                
                <div class="public__dots js-slider-public-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section id="video-b24" class="section section_green_darkvideo-b24">
          <div class="section__wrp video-b24__wrp">
            <div class="video-b24__bg js-animation js-animation_fadeInLeftBg" data-animation-delay="100ms">
              <img src="<%= asset_path 'services/b24/bg_video.png' %>" alt="video_bg">
            </div>
            
            <div class="video-b24__heading heading heading_type_h3">
              Начните знакомство с&nbsp;Битрикс24
            </div>
            
            <div class="video-b24__video">
              <div class="video-b24__video-wrp js-video-b24">
                <div class="video-b24__video-frame js-video-b24">
                  <div id="video-b24-player"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large table">
          <div class="section__wrp table__wrp">
            <div class="section__header table__header">
              <h2 class="section__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Сколько это стоит?
                </span>
              </h2>
            </div>
            
            <div class="section__body table__body">
              <div class="table__table">
                <div class="table__row table__row_head table__row_start js-animation js-animation_fadeInUp" data-animation-delay="0">
                  <div class="table__sidebar">
                    <div class="table__title">
                      Тариф
                    </div>
                  </div>
                  
                  <div class="table__list">
                    <div class="table__item">
                      <div class="table__title">
                        Проект
                      </div>
                      
                      <div class="table__subtitle">
                        Бесплатно
                      </div>
                    </div>
                    
                    <div class="table__item">
                      <div class="table__title">
                        Проект+
                      </div>
                      
                      <div class="table__subtitle">
                        990 <span class="rub">Р</span>/мес.
                      </div>
                    </div>
                    
                    <div class="table__item">
                      <div class="table__title">
                        Команда
                      </div>
                      
                      <div class="table__subtitle">
                        5 490 <span class="rub">Р</span>/мес.
                      </div>
                    </div>
                    
                    <div class="table__item">
                      <div class="table__title">
                        Компания
                      </div>
                      
                      <div class="table__subtitle">
                        10 990 <span class="rub">Р</span>/мес
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="table__row js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                  <div class="table__sidebar">
                    <div class="table__head">
                      Пользователи
                    </div>
                  </div>
                  
                  <div class="table__list">
                    <div class="table__item">
                      <div class="table__caption">
                        Неограниченно
                      </div>
                    </div>
                    <div class="table__item">
                      <div class="table__caption">
                        Неограниченно
                      </div>
                    </div>
                    <div class="table__item">
                      <div class="table__caption">
                        Неограниченно
                      </div>
                    </div>
                    <div class="table__item">
                      <div class="table__caption">
                        Неограниченно
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="table__row js-animation js-animation_fadeInUp" data-animation-delay="300ms">
                  <div class="table__sidebar">
                    <div class="table__head">
                      Место в облаке
                    </div>
                  </div>
                  
                  <div class="table__list">
                    <div class="table__item">
                      <div class="table__title">
                        5 Гб
                      </div>
                    </div>
                    <div class="table__item">
                      <div class="table__title">
                        24 Гб
                      </div>
                    </div>
                    <div class="table__item">
                      <div class="table__title">
                        100 Гб
                      </div>
                    </div>
                    <div class="table__item">
                      <div class="table__caption">
                        Неограниченно
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="table__row table__row_start js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                  <div class="table__sidebar">
                    <div class="table__head">
                      Коммуникации
                    </div>
                    
                    <div class="table__caption">
                      Соцсеть, чат и&nbsp;видеозвонки, телефония, HR, мобильное приложение, почта
                    </div>
                  </div>
                  
                  <div class="table__list">
                    <div class="table__item">
                      <span class="table__plus"></span>
                    </div>
                    <div class="table__item">
                      <span class="table__plus"></span>
                    </div>
                    <div class="table__item">
                      <span class="table__plus"></span>
                    </div>
                    <div class="table__item">
                      <span class="table__plus"></span>
                    </div>
                  </div>
                </div>
                
                <div class="table__row table__row_start js-animation js-animation_fadeInUp" data-animation-delay="500ms">
                  <div class="table__sidebar">
                    <div class="table__head">
                      <nobr>Бизнес-инструменты</nobr>
                    </div>
                    
                    <div class="table__caption">
                      Задачи и&nbsp;проекты, CRM, Сайты, Диск, Календари и&nbsp;другие
                    </div>
                  </div>
                  
                  <div class="table__list">
                    <div class="table__item">
                      <span class="table__plus"></span>
                    </div>
                    <div class="table__item">
                      <span class="table__plus"></span><span class="table__plus"></span>
                    </div>
                    <div class="table__item">
                      <span class="table__plus"></span><span class="table__plus"></span>
                    </div>
                    <div class="table__item">
                      <span class="table__plus"></span><span class="table__plus"></span>
                    </div>
                  </div>
                </div>
                
                <div class="table__row js-animation js-animation_fadeInUp" data-animation-delay="600ms">
                  <div class="table__sidebar">
 <!--                    <a href="javascript:void(0);"
                        class="table__button button button_theme_border button_size_gm">
                      Сравнить тарифы
                    </a> -->
                  </div>
                  
                  <div class="table__list">
                    <div class="table__item">
                      <a href="https://www.bitrix24.ru/create.php?p=901268"
                          class="table__button button button_theme_accent button_size_gs">
                        Регистрация
                      </a>
                    </div>
                    <div class="table__item">
                      <a href="javascript:void(0);"
                          class="table__button button button_theme_dark button_size_gs js-popup">
                        Выбрать
                      </a>
                    </div>
                    <div class="table__item">
                      <a href="javascript:void(0);"
                          class="table__button button button_theme_dark button_size_gs js-popup">
                        Выбрать
                      </a>
                    </div>
                    <div class="table__item">
                      <a href="javascript:void(0);"
                          class="table__button button button_theme_dark button_size_gs js-popup">
                        Выбрать
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="table__mob">
                <div class="table__mob-item js-acc">
                  <div class="table__table">
                    <div class="table__mob-header js-acc-toggle">
                      <div class="table__row table__row_head table__row_start">
                        <div class="table__sidebar">
                          <div class="table__title">
                            Проект
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__subtitle">
                              Бесплатно
                              <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  viewBox="0 0 11 7"
                              >
                                <path fill-rule="evenodd"
                                    d="M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="table__mob-body js-acc-item">
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Пользователи
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__caption">
                              Неограниченно
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Место в облаке
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__title">
                              5 Гб
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Коммуникации
                          </div>
                          
                          <div class="table__caption">
                            Соцсеть, чат и&nbsp;видеозвонки, телефония, HR, мобильное приложение, почта
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            <nobr>Бизнес-инструменты</nobr>
                          </div>
                          
                          <div class="table__caption">
                            Задачи и&nbsp;проекты, CRM, Сайты, Диск, Календари и&nbsp;другие
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__list">
                          <div class="table__item">
                            <a href="javascript:void(0);"
                                class="table__button button button_theme_accent button_size_gs">
                              Регистрация
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="table__mob-item js-acc">
                  <div class="table__table">
                    <div class="table__mob-header js-acc-toggle">
                      <div class="table__row table__row_head table__row_start">
                        <div class="table__sidebar">
                          <div class="table__title">
                            Проект+
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__subtitle">
                              990 <span class="rub">Р</span>/мес.
                              <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  viewBox="0 0 11 7"
                              >
                                <path fill-rule="evenodd"
                                    d="M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="table__mob-body js-acc-item">
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Пользователи
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__caption">
                              Неограниченно
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Место в облаке
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__title">
                              24 Гб
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Коммуникации
                          </div>
                          
                          <div class="table__caption">
                            Соцсеть, чат и&nbsp;видеозвонки, телефония, HR, мобильное приложение, почта
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            <nobr>Бизнес-инструменты</nobr>
                          </div>
                          
                          <div class="table__caption">
                            Задачи и&nbsp;проекты, CRM, Сайты, Диск, Календари и&nbsp;другие
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span><span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__list">
                          <div class="table__item">
                            <a href="javascript:void(0);"
                                class="table__button button button_theme_dark button_size_gs">
                              Выбрать
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="table__mob-item js-acc">
                  <div class="table__table">
                    <div class="table__mob-header js-acc-toggle">
                      <div class="table__row table__row_head table__row_start">
                        <div class="table__sidebar">
                          <div class="table__title">
                            Команда
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__subtitle">
                              5 490 <span class="rub">Р</span>/мес.
                              <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  viewBox="0 0 11 7"
                              >
                                <path fill-rule="evenodd"
                                    d="M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="table__mob-body js-acc-item">
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Пользователи
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__caption">
                              Неограниченно
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Место в облаке
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__title">
                              100 Гб
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Коммуникации
                          </div>
                          
                          <div class="table__caption">
                            Соцсеть, чат и&nbsp;видеозвонки, телефония, HR, мобильное приложение, почта
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            <nobr>Бизнес-инструменты</nobr>
                          </div>
                          
                          <div class="table__caption">
                            Задачи и&nbsp;проекты, CRM, Сайты, Диск, Календари и&nbsp;другие
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span><span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__list">
                          <div class="table__item">
                            <a href="javascript:void(0);"
                                class="table__button button button_theme_dark button_size_gs">
                              Выбрать
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="table__mob-item js-acc">
                  <div class="table__table">
                    <div class="table__mob-header js-acc-toggle">
                      <div class="table__row table__row_head table__row_start">
                        <div class="table__sidebar">
                          <div class="table__title">
                            Компания
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__subtitle">
                              10 990 <span class="rub">Р</span>/мес
                              <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  viewBox="0 0 11 7"
                              >
                                <path fill-rule="evenodd"
                                    d="M10.723,1.752 L6.190,6.708 C5.809,7.109 5.190,7.109 4.808,6.708 L0.277,1.752 C-0.105,1.351 -0.105,0.701 0.277,0.300 C0.659,-0.101 1.277,-0.101 1.659,0.300 L5.499,4.531 L9.339,0.300 C9.722,-0.101 10.340,-0.101 10.723,0.300 C11.104,0.701 11.104,1.351 10.723,1.752 Z"></path>
                              </svg>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="table__mob-body js-acc-item">
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Пользователи
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__caption">
                              Неограниченно
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Место в облаке
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <div class="table__caption">
                              Неограниченно
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            Коммуникации
                          </div>
                          
                          <div class="table__caption">
                            Соцсеть, чат и&nbsp;видеозвонки, телефония, HR, мобильное приложение, почта
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row table__row_start">
                        <div class="table__sidebar">
                          <div class="table__head">
                            <nobr>Бизнес-инструменты</nobr>
                          </div>
                          
                          <div class="table__caption">
                            Задачи и&nbsp;проекты, CRM, Сайты, Диск, Календари и&nbsp;другие
                          </div>
                        </div>
                        
                        <div class="table__list">
                          <div class="table__item">
                            <span class="table__plus"></span><span class="table__plus"></span>
                          </div>
                        </div>
                      </div>
                      
                      <div class="table__row">
                        <div class="table__list">
                          <div class="table__item">
                            <a href="javascript:void(0);"
                                class="table__button button button_theme_dark button_size_gs">
                              Выбрать
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_small section_green_darkestcount-b24">
          <div class="section__wrp count-b24__wrp">
            <div class="count-b24__grid">
              <div class="count-b24__left">
                <div class="count-b24__box">
                  <span class="count-b24__scroller"></span>
                  
                  <div class="count-b24__count heading heading_type_h2">
                    67&nbsp;000&nbsp;000
                  </div>
                </div>
                
                <div class="count-b24__caption caption caption_size_l">
                  задач решено <br />
                  с&nbsp;помощью Битрикс24
                </div>
              </div>
              
              <a href="https://www.bitrix24.ru/create.php?p=901268"
                  class="count-b24__button button button_theme_accent button_size_l">
                Начать бесплатно
              </a>
            </div>
          </div>
        </section>
        
        <section class="section img-block">
          <div class="section__wrp img-block__wrp">
            <div class="img-block__list">
              <div class="img-block__item img-block__item_left scene">
                <div class="img-block__bg layer" data-depth="0.60">
                  <img src="<%= asset_path 'services/b24/img-block/clouds_left.png' %>" alt="clouds">
                </div>
                
                <div class="img-block__content js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                  <div class="img-block__text">
                    <div class="img-block__title heading heading_type_h3">
                      CRM для&nbsp;отдела продаж
                    </div>
                    
                    <p class="img-block__caption caption caption_size_g">
                      Коробочная CRM&nbsp;&mdash; это точная копия облачной версии сервиса, с&nbsp;которой можно работать сразу после установки на&nbsp;сервере. Система включает в&nbsp;себя все необходимые инструменты для организации работы отдела и&nbsp;автоматизации продаж.
                    </p>
                  </div>
                  
                  <div class="img-block__buttons">
                    <a href="https://www.bitrix24.ru/?p=901268 "
                        class="img-block__button button button_theme_border button_size_g">
                      Узнайте больше
                    </a>
                  </div>
                </div>
                
                <div class="img-block__img img-block__img_1">
                  <span class="img-block__img-circle img-block__img-circle_grey layer" data-depth="0.30"></span>
                  <span class="img-block__img-circle img-block__img-circle_accent layer" data-depth="0.50"></span>
                  <div class="img-block__img-img layer" data-depth="0.20">
                    <img src="<%= asset_path 'services/b24/img-block/1.png' %>" alt="1">
                  </div>
                </div>
              </div>
              
              <div class="img-block__item img-block__item_right scene">
                <div class="img-block__bg layer" data-depth="0.60">
                  <img src="<%= asset_path 'services/b24/img-block/clouds_right.png' %>" alt="clouds">
                </div>
                
                <div class="img-block__content js-animation js-animation_fadeInRight" data-animation-delay="300ms">
                  <div class="img-block__text">
                    <div class="img-block__title heading heading_type_h3">
                      Для&nbsp;крупных организаций
                    </div>
                    
                    <p class="img-block__caption caption caption_size_g">
                      Коробочная версия Битрикс24 для крупных <nobr>территориально-распределенных</nobr> компаний или холдингов с&nbsp;большим количеством пользователей.
                    </p>
                  </div>
                  
                  <div class="img-block__buttons">
                    <a href="https://www.bitrix24.ru/?p=901268 "
                        class="img-block__button button button_theme_border button_size_g">
                      Узнайте больше
                    </a>
                  </div>
                </div>
                
                <div class="img-block__img img-block__img_2">
                  <span class="img-block__img-circle img-block__img-circle_grey layer" data-depth="0.50"></span>
                  <span class="img-block__img-circle img-block__img-circle_accent layer" data-depth="0.30"></span>
                  <div class="img-block__img-img layer" data-depth="0.20">
                    <img src="<%= asset_path 'services/b24/img-block/2.png' %>" alt="2">
                  </div>
                </div>
              </div>
              
              <div class="img-block__item img-block__item_left scene">
                <div class="img-block__bg layer" data-depth="0.60">
                  <img src="<%= asset_path 'services/b24/img-block/clouds_left.png' %>" alt="clouds">
                </div>
                
                <div class="img-block__content js-animation js-animation_fadeInLeft" data-animation-delay="300ms">
                  <div class="img-block__text">
                    <div class="img-block__title heading heading_type_h3">
                      Приложения для&nbsp;Битрикс24
                    </div>
                    
                    <p class="img-block__caption caption caption_size_g">
                      Часто возникает много разных <nobr>бизнес-задач</nobr>, которые не&nbsp;решаются стандартными средствами облачного сервиса. Помогут приложения!
                    </p>
                  </div>
                  
                  <div class="img-block__buttons">
                    <a href="https://www.bitrix24.ru/?p=901268 "
                        class="img-block__button button button_theme_border button_size_g">
                      Узнайте больше
                    </a>
                  </div>
                </div>
                
                <div class="img-block__img img-block__img_3">
                  <div class="img-block__img-img-2 layer" data-depth="0.30">
                    <img src="<%= asset_path 'services/b24/img-block/3_2.png' %>" alt="3_2">
                  </div>
                  <div class="img-block__img-img layer" data-depth="0.20">
                    <img src="<%= asset_path 'services/b24/img-block/3.png' %>" alt="3">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_darkestreviews">
          <div class="section__wrp reviews__wrp">
            <div class="section__header reviews__header">
              <h2 class="section__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Что говорят о&nbsp;Битрикс24?
                </span>
              </h2>
            </div>
            
            <div class="section__body reviews__body js-animation js-animation_fadeInRight" data-animation-delay="200ms">
              <div class="reviews__slider swiper-container js-slider-reviews">
                <div class="reviews__slider-wrapper swiper-wrapper">
                  <div class="reviews__slide swiper-slide">
                    <div class="reviews__slide-wrp">
                      <div class="reviews__slide-info">
                        <div class="reviews__ava-wrp">
                          <span class="reviews__ava" style="background-image: url(<%= asset_path 'services/b24/reviews/1.png' %>);"></span>
                        </div>
                        
                        <div class="reviews__intro">
                          Евгений Данилик: не&nbsp;всякий музей &laquo;совок&raquo; или как систематизировать работу в&nbsp;музее &laquo;страна мини&raquo;.
                        </div>
                        
                        <div class="reviews__company">
                          &laquo;Страна мини&raquo;
                        </div>
                      </div>
                      
                      <div class="reviews__slide-review">
                        <div class="reviews__text">
                          Сегодня &laquo;мода&raquo; на&nbsp;ведение процессов компании в&nbsp;CRM или Корпоративных порталах проникла даже в&nbsp;самые, казалось&nbsp;бы, непривычные сферы. Например, в&nbsp;музей. &laquo;Не&nbsp;всякий музей &laquo;совок&raquo; или как систематизировать работу в&nbsp;музее, рассказывает Евгений Данилик, основатель &laquo;Страна мини&raquo;.
                        </div>
                        
<!--                         <a href="javascript:void(0);" class="reviews__link" target="_blank">
                          О&nbsp;проекте&hellip;
                        </a> -->
                      </div>
                    </div>
                  </div>
                  
                  <div class="reviews__slide swiper-slide">
                    <div class="reviews__slide-wrp">
                      <div class="reviews__slide-info">
                        <div class="reviews__ava-wrp">
                          <span class="reviews__ava" style="background-image: url(<%= asset_path 'services/b24/reviews/2.png' %>);"></span>
                        </div>
                        
                        <div class="reviews__intro">
                          Алена Князева: вовлеченность сотрудников &laquo;по&nbsp;пульсу&raquo;&nbsp;&mdash; почти 70%.
                        </div>
                        
                        <div class="reviews__company">
                          GARSIA Group
                        </div>
                      </div>
                      
                      <div class="reviews__slide-review">
                        <div class="reviews__text">
                          &laquo;Наша компания импортирует алкоголь известных брендов, мы&nbsp;работаем по&nbsp;эксклюзивным контрактам с&nbsp;мировыми производителями (например, <nobr>Bacardi-Martini</nobr>, Remy Cointreau, William Grant & Sons и&nbsp;др.). Кроме дистрибьюции, &laquo;Гарсия&raquo; занимается реализацией алкоголя и&nbsp;как ритейлер: сейчас мы&nbsp;активно развиваем нашу собственную розничную сеть &laquo;WINE&SPIRITS&raquo;. Все это требует максимальной автоматизации <nobr>бизнес-процессов</nobr>.&raquo;
                        </div>
                        
<!--                         <a href="javascript:void(0);" class="reviews__link" target="_blank">
                          О&nbsp;проекте&hellip;
                        </a> -->
                      </div>
                    </div>
                  </div>
                  
                  <div class="reviews__slide swiper-slide">
                    <div class="reviews__slide-wrp">
                      <div class="reviews__slide-info">
                        <div class="reviews__ava-wrp">
                          <span class="reviews__ava" style="background-image: url(<%= asset_path 'services/b24/reviews/3.png' %>);"></span>
                        </div>
                        
                        <div class="reviews__intro">
                          Дмитрий Бурак: сотрудники согласно кивали, а&nbsp;сами думали: зачем он заставляет нас работать в&nbsp;CRM.
                        </div>
                        
                        <div class="reviews__company">
                          группы компаний EVERES
                        </div>
                      </div>
                      
                      <div class="reviews__slide-review">
                        <div class="reviews__text">
                          При внедрении CRM компании нередко сталкиваются с&nbsp;сопротивлением сотрудников, которые не&nbsp;считают работу в&nbsp;системе эффективной. Дмитрий Бурак, руководитель группы компаний EVERES, поделился опытом внедрения в&nbsp;компании CRM, рассказав о&nbsp;том, с&nbsp;какими трудностями им&nbsp;пришлось столкнуться и&nbsp;что дало ее&nbsp;использование.
                        </div>
                        
<!--                         <a href="javascript:void(0);" class="reviews__link" target="_blank">
                          О&nbsp;проекте&hellip;
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="reviews__arrow reviews__arrow_prev js-slider-reviews-prev">
                <div class="reviews__arrow-icon">
                  <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="11px" height="20px">
                    <path fill-rule="evenodd"
                        d="M10.707,1.978 L2.686,9.999 L10.707,18.020 C11.098,18.410 11.098,19.043 10.707,19.434 C10.317,19.825 9.683,19.825 9.293,19.434 L0.565,10.706 C0.174,10.316 0.174,9.682 0.565,9.292 L9.293,0.564 C9.683,0.173 10.317,0.173 10.707,0.564 C11.098,0.954 11.098,1.587 10.707,1.978 Z"></path>
                  </svg>
                </div>
              </div>
              
              <div class="reviews__arrow reviews__arrow_next js-slider-reviews-next">
                <div class="reviews__arrow-icon">
                  <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="11px" height="20px">
                    <path fill-rule="evenodd"
                        d="M0.293,1.978 L8.314,9.999 L0.293,18.020 C-0.098,18.410 -0.098,19.043 0.293,19.434 C0.683,19.825 1.317,19.825 1.707,19.434 L10.435,10.706 C10.826,10.316 10.826,9.682 10.435,9.292 L1.707,0.564 C1.317,0.173 0.683,0.173 0.293,0.564 C-0.098,0.954 -0.098,1.587 0.293,1.978 Z"></path>
                  </svg>
                </div>
              </div>
              
              <div class="reviews__dots js-slider-reviews-dots"></div>
            </div>
          </div>
        </section>
        
        <section class="section green-promo">
          <span class="green-promo__bg" style="background-image: url(<%= asset_path 'services/b24/green-promo.jpg' %>);"></span>
          
          <div class="section__wrp green-promo__wrp">
            <div class="green-promo__heading heading heading_type_h4">
              Более 2&nbsp;000&nbsp;000 компаний уже используют Битрикс24
            </div>
            
            <div class="green-promo__buttons">
              <a href="https://www.bitrix24.ru/create.php?p=901268"
                  class="green-promo__button button button_theme_accent button_size_l">
                Начать бесплатно
              </a>
              
              <a href="javascript:void(0);"   
                  class="green-promo__button button button_theme_opacity button_size_l js-popup">
                Оставить заявку
              </a>
            </div>
          </div>
        </section>
        
      </main>