%main.main
  %section.section.section_first.banner.banner_content_center
    %span.banner__bg{:style => "background-image: url(img/services/corp/banner.jpg);"}
    .section__wrp.banner__wrp.scene
      %span.banner__icons.layer{"data-depth" => "0.60", :style => "background-image: url(img/services/corp/banner_icons.svg);"}
      .banner__content
        %h1.banner__heading.heading.heading_type_h1
          Корпоративные сайты
        .banner__line
          %svg{:viewbox => "0 0 47 4", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %path{:d => "M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z", "fill-rule" => "evenodd"}
        .banner__caption.caption.caption_size_l
          Корпоративный сайт — презентация вашей компании или продукта в интернете.
          %br.sm-hide/
          Одна из его ключевых задач — вызвать у потенциальных клиентов
          %br.sm-hide/
          доверие и уважение к вашему бизнесу.
  %section.section.section_pad_large.corp-promo
    .section__wrp.corp-promo__wrp
      .section__body.corp-promo__body
        .corp-promo__promo-box.promo-box
          .promo-box__list
            .promo-box__item
              .promo-box__item-header
                .promo-box__heading.heading.heading_type_h4
                  Корпоративные сайты
                  = succeed "\u{43d}\u{430}\u{a0}\u{448}\u{430}\u{431}\u{43b}\u{43e}\u{43d}\u{435}" do
                    %br.md-show.sm-hide/
                .promo-box__subtitle.caption.caption_size_g
                  Стандартные задачи
              .promo-box__item-body
                .promo-box__block.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                  .promo-box__block-title
                    Необходим простой сайт
                    %br/
                    с минимумом контента?
                  .promo-box__block-caption
                    Сайт на шаблоне — проект со стандартным функционалом на удобной CMS с широким выбором вариантов дизайна.
                .promo-box__block.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
                  .promo-box__block-title
                    Преимущества
                  .promo-box__check-list.check-list
                    %ul.check-list__list
                      %li.check-list__item
                        .check-list__caption
                          Значительная экономия бюджета за счет готового дизайна и типовых задач для разработчиков;
                      %li.check-list__item
                        .check-list__caption
                          Возможность полноценно продвигать свой сайт в поисковых системах (в отличие от шаблонных сайтов, созданных в бесплатных конструкторах);
                      %li.check-list__item
                        .check-list__caption
                          Возможность собирать и анализировать данные по эффективности своего сайта;
                      %li.check-list__item
                        .check-list__caption
                          Качественный дизайн и структура сайта, разработанные профессиональными проектировщиками и дизайнерами.
              .promo-box__item-footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                .promo-box__footer-caption
                  Стоимость
                  %span
                    от 150 000
                    %span.rub P
                .promo-box__footer-caption
                  Срок
                  %span от 2 недель
            .promo-box__item
              .promo-box__item-header
                .promo-box__heading.heading.heading_type_h4
                  Корпоративные сайты
                  = succeed "\u{43d}\u{430}\u{a0}\u{437}\u{430}\u{43a}\u{430}\u{437}" do
                    %br.md-show.sm-hide/
                .promo-box__subtitle.caption.caption_size_g
                  Сложный проект
              .promo-box__item-body
                .promo-box__block.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                  .promo-box__block-title
                    Планируете большой проект
                    %br/
                    с нестандартным функционалом?
                  .promo-box__block-caption
                    Ваш выбор — разработка на заказ корпоративного сайта с продуманной структурой и авторским дизайном.
                .promo-box__block.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
                  .promo-box__block-title
                    Преимущества
                  .promo-box__check-list.check-list
                    %ul.check-list__list
                      %li.check-list__item
                        .check-list__caption
                          Заказная разработка позволяет реализовать функционал любой сложности, в том числе наиболее новые и эффективные инструменты взаимодействия с пользователем;
                      %li.check-list__item
                        .check-list__caption
                          Структура сайта проектируется под определенные пользовательские сценарии, способствующие лидогенерации;
                      %li.check-list__item
                        .check-list__caption
                          Уникальный дизайн отражает философию вашего бренда и способствует построению коммуникации с пользователем.
              .promo-box__item-footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                .promo-box__footer-caption
                  Стоимость
                  %span
                    от 150 000
                    %span.rub P
                .promo-box__footer-caption
                  Срок
                  %span от 2 недель
  %section.section.section_pad_large.section_green_light.corp-how
    .section__wrp.corp-how__wrp
      .section__header.section__header_compensate.corp-how__header
        %h2.section__heading.heading.heading_type_h2
          %span.section__heading-text
            Как мы работаем?
      .section__body.corp-how__body
        .corp-how__path-block-grid.path-block__grid
          .path-block
            .path-block__wrp
              .path-block__header
                .path-block__heading
                  %span.path-block__heading-text
                    Корпоративный сайт
                    = succeed "\u{43d}\u{430}" do
                      %br.md-show.sm-hide/
              .path-block__body
                %ol.path-block__list.js-animation.js-animation_mobile.js-animation_tablet{"data-animation-delay" => "400ms"}
                  %li.path-block__item
                    .path-block__caption
                      Анализируем
                      %nobr бизнес-задачи
                      клиента
                      и формируем ТЗ
                  %li.path-block__item
                    .path-block__caption
                      Подбираем CMS под задачи
                      будущего сайта
                  %li.path-block__item
                    .path-block__caption
                      Подбираем готовое
                      %nobr дизайн-решение
                      для сайта
                  %li.path-block__item
                    .path-block__caption
                      Интегрируем шаблон с CMS
                  %li.path-block__item
                    .path-block__caption
                      Тестируем и запускаем
                  %li.path-block__item
                    .path-block__caption
                      Поддерживаем и развиваем
          .path-block
            .path-block__wrp
              .path-block__header
                .path-block__heading
                  %span.path-block__heading-text
                    Корпоративный сайт
                    = succeed "\u{43d}\u{430}" do
                      %br.md-show.sm-hide/
              .path-block__body
                %ol.path-block__list.js-animation.js-animation_mobile.js-animation_tablet{"data-animation-delay" => "400ms"}
                  %li.path-block__item
                    .path-block__caption
                      Анализируем
                      %nobr бизнес-задачи
                      клиента
                      и формируем ТЗ
                  %li.path-block__item
                    .path-block__caption
                      Проектируем структуру и создаем
                      прототипы
                  %li.path-block__item
                    .path-block__caption
                      Создаем
                      %nobr дизайн-концепцию
                      и рисуем макетыа
                  %li.path-block__item
                    .path-block__caption
                      Верстаем и программируем
                  %li.path-block__item
                    .path-block__caption
                      Тестируем и запускаем
                  %li.path-block__item
                    .path-block__caption
                      Поддерживаем и развиваем
  %section.section.section_pad_large.corp-pluses
    .section__wrp.corp-pluses__wrp
      .section__header.section__header_compensate.corp-pluses__header
        %h2.section__heading.heading.heading_type_h2.corp-pluses__heading
          %span.section__heading-text НАШИ ПРЕИМУЩЕСТВА
      .section__body.corp-pluses__body
        .corp-pluses__icon-col.icon-col.icon-col_medium.icon-col_border.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.corp-pluses__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "corp", :src => "img/services/corp/pluses/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "corp", :src => "img/services/corp/pluses/1_1.svg"}/
                %img.icon-col__bg{:alt => "corp", :src => "img/services/corp/pluses/1_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Ориентированность на 
                  %nobr бизнес-задачи
                .icon-col__caption.caption.caption_size_s
                  Каждая функция на сайте служит конкретным целям и способствует лидогенерации.
            .icon-col__item.corp-pluses__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "corp", :src => "img/services/corp/pluses/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "corp", :src => "img/services/corp/pluses/2_1.svg"}/
                %img.icon-col__bg{:alt => "corp", :src => "img/services/corp/pluses/2_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Обоснованные решения
                .icon-col__caption.caption.caption_size_s
                  Технологии и методы подбираются с учетом задач проекта, что позволяет оптимизировать стоимость и сроки.
            .icon-col__item.corp-pluses__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "corp", :src => "img/services/corp/pluses/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "corp", :src => "img/services/corp/pluses/3_1.svg"}/
                %img.icon-col__bg{:alt => "corp", :src => "img/services/corp/pluses/3_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  Развитие проектов
                .icon-col__caption.caption.caption_size_s
                  Сайт становится важной частью
                  %br/
                  общей стратегии развития компании, включающей офлайн и 
                  %nobr> онлайн-маркетинг
                  \.
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.section_pad_large.section_green_light.corp-site
    .section__wrp.corp-site__wrp
      .section__header.section__header_compensate.corp-site__header
        %h2.section__heading.heading.heading_type_h2.corp-site__heading
          %span.section__heading-text
            Качественный
            = succeed "\u{43a}\u{43e}\u{440}\u{43f}\u{43e}\u{440}\u{430}\u{442}\u{438}\u{432}\u{43d}\u{44b}\u{439}" do
              %br.md-show/
      .section__body.corp-site__body
        .corp-site__icon-col.icon-col.icon-col_x-large.icon-col_transp.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-three
            .icon-col__item.corp-site__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "corp", :src => "img/services/corp/site/1.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "corp", :src => "img/services/corp/site/1_1.svg"}/
                %img.icon-col__bg{:alt => "corp", :src => "img/services/corp/site/1_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  коммуникация с покупателями
                .icon-col__caption.caption.caption_size_s
                  Проектирование сайта с позиций UX/UI (пользовательские сценарии и продуманные интерфейсы) позволяет гарантированно приводить пользователя к совершению конверсионного действия.
            .icon-col__item.corp-site__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "corp", :src => "img/services/corp/site/2.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "corp", :src => "img/services/corp/site/2_1.svg"}/
                %img.icon-col__bg{:alt => "corp", :src => "img/services/corp/site/2_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  автоматизация любых
                  %nobr бизнес-процессов
                .icon-col__caption.caption.caption_size_s
                  Широкие возможности интеграции с внешними системами позволяют автоматизировать любые процессы вашего бизнеса — от продаж до задач
                  = succeed "." do
                    %nobr HR-отдела
            .icon-col__item.corp-site__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "corp", :src => "img/services/corp/site/3.svg"}/
                %img.icon-col__icons.tilter__deco--lines{:alt => "corp", :src => "img/services/corp/site/3_1.svg"}/
                %img.icon-col__bg{:alt => "corp", :src => "img/services/corp/site/3_bg.svg"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h5-s
                  коммуникация с партнерами
                .icon-col__caption.caption.caption_size_s
                  Ваш корпоративный сайт может стать эффективным инструментом для общения с партнерами, например, дилерской сетью компании или ее поставщиками.
          .icon-col__dots.js-slider-icon-col-dots
  %section.section.green-banner.green-banner_corp
    %span.green-banner__bg{:style => "background-image: url(img/services/corp/green.jpg);"}
    .section__wrp.green-banner__wrp
      %h2.green-banner__heading.section__heading.heading.heading_type_h2
        %span.section__heading-text
          Наш стэк технологий
      .green-banner__btn-list
        .green-banner__btn-item PHP
        .green-banner__btn-item 1C Bitrix
        .green-banner__btn-item JS
        .green-banner__btn-item MySQL
        .green-banner__btn-item PHPUnit
        .green-banner__btn-item Ruby
        .green-banner__btn-item Ruby on Rails
        .green-banner__btn-item PostgreSQL
        .green-banner__btn-item AngularJS
        .green-banner__btn-item Heroku
        .green-banner__btn-item Docker
        .green-banner__btn-item Capistrano
        .green-banner__btn-item RSpec
      .green-banner__buttons
        %a.green-banner__button.button.button_theme_accent.button_size_l.js-popup{:href => "javascript:void(0);"}
          Обсудим проект?
