      <main class="main">
        
        <section class="section section_first banner banner_content_center">
          <span class="banner__bg" style="background-image: url(<%= asset_path 'services/corp/banner.jpg' %>);"></span>
          
          <div class="section__wrp banner__wrp scene">
            <span class="banner__icons layer" data-depth="0.60" style="background-image: url(<%= asset_path 'services/corp/banner_icons.svg' %>);"></span>
            
            <div class="banner__content">
              <h1 class="banner__heading heading heading_type_h1">
                Корпоративные сайты
              </h1>
              
              <div class="banner__line">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 47 4">
                  <path fill-rule="evenodd"
                      d="M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z"></path>
                </svg>
              </div>
              
              <div class="banner__caption caption caption_size_l">
                Корпоративный сайт&nbsp;&mdash; презентация вашей компании или продукта в&nbsp;интернете. <br class="sm-hide"/>
                Одна из&nbsp;его ключевых задач&nbsp;&mdash; вызвать у&nbsp;потенциальных клиентов <br class="sm-hide"/>
                доверие и&nbsp;уважение к&nbsp;вашему бизнесу.
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large corp-promo">
          <div class="section__wrp corp-promo__wrp">
            <div class="section__body corp-promo__body">
              <div class="corp-promo__promo-box promo-box">
                <div class="promo-box__list">
                  <div class="promo-box__item">
                    <div class="promo-box__item-header">
                      <div class="promo-box__heading heading heading_type_h4">
                        Корпоративные сайты <br class="md-show sm-hide"/>на&nbsp;шаблоне
                      </div>
                      
                      <div class="promo-box__subtitle caption caption_size_g">
                        Стандартные задачи
                      </div>
                    </div>
                    
                    <div class="promo-box__item-body">
                      <div class="promo-box__block js-animation js-animation_fadeInUp" data-animation-delay="0">
                        <div class="promo-box__block-title">
                          Необходим простой сайт<br />
                          с&nbsp;минимумом контента?
                        </div>
                        
                        <div class="promo-box__block-caption">
                          Сайт на&nbsp;шаблоне&nbsp;&mdash; проект со&nbsp;стандартным функционалом на&nbsp;удобной CMS с&nbsp;широким выбором вариантов дизайна.
                        </div>
                      </div>
                      
                      <div class="promo-box__block js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                        <div class="promo-box__block-title">
                          Преимущества
                        </div>
                        
                        <div class="promo-box__check-list check-list">
                          <ul class="check-list__list">
                            <li class="check-list__item">
                              <div class="check-list__caption">
                                Значительная экономия бюджета за&nbsp;счет готового дизайна и&nbsp;типовых задач для разработчиков.
                              </div>
                            </li>
                            <li class="check-list__item">
                              <div class="check-list__caption">
                                Возможность полноценно продвигать свой сайт в&nbsp;поисковых системах (в&nbsp;отличие от&nbsp;шаблонных сайтов, созданных в&nbsp;бесплатных конструкторах).
                              </div>
                            </li>
                            <li class="check-list__item">
                              <div class="check-list__caption">
                                Возможность собирать и&nbsp;анализировать данные по&nbsp;эффективности своего сайта.
                              </div>
                            </li>
                            <li class="check-list__item">
                              <div class="check-list__caption">
                                Качественный дизайн и&nbsp;структура сайта, разработанные профессиональными проектировщиками и&nbsp;дизайнерами.
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                    <div class="promo-box__item-footer js-animation js-animation_fadeInUp" data-animation-delay="0">
                      <div class="promo-box__footer-caption">
                        Стоимость <span>от&nbsp;150&nbsp;000 <span class="rub">P</span></span>
                      </div>
                      
                      <div class="promo-box__footer-caption">
                        Срок <span>от&nbsp;2&nbsp;недель</span>
                      </div>
                    </div>
                  </div>
                  
                  <div class="promo-box__item">
                    <div class="promo-box__item-header">
                      <div class="promo-box__heading heading heading_type_h4">
                        Корпоративные сайты <br class="md-show sm-hide"/>на&nbsp;заказ
                      </div>
                      
                      <div class="promo-box__subtitle caption caption_size_g">
                        Сложный проект
                      </div>
                    </div>
                    
                    <div class="promo-box__item-body">
                      <div class="promo-box__block  js-animation js-animation_fadeInUp" data-animation-delay="0">
                        <div class="promo-box__block-title">
                          Планируете большой проект<br />
                          с&nbsp;нестандартным функционалом?
                        </div>
                        
                        <div class="promo-box__block-caption">
                          Ваш выбор&nbsp;&mdash; разработка на&nbsp;заказ корпоративного сайта с&nbsp;продуманной структурой и&nbsp;авторским дизайном.
                        </div>
                      </div>
                      
                      <div class="promo-box__block  js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                        <div class="promo-box__block-title">
                          Преимущества
                        </div>
                        
                        <div class="promo-box__check-list check-list">
                          <ul class="check-list__list">
                            <li class="check-list__item">
                              <div class="check-list__caption">
                                Заказная разработка позволяет реализовать функционал любой сложности, в&nbsp;том числе наиболее новые и&nbsp;эффективные инструменты взаимодействия с&nbsp;пользователем.
                              </div>
                            </li>
                            <li class="check-list__item">
                              <div class="check-list__caption">
                                Структура сайта проектируется под определенные пользовательские сценарии, способствующие лидогенерации.
                              </div>
                            </li>
                            <li class="check-list__item">
                              <div class="check-list__caption">
                                Уникальный дизайн отражает философию вашего бренда и&nbsp;способствует построению коммуникации с&nbsp;пользователем.
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                    <div class="promo-box__item-footer  js-animation js-animation_fadeInUp" data-animation-delay="0">
                      <div class="promo-box__footer-caption">
                        Стоимость <span>от&nbsp;350&nbsp;000 <span class="rub">P</span></span>
                      </div>
                      
                      <div class="promo-box__footer-caption">
                        Срок <span>от&nbsp;4&nbsp;недель</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light corp-how">
          <div class="section__wrp corp-how__wrp">
            <div class="section__header section__header_compensate corp-how__header">
              <h2 class="section__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Как мы работаем?
                </span>
              </h2>
            </div>
            
            <div class="section__body corp-how__body">
              <div class="corp-how__path-block-grid path-block__grid">
                <div class="path-block">
                  <div class="path-block__wrp">
                    <div class="path-block__header">
                      <div class="path-block__heading">
                      <span class="path-block__heading-text">
                        Корпоративный сайт <br class="md-show sm-hide"/>на шаблоне
                      </span>
                      </div>
                    </div>
                    
                    <div class="path-block__body">
                      <ol class="path-block__list js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Анализируем <nobr>бизнес-задачи</nobr> клиента 
                            и&nbsp;формируем ТЗ
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Подбираем CMS под задачи 
                            будущего сайта
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Подбираем готовое <nobr>дизайн-решение</nobr>
                            для&nbsp;сайта
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Интегрируем шаблон с&nbsp;CMS
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Тестируем и&nbsp;запускаем
                          </div>
                        </li>
                        
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Поддерживаем и&nbsp;развиваем
                          </div>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                
                <div class="path-block">
                  <div class="path-block__wrp">
                    <div class="path-block__header">
                      <div class="path-block__heading">
                      <span class="path-block__heading-text">
                        Корпоративный сайт <br class="md-show sm-hide"/>на заказ
                      </span>
                      </div>
                    </div>
                    
                    <div class="path-block__body">
                      <ol class="path-block__list js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Анализируем <nobr>бизнес-задачи</nobr> клиента
                            и&nbsp;формируем ТЗ
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Проектируем структуру и&nbsp;создаем 
                            прототипы
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Создаем <nobr>дизайн-концепцию</nobr> и&nbsp;рисуем макеты
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Верстаем и&nbsp;программируем
                          </div>
                        </li>
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Тестируем и&nbsp;запускаем
                          </div>
                        </li>
                        
                        <li class="path-block__item">
                          <div class="path-block__caption">
                            Поддерживаем и&nbsp;развиваем
                          </div>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large corp-pluses">
          <div class="section__wrp corp-pluses__wrp">
            <div class="section__header section__header_compensate corp-pluses__header">
              <h2 class="section__heading heading heading_type_h2 corp-pluses__heading">
                <span class="section__heading-text">НАШИ ПРЕИМУЩЕСТВА</span>
              </h2>
            </div>
            
            <div class="section__body corp-pluses__body">
              <div class="corp-pluses__icon-col icon-col icon-col_medium icon-col_border js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item corp-pluses__item js-animation js-animation_fadeInRight" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/corp/pluses/1.svg' %>" alt="corp" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/corp/pluses/1_1.svg' %>" alt="corp" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/corp/pluses/1_bg.svg' %>" alt="corp" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Ориентированность на&nbsp;<nobr>бизнес-задачи</nobr>
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Каждая функция на&nbsp;сайте служит конкретным целям и&nbsp;способствует лидогенерации.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item corp-pluses__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/corp/pluses/2.svg' %>" alt="corp" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/corp/pluses/2_1.svg' %>" alt="corp" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/corp/pluses/2_bg.svg' %>" alt="corp" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Обоснованные решения
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Технологии и&nbsp;методы подбираются с&nbsp;учетом задач&nbsp;проекта, что позволяет оптимизировать стоимость и&nbsp;сроки.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item corp-pluses__item js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/corp/pluses/3.svg' %>" alt="corp" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/corp/pluses/3_1.svg' %>" alt="corp" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/corp/pluses/3_bg.svg' %>" alt="corp" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Развитие проектов
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Сайт становится важной частью <br />
                        общей стратегии развития компании, включающей офлайн и&nbsp;<nobr>онлайн-маркетинг</nobr>.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light corp-site">
          <div class="section__wrp corp-site__wrp">
            <div class="section__header section__header_compensate corp-site__header">
              <h2 class="section__heading heading heading_type_h2 corp-site__heading">
                <span class="section__heading-text">Качественный <br class="md-show"/>корпоративный сайт</span>
              </h2>
            </div>
            
            <div class="section__body corp-site__body">
              <div class="corp-site__icon-col icon-col icon-col_x-large icon-col_transp js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item corp-site__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/corp/site/1.svg' %>" alt="corp" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/corp/site/1_1.svg' %>" alt="corp" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/corp/site/1_bg.svg' %>" alt="corp" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        коммуникация с&nbsp;покупателями
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Проектирование сайта с&nbsp;позиций UX/UI (пользовательские сценарии и&nbsp;продуманные интерфейсы) позволяет гарантированно приводить пользователя к&nbsp;совершению конверсионного действия.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item corp-site__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/corp/site/2.svg' %>" alt="corp" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/corp/site/2_1.svg' %>" alt="corp" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/corp/site/2_bg.svg' %>" alt="corp" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        автоматизация любых <nobr>бизнес-процессов</nobr>
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Широкие возможности интеграции с&nbsp;внешними системами позволяют автоматизировать любые процессы вашего бизнеса&nbsp;&mdash; от&nbsp;продаж до&nbsp;задач <nobr>HR-отдела</nobr>.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item corp-site__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/corp/site/3.svg' %>" alt="corp" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/corp/site/3_1.svg' %>" alt="corp" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/corp/site/3_bg.svg' %>" alt="corp" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        коммуникация с&nbsp;партнерами
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Ваш корпоративный сайт может стать эффективным инструментом для общения с&nbsp;партнерами, например, дилерской сетью компании или ее&nbsp;поставщиками.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section green-banner green-banner_corp">
          <span class="green-banner__bg" style="background-image: url(<%= asset_path 'services/corp/green.jpg' %>);"></span>
          
          <div class="section__wrp green-banner__wrp">
            <h2 class="green-banner__heading section__heading heading heading_type_h2">
              <span class="section__heading-text">
                Наш стэк технологий
              </span>
            </h2>
            
            <div class="green-banner__btn-list">
              <div class="green-banner__btn-item">PHP</div>
              <div class="green-banner__btn-item">1C Bitrix</div>
              <div class="green-banner__btn-item">JS</div>
              <div class="green-banner__btn-item">MySQL</div>
              <div class="green-banner__btn-item">PHPUnit</div>
              <div class="green-banner__btn-item">Ruby</div>
              <div class="green-banner__btn-item">Ruby on Rails</div>
              <div class="green-banner__btn-item">PostgreSQL</div>
              <div class="green-banner__btn-item">AngularJS</div>
              <div class="green-banner__btn-item">Heroku</div>
              <div class="green-banner__btn-item">Docker</div>
              <div class="green-banner__btn-item">Capistrano</div>
              <div class="green-banner__btn-item">RSpec</div>
            </div>
            
            <div class="green-banner__buttons">
              <a href="javascript:void(0);"
                  class="green-banner__button button button_theme_accent button_size_l js-popup">
                Обсудим проект?
              </a>
            </div>
          </div>
        </section>
        
      </main>