<%- meta title: "Сложные решения | Услуги"
    meta og: { title: "Сложные решения | Услуги" }
    %>

      <main class="main">
        
        <section class="section section_first banner banner_content_center">
          <span class="banner__bg" style="background-image: url(<%= asset_path 'services/complex/banner.jpg' %>);"></span>
          
          <div class="section__wrp banner__wrp">
            <div class="banner__content">
              <h1 class="banner__heading heading heading_type_h1">
                Сложные решения
              </h1>
              
              <div class="banner__line">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 47 4">
                  <path fill-rule="evenodd"
                      d="M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z"></path>
                </svg>
              </div>
              
              <div class="banner__caption caption caption_size_l">
                Мы&nbsp;беремся за&nbsp;беспрецедентные задачи и&nbsp;амбициозные проекты. <br class="xs-hide"/>
                Например, когда запрос клиента&nbsp;&mdash; стать лучшим на&nbsp;своем рынке.
              </div>
            </div>
            <div class="g-scroller"></div>
          </div>
        </section>
        
        <section class="section complex-promo">
          <div class="section__wrp complex-promo__wrp">
            <div class="section__header complex-promo__header">
              <h2 class="section__heading heading heading_type_h4 complex-promo__heading">
                В&nbsp;каких случаях вам понадобится разработка сложного программного решения?
              </h2>
            </div>
            
            <div class="section__body complex-promo__body">
              <div class="complex-promo__icon-row icon-row">
                <div class="icon-row__list">
                  <div class="icon-row__item complex-promo__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/promo/1.svg' %>" alt="complex" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/promo/1_bg.svg' %>" alt="complex" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Бизнес работает, но&nbsp;можно лучше, если автоматизировать часть&nbsp;процессов.
                      </div>
                    </div>
                  </div>
                  <div class="icon-row__item complex-promo__item js-animation js-animation_fadeInRight" data-animation-delay="300ms">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/promo/2.svg' %>" alt="complex" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/promo/2_bg.svg' %>" alt="complex" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Есть крутая идея стартапа, под которую нужен <br class="xs-hide" />
                        <nobr>веб-проект</nobr> или MVP.
                      </div>
                    </div>
                  </div>
                  <div class="icon-row__item complex-promo__item js-animation js-animation_fadeInLeft" data-animation-delay="600ms">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/promo/3.svg' %>" alt="complex" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/promo/3_bg.svg' %>" alt="complex" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Бизнес хорошо работает в&nbsp;офлайне, но&nbsp;есть потребность выйти&nbsp;в&nbsp;онлайн.
                      </div>
                    </div>
                  </div>
                  <div class="icon-row__item complex-promo__item js-animation js-animation_fadeInRight" data-animation-delay="800ms">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/promo/4.svg' %>" alt="complex" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/promo/4_bg.svg' %>" alt="complex" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Нужна серьезная программная разработка для целого ряда задач, но&nbsp;держать свой штат <nobr>IT-специалистов</nobr> нерентабельно.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light complex-solution">
          <div class="section__wrp complex-solution__wrp">
            <div class="section__header section__header_compensate complex-solution__header">
              <h2 class="section__heading heading heading_type_h2 complex-solution__heading">
                <span class="section__heading-text">
                  Узнали себя?
                </span>
              </h2>
              
              <div class="section__caption caption caption_size_l">
                Выберите подходящее решение!
              </div>
            </div>
            
            <div class="section__body complex-solution__body">
              <div class="complex-solution__icon-col icon-col icon-col_medium icon-col_align-left js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item complex-solution__item js-animation js-animation_fadeInLeft" data-animation-delay="300ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/solution/1.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/solution/1_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/solution/1_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        <nobr>Веб-сервисы</nobr> <br class="sm-hide"/>
                        для ваших клиентов
                      </div>
                      
                      <ul class="icon-col__dot-list dot-list">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Личные кабинеты в&nbsp;интернет- магазинах и&nbsp;на&nbsp;корпоративных сайтах.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Сервисы для бронирования услуг, выбора и&nbsp;покупки ПО.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            <nobr>Онлайн-платежи</nobr> и&nbsp;доставка товара.
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="icon-col__item complex-solution__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/solution/2.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/solution/2_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/solution/2_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        <nobr>B2B-системы</nobr>
                      </div>
                      
                      <ul class="icon-col__dot-list dot-list">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Сервисы для оформления и&nbsp;обработки заказов.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Порталы для хранения<br />
                            документов, формирования аналитики и&nbsp;отчетности.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Интерфейсы для управления программами лояльности и&nbsp;оперативного общения с&nbsp;партнерами.
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="icon-col__item complex-solution__item js-animation js-animation_fadeInRight" data-animation-delay="300ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/solution/3.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/solution/3_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/solution/3_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Внутренние системы <br />
                        для вашей компании
                      </div>
                      
                      <ul class="icon-col__dot-list dot-list">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Корпоративные порталы, сложные <nobr>интранет-проекты</nobr> (<nobr>в т. ч.</nobr> адаптивные).
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Системы дистанционного обучения (<nobr>e-learning</nobr>) и&nbsp;консультирования.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            CRM и&nbsp;<nobr>ERP-решения</nobr>.
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large complex-pluses">
          <div class="section__wrp complex-pluses__wrp">
            <div class="section__header section__header_compensate complex-pluses__header">
              <h2 class="section__heading heading heading_type_h2 complex-pluses__heading">
                <span class="section__heading-text">НАШИ ПРЕИМУЩЕСТВА</span>
              </h2>
            </div>
            
            <div class="section__body complex-pluses__body">
              <div class="complex-pluses__icon-col icon-col icon-col_medium icon-col_border js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item complex-pluses__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/pluses/1.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/pluses/1_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/pluses/1_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Высокая скорость работы
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Разработка ведется итерациями длиной не&nbsp;более&nbsp;<nobr>3-х</nobr>&nbsp;недель. После каждой из&nbsp;них заказчик видит результат, может его оценить и&nbsp;скорректировать.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item complex-pluses__item js-animation js-animation_fadeInDown" data-animation-delay="600ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/pluses/2.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/pluses/2_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/pluses/2_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Прозрачность оплаты
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Вы&nbsp;можете управлять стоимостью проекта: чем&nbsp;больше функций, тем выше цена. <br class="xs-hide"/>
                        Итерации крупного проекта можно оплачивать последовательно.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item complex-pluses__item js-animation js-animation_fadeInRight" data-animation-delay="300ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/pluses/3.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/pluses/3_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/pluses/3_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Выстроенные внутренние процессы
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Мы&nbsp;используем версионирование (gitlab), <nobr>test-driven-development</nobr> (PHPUnit) и&nbsp;покрытие пользовательскими тестами, <br class="xs-hide"/>
                        а&nbsp;также Continuous Integration.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item complex-pluses__item js-animation js-animation_fadeInLeft" data-animation-delay="300ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/pluses/4.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/pluses/4_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/pluses/4_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                      <nobr>Digital-трансформация</nobr>
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Мы&nbsp;накопили большой позитивный опыт в&nbsp;соединении <nobr>веб-технологий</nobr> и&nbsp;офлайновых процессов в&nbsp;единую экосистему бизнеса.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item complex-pluses__item js-animation js-animation_fadeInUp" data-animation-delay="600ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/pluses/5.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/pluses/5_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/pluses/5_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Высоконагруженные системы
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Средний объем баз данных, с&nbsp;которыми мы работаем&nbsp;&mdash; 1 триллион строчек кода.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item complex-pluses__item js-animation js-animation_fadeInRight" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/complex/pluses/6.svg' %>" alt="complex" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/complex/pluses/6_1.svg' %>" alt="complex" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/complex/pluses/6_bg.svg' %>" alt="complex" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Квалификация
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Наши разработчики прошли в&nbsp;общей сложности более 1000 <nobr>человеко-часов</nobr> обучения на&nbsp;профильных образовательных курсах.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light complex-scheme">
          <div class="section__wrp complex-scheme__wrp">
            <div class="section__header section__header_compensate complex-scheme__header">
              <h2 class="section__heading complex-scheme__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Как мы делаем проекты?
                </span>
              </h2>
            </div>
            
            <div class="section__body complex-scheme__body">
              <div class="complex-scheme__line-row line-row">
                <div class="line-row__list js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__title heading heading_type_h5-s">
                        Собираем требования
                      </div>
                      
                      <div class="line-row__caption caption caption_size_g">
                        Изучаем особенности вашего бизнеса, определяем задачи и&nbsp;цели будущего продукта, создаем стратегию реализации проекта.
                      </div>
                    </div>
                  </div>
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__title heading heading_type_h5-s">
                        Пишем ТЗ
                      </div>
                      
                      <div class="line-row__caption caption caption_size_g">
                        Техническое задание&nbsp;&mdash; основной формат проектной документации, который содержит все требования к&nbsp;функционалу и&nbsp;интерфейсу проекта. Именно по&nbsp;нему будет вестись вся дальнейшая разработка.
                      </div>
                    </div>
                  </div>
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__title heading heading_type_h5-s">
                        Создаем прототип
                      </div>
                      
                      <div class="line-row__caption caption caption_size_g">
                        На&nbsp;этапе проектирования мы&nbsp;продумываем функционал и&nbsp;структуру сайта. Его результатом становится прототип&nbsp;&mdash; макет со&nbsp;схемой расположения всех модулей будущего продукта.
                      </div>
                    </div>
                  </div>
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__title heading heading_type_h5-s">
                        Создаем дизайн
                      </div>
                      
                      <div class="line-row__caption caption caption_size_g">
                        После утверждения прототипа заказчиком мы&nbsp;создаем графическую оболочку продукта. Для этого дизайнер воплощает продуманные с&nbsp;клиентом и&nbsp;командой проекта смыслы и&nbsp;месседжи в&nbsp;<nobr>дизайн-концепцию</nobr>.
                      </div>
                    </div>
                  </div>
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__title heading heading_type_h5-s">
                        Программируем
                      </div>
                      
                      <div class="line-row__caption caption caption_size_g">
                        Создание внутреннего кода проекта обеспечивает работу всего задуманного функционала проекта и&nbsp;его корректное отображение на&nbsp;различных устройствах.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="section__footer complex-scheme__footer js-animation js-animation_fadeInUp" data-animation-delay="200ms">
              <div class="complex-scheme__caption">
                Стоимость <span>от&nbsp;750&nbsp;000 <span class="rub">P</span></span>
              </div>
              
              <div class="complex-scheme__caption">
                Срок <span>от&nbsp;3&nbsp;месяцев</span>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large complex-mvp">
          <div class="section__wrp complex-mvp__wrp scene">
            <div class="section__header section__header_compensate complex-mvp__header">
              <h2 class="section__heading complex-mvp__heading heading heading_type_h2">
                <span class="section__heading-text">MVP</span>
              </h2>
            </div>
            
            <div class="section__body complex-mvp__body">
              <div class="complex-mvp__caption caption caption_size_g">
                К&nbsp;нам часто обращаются стартапы. Специально для таких клиентов мы&nbsp;предлагаем
                <span>MVP&nbsp;(minimum viable product)</span>&nbsp;&mdash; разработку минимально жизнеспособного продукта, 
                который позволяет быстро и&nbsp;без больших затрат получить обратную связь от&nbsp;пользователей.
              </div>
              
              <div class="complex-mvp__img">
                <div class="complex-mvp__img-wrp">
                  <img src="<%= asset_path 'services/complex/mvp/bg.svg' %>" alt="complex" class="complex-mvp__img-bg layer" data-depth="0.40">
                  <img src="<%= asset_path 'services/complex/mvp/icon2.svg' %>" alt="complex" class="complex-mvp__img-icon2 layer" data-depth="0.60">
                  <img src="<%= asset_path 'services/complex/mvp/icon.svg' %>" alt="complex" class="complex-mvp__img-icon layer" data-depth="0.80">
                </div>
              </div>
              
              <div class="complex-mvp__title heading heading_type_h5-s">
                MVP&nbsp;&mdash; возможность для стартапа:
              </div>
              
              <div class="complex-mvp__check-list check-list">
                <ul class="check-list__list">
                  <li class="check-list__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="check-list__caption">
                      Сэкономить деньги, не&nbsp;вкладывая их&nbsp;в&nbsp;провальный проект.
                    </div>
                  </li>
                  <li class="check-list__item js-animation js-animation_fadeInUp" data-animation-delay="100ms">
                    <div class="check-list__caption">
                      Проверить, интересует&nbsp;ли ваш продукт потенциальных пользователей и&nbsp;готовы&nbsp;ли они за&nbsp;него платить.
                    </div>
                  </li>
                  <li class="check-list__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                    <div class="check-list__caption">
                      Интерфейсы для управления программами лояльности и&nbsp;оперативного общения с&nbsp;партнерами.
                    </div>
                  </li>
                  <li class="check-list__item js-animation js-animation_fadeInUp" data-animation-delay="300ms">
                    <div class="check-list__caption">
                      Собрать базу потенциальных клиентов и&nbsp;найти ранних приверженцев (early adopters) своего продукта.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <div class="section__footer complex-mvp__footer js-animation js-animation_fadeInUp" data-animation-delay="400ms">
              <div class="complex-mvp__footer-caption">
                Стоимость <span>от&nbsp;150&nbsp;000 <span class="rub">P</span></span>
              </div>
              
              <div class="complex-mvp__footer-caption">
                Срок <span>от&nbsp;2&nbsp;недель</span>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section green-banner green-banner_complex">
          <span class="green-banner__bg" style="background-image: url(<%= asset_path 'services/complex/green.jpg' %>);"></span>
          
          <div class="section__wrp green-banner__wrp">
            <h2 class="green-banner__heading section__heading heading heading_type_h2">
              <span class="section__heading-text">
                Наш стэк технологий
              </span>
            </h2>
            
            <div class="green-banner__btn-list">
              <div class="green-banner__btn-item">PHP</div>
              <div class="green-banner__btn-item">1C Bitrix</div>
              <div class="green-banner__btn-item">JS</div>
              <div class="green-banner__btn-item">MySQL</div>
              <div class="green-banner__btn-item">PHPUnit</div>
              <div class="green-banner__btn-item">Ruby</div>
              <div class="green-banner__btn-item">Ruby on Rails</div>
              <div class="green-banner__btn-item">PostgreSQL</div>
              <div class="green-banner__btn-item">AngularJS</div>
              <div class="green-banner__btn-item">Heroku</div>
              <div class="green-banner__btn-item">Docker</div>
              <div class="green-banner__btn-item">Capistrano</div>
              <div class="green-banner__btn-item">RSpec</div>
            </div>
            
            <div class="green-banner__buttons">
              <a href="javascript:void(0);"
                  class="green-banner__button button button_theme_accent button_size_l js-popup">
                Обсудим проект?
              </a>
            </div>
          </div>
        </section>
      </main>