%main.main
  %section.section.section_first.banner.banner_content_center
    %span.banner__bg{:style => "background-image: url(img/services/commerce/banner.jpg);"}
    .section__wrp.banner__wrp
      .banner__content
        %h1.banner__heading.heading.heading_type_h1
          %nobr &#x418;&#x43D;&#x442;&#x435;&#x440;&#x43D;&#x435;&#x442;-&#x43C;&#x430;&#x433;&#x430;&#x437;&#x438;&#x43D;&#x44B;
        .banner__line
          %svg{:viewBox => "0 0 47 4"}
            %path{:d => "M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z", "fill-rule" => "evenodd"}
        .banner__caption.caption.caption_size_l
          \&#x421;&#x43E;&#x437;&#x434;&#x430;&#x435;&#x43C; &#x44D;&#x444;&#x444;&#x435;&#x43A;&#x442;&#x438;&#x432;&#x43D;&#x44B;&#x435; &#x440;&#x435;&#x448;&#x435;&#x43D;&#x438;&#x44F;
          %br/
          \&#x434;&#x43B;&#x44F; &#x440;&#x43E;&#x437;&#x43D;&#x438;&#x447;&#x43D;&#x43E;&#x439; &#x438;&#x43E;&#x43F;&#x442;&#x43E;&#x432;&#x43E;&#x439; &#x442;&#x43E;&#x440;&#x433;&#x43E;&#x432;&#x43B;&#x438; &#x432;&#x438;&#x43D;&#x442;&#x435;&#x440;&#x43D;&#x435;&#x442;&#x435;.
  %section.section.commerce-promo
    .section__wrp.commerce-promo__wrp
      .section__header.commerce-promo__header
        %h2.section__heading.heading.heading_type_h4.commerce-promo__heading
          \&#x41D;&#x430;&#x448;&#x438;
          %nobr &#x438;&#x43D;&#x442;&#x435;&#x440;&#x43D;&#x435;&#x442;-&#x43C;&#x430;&#x433;&#x430;&#x437;&#x438;&#x43D;&#x44B;
          \&#x44D;&#x442;&#x43E; &#x438;&#x43D;&#x434;&#x438;&#x432;&#x438;&#x434;&#x443;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x435; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;
          %br.sm-hide/
          \&#x441;&#x43F;&#x440;&#x43E;&#x434;&#x443;&#x43C;&#x430;&#x43D;&#x43D;&#x43E;&#x439; &#x441;&#x442;&#x440;&#x443;&#x43A;&#x442;&#x443;&#x440;&#x43E;&#x439; &#x438;&#x43A;&#x430;&#x447;&#x435;&#x441;&#x442;&#x432;&#x435;&#x43D;&#x43D;&#x44B;&#x43C; &#x434;&#x438;&#x437;&#x430;&#x439;&#x43D;&#x43E;&#x43C; &#x432;&#x441;&#x435;&#x445; &#x441;&#x442;&#x440;&#x430;&#x43D;&#x438;&#x446;.
      .section__body.commerce-promo__body
        .commerce-promo__icon-col.icon-col.icon-col_border.icon-col_clear.js-slider-icon-col
          .icon-col__list.icon-col__list_grid-four
            .icon-col__item.commerce-promo__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/promo/1.svg"}
                  %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/promo/1_bg.svg"}
                  .icon-col__text
                    .icon-col__caption.caption.caption_size_g
                      \&#x41B;&#x44E;&#x431;&#x44B;&#x435; &#x444;&#x443;&#x43D;&#x43A;&#x446;&#x438;&#x438;,
                      %br.xs-show/
                      \&#x43D;&#x435;&#x43E;&#x431;&#x445;&#x43E;&#x434;&#x438;&#x43C;&#x44B;&#x435; &#x431;&#x438;&#x437;&#x43D;&#x435;&#x441;&#x443;
                .icon-col__item.commerce-promo__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
                  .icon-col__img-wrp.js-tilter
                    %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/promo/2.svg"}
                      %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/promo/2_bg.svg"}
                      .icon-col__text
                        .icon-col__caption.caption.caption_size_g
                          \&#x418;&#x43D;&#x442;&#x435;&#x433;&#x440;&#x430;&#x446;&#x438;&#x44F;
                          = succeed "\u{441}\u{434}\u{440}\u{443}\u{433}\u{438}\u{43c}\u{438}" do
                            %br.xs-show/
                    .icon-col__item.commerce-promo__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0"}
                      .icon-col__img-wrp.js-tilter
                        %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/promo/3.svg"}
                          %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/promo/3_bg.svg"}
                          .icon-col__text
                            .icon-col__caption.caption.caption_size_g
                              \&#x42E;&#x437;&#x430;&#x431;&#x438;&#x43B;&#x438;&#x442;&#x438;
                              = succeed "\u{438}\u{432}\u{44b}\u{441}\u{43e}\u{43a}\u{438}\u{435}" do
                                %br.xs-show/
                        .icon-col__item.commerce-promo__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
                          .icon-col__img-wrp.js-tilter
                            %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/promo/4.svg"}
                              %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/promo/4_bg.svg"}
                              .icon-col__text
                                .icon-col__caption.caption.caption_size_g
                                  \&#x412;&#x44B;&#x441;&#x43E;&#x43A;&#x43E;&#x43D;&#x430;&#x433;&#x440;&#x443;&#x436;&#x435;&#x43D;&#x43D;&#x44B;&#x435;
                                  %br/
                                  \&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;
                          .icon-col__dots.js-slider-icon-col-dots
                      .section__footer.commerce-promo__footer.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                        .commerce-promo__caption
                          \&#x421;&#x442;&#x43E;&#x438;&#x43C;&#x43E;&#x441;&#x442;&#x44C;
                          %span
                            \&#x43E;&#x442;750000
                            %span.rub P
                        .commerce-promo__caption
                          \&#x421;&#x440;&#x43E;&#x43A;
                          %span &#x43E;&#x442;3&#x43C;&#x435;&#x441;&#x44F;&#x446;&#x435;&#x432;
                  %section.section.section_pad_s-large.section_green_light.commerce-stage
                    .section__wrp.commerce-stage__wrp
                      .section__header.section__header_compensate.commerce-stage__header
                        %h2.section__heading.commerce-stage__heading.heading.heading_type_h2
                          %span.section__heading-text
                            \&#x412;&#x43A;&#x43B;&#x44E;&#x447;&#x430;&#x435;&#x43C;&#x441;&#x44F; &#x441;&#x43B;&#x44E;&#x431;&#x43E;&#x433;&#x43E; &#x44D;&#x442;&#x430;&#x43F;&#x430;
                            %br.xs-hide/
                            \&#x436;&#x438;&#x437;&#x43D;&#x438;
                            %nobr &#x438;&#x43D;&#x442;&#x435;&#x440;&#x43D;&#x435;&#x442;-&#x43C;&#x430;&#x433;&#x430;&#x437;&#x438;&#x43D;&#x430;
                        .section__subtitle.caption.caption_size_m.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                          \&#x420;&#x430;&#x437;&#x440;&#x430;&#x431;&#x430;&#x442;&#x44B;&#x432;&#x430;&#x435;&#x43C; &#x43D;&#x43E;&#x432;&#x44B;&#x435; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;, &#x43C;&#x43E;&#x434;&#x435;&#x440;&#x43D;&#x438;&#x437;&#x438;&#x440;&#x443;&#x435;&#x43C; &#x441;&#x443;&#x449;&#x435;&#x441;&#x442;&#x432;&#x443;&#x44E;&#x449;&#x438;&#x435;,
                          %br.xs-hide/
                          \&#x440;&#x430;&#x437;&#x432;&#x438;&#x432;&#x430;&#x435;&#x43C; &#x438;&#x43F;&#x43E;&#x434;&#x434;&#x435;&#x440;&#x436;&#x438;&#x432;&#x430;&#x435;&#x43C; &#x440;&#x430;&#x441;&#x442;&#x443;&#x449;&#x438;&#x435;
                      .section__body.commerce-stage__body
                        .commerce-stage__icon-col.icon-col.icon-col_small.js-slider-icon-col
                          .icon-col__list.icon-col__list_grid-four
                            .icon-col__item.commerce-stage__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "300ms"}
                              .icon-col__img-wrp.js-tilter
                                %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/stage/1.svg"}
                                  %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/stage/1_bg.svg"}
                                  .icon-col__text
                                    .icon-col__title.heading.heading_type_h5
                                      \&#x421;&#x43E;&#x437;&#x434;&#x430;&#x43D;&#x438;&#x435;
                                    .icon-col__caption.caption.caption_size_s
                                      \&#x421;&#x43E;&#x437;&#x434;&#x430;&#x435;&#x43C; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B; &#x441;&#x447;&#x438;&#x441;&#x442;&#x43E;&#x433;&#x43E; &#x43B;&#x438;&#x441;&#x442;&#x430;, &#x43F;&#x43E;&#x43B;&#x43D;&#x43E;&#x441;&#x442;&#x44C;&#x44E; &#x43F;&#x43E;&#x433;&#x440;&#x443;&#x436;&#x430;&#x44F;&#x441;&#x44C; &#x432;&#x432;&#x430;&#x448; &#x431;&#x438;&#x437;&#x43D;&#x435;&#x441;
                                .icon-col__item.commerce-stage__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "100ms"}
                                  .icon-col__img-wrp.js-tilter
                                    %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/stage/2.svg"}
                                      %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/stage/2_bg.svg"}
                                      .icon-col__text
                                        .icon-col__title.heading.heading_type_h5
                                          \&#x414;&#x43E;&#x440;&#x430;&#x431;&#x43E;&#x442;&#x43A;&#x430;
                                        .icon-col__caption.caption.caption_size_s
                                          \&#x41E;&#x431;&#x43D;&#x43E;&#x432;&#x43B;&#x44F;&#x435;&#x43C; &#x438;&#x43C;&#x43E;&#x434;&#x435;&#x440;&#x43D;&#x438;&#x437;&#x438;&#x440;&#x443;&#x435;&#x43C; &#x444;&#x443;&#x43D;&#x43A;&#x446;&#x438;&#x43E;&#x43D;&#x430;&#x43B; &#x438;&#x434;&#x438;&#x437;&#x430;&#x439;&#x43D; &#x441;&#x443;&#x449;&#x435;&#x441;&#x442;&#x432;&#x443;&#x44E;&#x449;&#x435;&#x433;&#x43E; &#x441;&#x430;&#x439;&#x442;&#x430;
                                    = succeed "100ms\">" do
                                      .icon-col__item.commerce-stage__item.js-animation.js-animation_fadeInLeft
                                    .icon-col__img-wrp.js-tilter
                                      %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/stage/3.svg"}
                                        %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/stage/3_bg.svg"}
                                        .icon-col__text
                                          .icon-col__title.heading.heading_type_h5
                                            \&#x420;&#x430;&#x437;&#x432;&#x438;&#x442;&#x438;&#x435;
                                          .icon-col__caption.caption.caption_size_s
                                            \&#x41F;&#x43E;&#x432;&#x44B;&#x448;&#x430;&#x435;&#x43C; &#x43A;&#x43E;&#x43D;&#x432;&#x435;&#x440;&#x441;&#x438;&#x44E; &#x441;&#x430;&#x439;&#x442;&#x430; &#x441;&#x43F;&#x43E;&#x43C;&#x43E;&#x449;&#x44C;&#x44E; &#x43E;&#x43F;&#x442;&#x438;&#x43C;&#x438;&#x437;&#x430;&#x446;&#x438;&#x438; &#x438;&#x43F;&#x440;&#x43E;&#x434;&#x432;&#x438;&#x436;&#x435;&#x43D;&#x438;&#x44F;
                                      .icon-col__item.commerce-stage__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "300ms"}
                                        .icon-col__img-wrp.js-tilter
                                          %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/stage/4.svg"}
                                            %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/stage/4_bg.svg"}
                                            .icon-col__text
                                              .icon-col__title.heading.heading_type_h5
                                                \&#x41F;&#x43E;&#x434;&#x434;&#x435;&#x440;&#x436;&#x43A;&#x430;
                                              .icon-col__caption.caption.caption_size_s
                                                \&#x41E;&#x43A;&#x430;&#x437;&#x44B;&#x432;&#x430;&#x435;&#x43C; &#x442;&#x435;&#x445;&#x43D;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x443;&#x44E;, &#x43A;&#x43E;&#x43D;&#x442;&#x435;&#x43D;&#x442;&#x43D;&#x443;&#x44E; &#x438;&#x44D;&#x43A;&#x441;&#x43F;&#x435;&#x440;&#x442;&#x43D;&#x443;&#x44E; &#x43F;&#x43E;&#x434;&#x434;&#x435;&#x440;&#x436;&#x43A;&#x443; 24/7
                                        .icon-col__dots.js-slider-icon-col-dots
                                %section.section.section_pad_large.commerce-section.commerce-section_design
                                  .section__wrp.commerce-section__wrp
                                    .section__header.section__header_compensate.commerce-section__header
                                      %h2.section__heading.heading.heading_type_h2.commerce-section__heading
                                        %span.section__heading-text &#x418;&#x43D;&#x442;&#x435;&#x440;&#x444;&#x435;&#x439;&#x441; &#x434;&#x438;&#x437;&#x430;&#x439;&#x43D;
                                    .section__body.commerce-section__body
                                      .commerce-section__icon-col.icon-col.icon-col_medium.icon-col_border.js-slider-icon-col
                                        .icon-col__list.icon-col__list_grid-four
                                          .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "0"}
                                            .icon-col__img-wrp.js-tilter
                                              %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/design/1.svg"}
                                                %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/design/1_1.svg"}
                                                  %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/design/1_bg.svg"}
                                                  .icon-col__text
                                                    .icon-col__title.heading.heading_type_h5-s
                                                      \&#x41F;&#x420;&#x41E;&#x422;&#x41E;&#x422;&#x418;&#x41F;&#x42B;
                                                    .icon-col__caption.caption.caption_size_s
                                                      \&#x421;&#x43F;&#x43E;&#x43C;&#x43E;&#x449;&#x44C;&#x44E; &#x43F;&#x440;&#x43E;&#x442;&#x43E;&#x442;&#x438;&#x43F;&#x430; &#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442; &#x43C;&#x43E;&#x436;&#x435;&#x442; &#x443;&#x432;&#x438;&#x434;&#x435;&#x442;&#x44C; &#x43C;&#x435;&#x445;&#x430;&#x43D;&#x438;&#x43A;&#x443; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x44B; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x430; &#x443;&#x436;&#x435; &#x447;&#x435;&#x440;&#x435;&#x437; 23 &#x43D;&#x435;&#x434;&#x435;&#x43B;&#x438; &#x43F;&#x43E;&#x441;&#x43B;&#x435; &#x43D;&#x430;&#x447;&#x430;&#x43B;&#x430; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x44B;.
                                                .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
                                                  .icon-col__img-wrp.js-tilter
                                                    %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/design/2.svg"}
                                                      %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/design/2_1.svg"}
                                                        %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/design/2_bg.svg"}
                                                        .icon-col__text
                                                          .icon-col__title.heading.heading_type_h5-s
                                                            \&#x414;&#x438;&#x437;&#x430;&#x439;&#x43D;
                                                          .icon-col__caption.caption.caption_size_s
                                                            \&#x413;&#x440;&#x430;&#x444;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x430;&#x44F; &#x43E;&#x431;&#x43E;&#x43B;&#x43E;&#x447;&#x43A;&#x430; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x430; &#x44D;&#x442;&#x43E; &#x44D;&#x43C;&#x43E;&#x446;&#x438;&#x43E;&#x43D;&#x430;&#x43B;&#x44C;&#x43D;&#x430;&#x44F; &#x44D;&#x43D;&#x435;&#x440;&#x433;&#x438;&#x44F; &#x432;&#x430;&#x448;&#x435;&#x433;&#x43E; &#x431;&#x440;&#x435;&#x43D;&#x434;&#x430;, &#x43F;&#x435;&#x440;&#x435;&#x434;&#x430;&#x43D;&#x43D;&#x430;&#x44F; &#x441;&#x438;&#x43D;&#x436;&#x435;&#x43D;&#x435;&#x440;&#x43D;&#x43E;&#x439; &#x442;&#x43E;&#x447;&#x43D;&#x43E;&#x441;&#x442;&#x44C;&#x44E;.
                                                      .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "0"}
                                                        .icon-col__img-wrp.js-tilter
                                                          %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/design/3.svg"}
                                                            %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/design/3_1.svg"}
                                                              %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/design/3_bg.svg"}
                                                              .icon-col__text
                                                                .icon-col__title.heading.heading_type_h5-s
                                                                  \&#x410;&#x434;&#x430;&#x43F;&#x442;&#x438;&#x432;&#x43D;&#x43E;&#x441;&#x442;&#x44C;
                                                                .icon-col__caption.caption.caption_size_s
                                                                  \&#x41C;&#x44B;&#x430;&#x434;&#x430;&#x43F;&#x442;&#x438;&#x440;&#x443;&#x435;&#x43C; &#x441;&#x432;&#x43E;&#x438;
                                                                  %nobr &#x432;&#x435;&#x431;-&#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x44B;
                                                                  \&#x43F;&#x43E;&#x434; &#x43C;&#x43E;&#x431;&#x438;&#x43B;&#x44C;&#x43D;&#x44B;&#x435; &#x443;&#x441;&#x442;&#x440;&#x43E;&#x439;&#x441;&#x442;&#x432;&#x430;. &#x421;&#x435;&#x433;&#x43E;&#x434;&#x43D;&#x44F; &#x44D;&#x442;&#x43E; &#x43D;&#x435;&#x43E;&#x442;&#x44A;&#x435;&#x43C;&#x43B;&#x435;&#x43C;&#x430;&#x44F; &#x447;&#x430;&#x441;&#x442;&#x44C;
                                                                  = succeed "." do
                                                                    %nobr digital-&#x43F;&#x440;&#x43E;&#x434;&#x432;&#x438;&#x436;&#x435;&#x43D;&#x438;&#x44F;
                                                            .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
                                                              .icon-col__img-wrp.js-tilter
                                                                %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/design/4.svg"}
                                                                  %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/design/4_1.svg"}
                                                                    %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/design/4_bg.svg"}
                                                                    .icon-col__text
                                                                      .icon-col__title.heading.heading_type_h5-s
                                                                        \&#x410;&#x43A;&#x442;&#x443;&#x430;&#x43B;&#x44C;&#x43D;&#x43E;&#x441;&#x442;&#x44C;
                                                                      .icon-col__caption.caption.caption_size_s
                                                                        \&#x41C;&#x44B;&#x441;&#x43B;&#x435;&#x434;&#x438;&#x43C; &#x437;&#x430;&#x440;&#x430;&#x437;&#x432;&#x438;&#x442;&#x438;&#x435;&#x43C; &#x442;&#x435;&#x445;&#x43D;&#x43E;&#x43B;&#x43E;&#x433;&#x438;&#x439; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x438;&#x440;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x44F; &#x438;
                                                                        %nobr> &#x432;&#x435;&#x431;-&#x434;&#x438;&#x437;&#x430;&#x439;&#x43D;&#x430;
                                                                        , &#x447;&#x442;&#x43E;&#x431;&#x44B; &#x43F;&#x440;&#x43E;&#x434;&#x443;&#x43A;&#x442;&#x44B; &#x43D;&#x430;&#x448;&#x438;&#x445; &#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442;&#x43E;&#x432; &#x431;&#x44B;&#x43B;&#x438; &#x432;&#x442;&#x440;&#x435;&#x43D;&#x434;&#x435;.
                                                                .icon-col__dots.js-slider-icon-col-dots
                                                        %section.section.section_pad_large.section_green_light.commerce-section.commerce-section_develop
                                                          .section__wrp.commerce-section__wrp
                                                            .section__header.section__header_compensate.commerce-section__header
                                                              %h2.section__heading.heading.heading_type_h2.commerce-section__heading
                                                                %span.section__heading-text &#x422;&#x435;&#x445;&#x43D;&#x43E;&#x43B;&#x43E;&#x433;&#x438;&#x438; &#x440;&#x430;&#x437;&#x440;&#x430;&#x431;&#x43E;&#x442;&#x43A;&#x430;
                                                            .section__body.commerce-section__body
                                                              .commerce-section__icon-col.icon-col.icon-col_medium.js-slider-icon-col
                                                                .icon-col__list.icon-col__list_grid-four
                                                                  .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                                                                    .icon-col__img-wrp.js-tilter
                                                                      %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/develop/1.svg"}
                                                                        %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/develop/1_1.svg"}
                                                                          %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/develop/1_bg.svg"}
                                                                          .icon-col__text
                                                                            .icon-col__title.heading.heading_type_h5-s
                                                                              \&#x41F;&#x41B;&#x410;&#x422;&#x424;&#x41E;&#x420;&#x41C;&#x42B;
                                                                            .icon-col__caption.caption.caption_size_s
                                                                              \&#x420;&#x430;&#x431;&#x43E;&#x442;&#x430;&#x435;&#x43C; &#x441;&#x440;&#x430;&#x437;&#x43B;&#x438;&#x447;&#x43D;&#x44B;&#x43C;&#x438; CMS &#x438;&#x444;&#x440;&#x435;&#x439;&#x43C;&#x432;&#x43E;&#x440;&#x43A;&#x430;&#x43C;&#x438; (&#x434;&#x43B;&#x44F; &#x442;&#x438;&#x43F;&#x43E;&#x432;&#x44B;&#x445; &#x437;&#x430;&#x434;&#x430;&#x447;
                                                                              = succeed "," do
                                                                                %nobr 1&#x421;-&#x411;&#x438;&#x442;&#x440;&#x438;&#x43A;&#x441;
                                                                              = succeed ")" do
                                                                                %nobr &#x438; &#x442;. &#x434;.
                                                                        .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "200ms"}
                                                                          .icon-col__img-wrp.js-tilter
                                                                            %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/develop/2.svg"}
                                                                              %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/develop/2_1.svg"}
                                                                                %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/develop/2_bg.svg"}
                                                                                .icon-col__text
                                                                                  .icon-col__title.heading.heading_type_h5-s
                                                                                    \&#x412;&#x42B;&#x421;&#x41E;&#x41A;&#x418;&#x415; &#x41D;&#x410;&#x413;&#x420;&#x423;&#x417;&#x41A;&#x418;
                                                                                  .icon-col__caption.caption.caption_size_s
                                                                                    \&#x41F;&#x440;&#x43E;&#x432;&#x43E;&#x434;&#x438;&#x43C; &#x43D;&#x430;&#x433;&#x440;&#x443;&#x437;&#x43E;&#x447;&#x43D;&#x43E;&#x435; &#x442;&#x435;&#x441;&#x442;&#x438;&#x440;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435; &#x438;&#x43E;&#x43F;&#x442;&#x438;&#x43C;&#x438;&#x437;&#x438;&#x440;&#x443;&#x435;&#x43C;
                                                                                    = succeed "\u{43a}\u{43e}\u{434}" do
                                                                                      %br.xs-hide/
                                                                              .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                                                                                .icon-col__img-wrp.js-tilter
                                                                                  %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/develop/3.svg"}
                                                                                    %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/develop/3_1.svg"}
                                                                                      %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/develop/3_bg.svg"}
                                                                                      .icon-col__text
                                                                                        .icon-col__title.heading.heading_type_h5-s
                                                                                          \&#x41C;&#x41E;&#x411;&#x418;&#x41B;&#x42C;&#x41D;&#x42B;&#x415; &#x41F;&#x41B;&#x410;&#x422;&#x424;&#x41E;&#x420;&#x41C;&#x42B;
                                                                                        .icon-col__caption.caption.caption_size_s
                                                                                          %a{:href => "javascript:void(0);"} &#x420;&#x430;&#x437;&#x440;&#x430;&#x431;&#x430;&#x442;&#x44B;&#x432;&#x430;&#x435;&#x43C; Android- &#x438;iOS- &#x43F;&#x440;&#x438;&#x43B;&#x43E;&#x436;&#x435;&#x43D;&#x438;&#x44F;
                                                                                          \&#x43B;&#x44E;&#x431;&#x43E;&#x439; &#x441;&#x43B;&#x43E;&#x436;&#x43D;&#x43E;&#x441;&#x442;&#x438;, &#x434;&#x435;&#x43B;&#x430;&#x435;&#x43C; &#x43C;&#x43E;&#x431;&#x438;&#x43B;&#x44C;&#x43D;&#x44B;&#x435; &#x432;&#x435;&#x440;&#x441;&#x438;&#x438; &#x441;&#x430;&#x439;&#x442;&#x43E;&#x432;.
                                                                                    .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInDown{"data-animation-delay" => "200ms"}
                                                                                      .icon-col__img-wrp.js-tilter
                                                                                        %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/develop/4.svg"}
                                                                                          %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/develop/4_1.svg"}
                                                                                            %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/develop/4_bg.svg"}
                                                                                            .icon-col__text
                                                                                              .icon-col__title.heading.heading_type_h5-s
                                                                                                \&#x418;&#x41D;&#x422;&#x415;&#x413;&#x420;&#x410;&#x426;&#x418;&#x418;
                                                                                              .icon-col__caption.caption.caption_size_s
                                                                                                \&#x41F;&#x440;&#x43E;&#x432;&#x43E;&#x434;&#x438;&#x43C; &#x438;&#x43D;&#x442;&#x435;&#x433;&#x440;&#x430;&#x446;&#x438;&#x438; &#x441;&#x431;&#x43E;&#x43B;&#x44C;&#x448;&#x438;&#x43D;&#x441;&#x442;&#x432;&#x43E;&#x43C; &#x432;&#x43D;&#x435;&#x448;&#x43D;&#x438;&#x445; &#x441;&#x438;&#x441;&#x442;&#x435;&#x43C;: &#x43E;&#x442;&#x430;&#x433;&#x440;&#x435;&#x433;&#x430;&#x442;&#x43E;&#x440;&#x43E;&#x432; &#x43F;&#x43B;&#x430;&#x442;&#x435;&#x436;&#x435;&#x439; &#x438;&#x441;&#x438;&#x441;&#x442;&#x435;&#x43C;
                                                                                                %nobr email-&#x43C;&#x430;&#x440;&#x43A;&#x435;&#x442;&#x438;&#x43D;&#x433;&#x430;
                                                                                                \&#x434;&#x43E;1&#x421; &#x438;SAP.
                                                                                        .icon-col__dots.js-slider-icon-col-dots
                                                                                %section.section.section_pad_large.commerce-section.commerce-section_support
                                                                                  .section__wrp.commerce-section__wrp
                                                                                    .section__header.section__header_compensate.commerce-section__header
                                                                                      %h2.section__heading.heading.heading_type_h2.commerce-section__heading
                                                                                        %span.section__heading-text &#x41F;&#x43E;&#x434;&#x434;&#x435;&#x440;&#x436;&#x43A;&#x430; &#x43F;&#x440;&#x43E;&#x434;&#x432;&#x438;&#x436;&#x435;&#x43D;&#x438;&#x435;
                                                                                    .section__body.commerce-section__body
                                                                                      .commerce-section__icon-col.icon-col.icon-col_medium.icon-col_border.js-slider-icon-col
                                                                                        .icon-col__list.icon-col__list_grid-four
                                                                                          .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
                                                                                            .icon-col__img-wrp.js-tilter
                                                                                              %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/support/1.svg"}
                                                                                                %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/support/1_1.svg"}
                                                                                                  %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/support/1_bg.svg"}
                                                                                                  .icon-col__text
                                                                                                    .icon-col__title.heading.heading_type_h5-s
                                                                                                      \&#x423;&#x434;&#x43E;&#x431;&#x43D;&#x44B;&#x439; &#x438;&#x43D;&#x441;&#x442;&#x440;&#x443;&#x43C;&#x435;&#x43D;&#x442; &#x434;&#x43B;&#x44F;&#x431;&#x438;&#x437;&#x43D;&#x435;&#x441;&#x430;
                                                                                                    .icon-col__caption.caption.caption_size_s
                                                                                                      \&#x410;&#x432;&#x442;&#x43E;&#x43C;&#x430;&#x442;&#x438;&#x437;&#x438;&#x440;&#x443;&#x435;&#x43C; &#x43E;&#x431;&#x440;&#x430;&#x431;&#x43E;&#x442;&#x43A;&#x443; &#x437;&#x432;&#x43E;&#x43D;&#x43A;&#x43E;&#x432; &#x438;&#x437;&#x430;&#x44F;&#x432;&#x43E;&#x43A; &#x441;&#x441;&#x430;&#x439;&#x442;&#x430;
                                                                                                .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
                                                                                                  .icon-col__img-wrp.js-tilter
                                                                                                    %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/support/2.svg"}
                                                                                                      %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/support/2_1.svg"}
                                                                                                        %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/support/2_bg.svg"}
                                                                                                        .icon-col__text
                                                                                                          .icon-col__title.heading.heading_type_h5-s
                                                                                                            \&#x41F;&#x43E;&#x432;&#x44B;&#x448;&#x435;&#x43D;&#x438;&#x435; &#x43A;&#x43E;&#x43D;&#x432;&#x435;&#x440;&#x441;&#x438;&#x438; &#x441;&#x430;&#x439;&#x442;&#x430;
                                                                                                          .icon-col__caption.caption.caption_size_s
                                                                                                            \&#x423;&#x432;&#x435;&#x43B;&#x438;&#x447;&#x438;&#x432;&#x430;&#x435;&#x43C; &#x43A;&#x43E;&#x43B;&#x438;&#x447;&#x435;&#x441;&#x442;&#x432;&#x43E; &#x437;&#x430;&#x44F;&#x432;&#x43E;&#x43A; &#x438;&#x43F;&#x43E;&#x43A;&#x443;&#x43F;&#x43E;&#x43A; &#x43D;&#x430;&#x441;&#x430;&#x439;&#x442;&#x435;
                                                                                                      .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0"}
                                                                                                        .icon-col__img-wrp.js-tilter
                                                                                                          %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/support/3.svg"}
                                                                                                            %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/support/3_1.svg"}
                                                                                                              %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/support/3_bg.svg"}
                                                                                                              .icon-col__text
                                                                                                                .icon-col__title.heading.heading_type_h5-s
                                                                                                                  \&#x412;&#x441;&#x435; &#x432;&#x438;&#x434;&#x44B; &#x438;&#x43D;&#x442;&#x435;&#x440;&#x43D;&#x435;&#x442;- &#x440;&#x435;&#x43A;&#x43B;&#x430;&#x43C;&#x44B;
                                                                                                                .icon-col__caption.caption.caption_size_s
                                                                                                                  \&#x41D;&#x430;&#x441;&#x442;&#x440;&#x430;&#x438;&#x432;&#x430;&#x435;&#x43C; &#x43A;&#x430;&#x43D;&#x430;&#x43B;&#x44B;
                                                                                                                  = succeed "\u{43f}\u{440}\u{438}\u{432}\u{43b}\u{435}\u{447}\u{435}\u{43d}\u{438}\u{44f}" do
                                                                                                                    %br/
                                                                                                            .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
                                                                                                              .icon-col__img-wrp.js-tilter
                                                                                                                %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/support/4.svg"}
                                                                                                                  %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/support/4_1.svg"}
                                                                                                                    %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/support/4_bg.svg"}
                                                                                                                    .icon-col__text
                                                                                                                      .icon-col__title.heading.heading_type_h5-s
                                                                                                                        \&#x41F;&#x440;&#x44F;&#x43C;&#x430;&#x44F; &#x441;&#x432;&#x44F;&#x437;&#x44C; &#x441;&#x430;&#x443;&#x434;&#x438;&#x442;&#x43E;&#x440;&#x438;&#x435;&#x439;
                                                                                                                      .icon-col__caption.caption.caption_size_s
                                                                                                                        \&#x421;&#x43E;&#x437;&#x434;&#x430;&#x435;&#x43C; &#x44D;&#x444;&#x444;&#x435;&#x43A;&#x442;&#x438;&#x432;&#x43D;&#x44B;&#x439;
                                                                                                                        %br/
                                                                                                                        %nobr e-mail
                                                                                                                        \&#x43C;&#x430;&#x440;&#x43A;&#x435;&#x442;&#x438;&#x43D;&#x433;
                                                                                                                  .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "400ms"}
                                                                                                                    .icon-col__img-wrp.js-tilter
                                                                                                                      %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/support/5.svg"}
                                                                                                                        %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/support/5_1.svg"}
                                                                                                                          %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/support/5_bg.svg"}
                                                                                                                          .icon-col__text
                                                                                                                            .icon-col__title.heading.heading_type_h5-s
                                                                                                                              \&#x41F;&#x43E;&#x434;&#x43A;&#x43B;&#x44E;&#x447;&#x435;&#x43D;&#x438;&#x435; &#x441;&#x435;&#x440;&#x432;&#x438;&#x441;&#x43E;&#x432;
                                                                                                                            .icon-col__caption.caption.caption_size_s
                                                                                                                              \&#x418;&#x43D;&#x442;&#x435;&#x433;&#x440;&#x430;&#x446;&#x438;&#x44F;
                                                                                                                              %nobr &#x438;&#x43D;&#x442;&#x435;&#x440;&#x43D;&#x435;&#x442;-&#x43C;&#x430;&#x433;&#x430;&#x437;&#x438;&#x43D;&#x430;
                                                                                                                              \&#x441;1&#x421;, CRM, Yandex.Market, &#x43F;&#x43B;&#x430;&#x442;&#x435;&#x436;&#x43D;&#x44B;&#x43C;&#x438; &#x441;&#x438;&#x441;&#x442;&#x435;&#x43C;&#x430;&#x43C;&#x438; &#x438;&#x434;&#x440;&#x443;&#x433;&#x438;&#x43C;&#x438;&#x441;&#x435;&#x440;&#x432;&#x438;&#x441;&#x430;&#x43C;&#x438;
                                                                                                                        .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
                                                                                                                          .icon-col__img-wrp.js-tilter
                                                                                                                            %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/support/6.svg"}
                                                                                                                              %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/support/6_1.svg"}
                                                                                                                                %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/support/6_bg.svg"}
                                                                                                                                .icon-col__text
                                                                                                                                  .icon-col__title.heading.heading_type_h5-s
                                                                                                                                    \&#x423;&#x441;&#x43A;&#x43E;&#x440;&#x435;&#x43D;&#x438;&#x435; &#x438;&#x437;&#x430;&#x449;&#x438;&#x442;&#x430;
                                                                                                                                  .icon-col__caption.caption.caption_size_s
                                                                                                                                    \&#x41F;&#x43E;&#x438;&#x441;&#x43A; &#x443;&#x437;&#x43A;&#x438;&#x445; &#x43C;&#x435;&#x441;&#x442; &#x432;&#x440;&#x430;&#x431;&#x43E;&#x442;&#x435; &#x432;&#x430;&#x448;&#x435;&#x433;&#x43E; &#x441;&#x430;&#x439;&#x442;&#x430;. &#x41C;&#x44B;&#x43D;&#x435;&#x442;&#x43E;&#x43B;&#x44C;&#x43A;&#x43E; &#x434;&#x430;&#x434;&#x438;&#x43C; &#x440;&#x435;&#x43A;&#x43E;&#x43C;&#x435;&#x43D;&#x434;&#x430;&#x446;&#x438;&#x438;, &#x43D;&#x43E;&#x438;&#x43F;&#x440;&#x43E;&#x432;&#x435;&#x434;&#x435;&#x43C; &#x43C;&#x43E;&#x434;&#x435;&#x440;&#x43D;&#x438;&#x437;&#x430;&#x446;&#x438;&#x44E; &#x43F;&#x43E;&#x434; &#x43A;&#x43B;&#x44E;&#x447;
                                                                                                                              .icon-col__item.commerce-section__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "400ms"}
                                                                                                                                .icon-col__img-wrp.js-tilter
                                                                                                                                  %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/support/7.svg"}
                                                                                                                                    %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/support/7_1.svg"}
                                                                                                                                      %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/support/7_bg.svg"}
                                                                                                                                      .icon-col__text
                                                                                                                                        .icon-col__title.heading.heading_type_h5-s
                                                                                                                                          \&#x41F;&#x43E;&#x438;&#x441;&#x43A;&#x43E;&#x432;&#x430;&#x44F; &#x43E;&#x43F;&#x442;&#x438;&#x43C;&#x438;&#x437;&#x430;&#x446;&#x438;&#x44F;
                                                                                                                                        .icon-col__caption.caption.caption_size_s
                                                                                                                                          \&#x422;&#x43E;&#x43B;&#x44C;&#x43A;&#x43E; &#x43F;&#x440;&#x43E;&#x432;&#x435;&#x440;&#x435;&#x43D;&#x43D;&#x44B;&#x435; &#x441;&#x43F;&#x43E;&#x441;&#x43E;&#x431;&#x44B; &#x43F;&#x43E;&#x432;&#x44B;&#x448;&#x435;&#x43D;&#x438;&#x44F; &#x43E;&#x440;&#x433;&#x430;&#x43D;&#x438;&#x447;&#x435;&#x441;&#x43A;&#x43E;&#x433;&#x43E; &#x442;&#x440;&#x430;&#x444;&#x438;&#x43A;&#x430;. &#x41F;&#x43E;&#x43C;&#x43E;&#x433;&#x430;&#x435;&#x43C; &#x432;&#x44B;&#x432;&#x43E;&#x434;&#x438;&#x442;&#x44C; &#x441;&#x430;&#x439;&#x442;&#x44B;
                                                                                                                                          %nobr &#x438;&#x437;-&#x43F;&#x43E;&#x434;
                                                                                                                                          \&#x444;&#x438;&#x43B;&#x44C;&#x442;&#x440;&#x43E;&#x432;
                                                                                                                                  .icon-col__dots.js-slider-icon-col-dots
                                                                                                                          %section.section.section_pad_large.section_green_light.commerce-pluses
                                                                                                                            .section__wrp.commerce-pluses__wrp
                                                                                                                              .section__header.section__header_compensate.commerce-pluses__header
                                                                                                                                %h2.section__heading.heading.heading_type_h2.commerce-pluses__heading
                                                                                                                                  %span.section__heading-text &#x41D;&#x410;&#x428;&#x418; &#x41F;&#x420;&#x415;&#x418;&#x41C;&#x423;&#x429;&#x415;&#x421;&#x422;&#x412;&#x410;
                                                                                                                              .section__body.commerce-pluses__body
                                                                                                                                .commerce-pluses__icon-col.icon-col.icon-col_x-large.icon-col_transp.js-slider-icon-col
                                                                                                                                  .icon-col__list.icon-col__list_grid-three
                                                                                                                                    .icon-col__item.commerce-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "0"}
                                                                                                                                      .icon-col__img-wrp.js-tilter
                                                                                                                                        %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/pluses/1.svg"}
                                                                                                                                          %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/pluses/1_1.svg"}
                                                                                                                                            %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/pluses/1_bg.svg"}
                                                                                                                                            .icon-col__text
                                                                                                                                              .icon-col__title.heading.heading_type_h5-s
                                                                                                                                                \&#x41F;&#x420;&#x41E;&#x417;&#x420;&#x410;&#x427;&#x41D;&#x41E;&#x421;&#x422;&#x42C; &#x418;&#x41E;&#x422;&#x427;&#x415;&#x422;&#x41D;&#x41E;&#x421;&#x422;&#x42C;
                                                                                                                                              .icon-col__caption.caption.caption_size_s
                                                                                                                                                \&#x426;&#x435;&#x43D;&#x43E;&#x43E;&#x431;&#x440;&#x430;&#x437;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435; &#x438;&#x440;&#x430;&#x431;&#x43E;&#x447;&#x438;&#x439; &#x43F;&#x440;&#x43E;&#x446;&#x435;&#x441;&#x441; &#x43F;&#x43E;&#x43B;&#x43D;&#x43E;&#x441;&#x442;&#x44C;&#x44E; &#x43F;&#x440;&#x43E;&#x437;&#x440;&#x430;&#x447;&#x43D;&#x44B; &#x434;&#x43B;&#x44F; &#x437;&#x430;&#x43A;&#x430;&#x437;&#x447;&#x438;&#x43A;&#x430;.
                                                                                                                                          .icon-col__item.commerce-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "200ms"}
                                                                                                                                            .icon-col__img-wrp.js-tilter
                                                                                                                                              %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/pluses/2.svg"}
                                                                                                                                                %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/pluses/2_1.svg"}
                                                                                                                                                  %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/pluses/2_bg.svg"}
                                                                                                                                                  .icon-col__text
                                                                                                                                                    .icon-col__title.heading.heading_type_h5-s
                                                                                                                                                      \&#x414;&#x41E;&#x41B;&#x413;&#x41E;&#x421;&#x420;&#x41E;&#x427;&#x41D;&#x41E;&#x415; &#x421;&#x41E;&#x422;&#x420;&#x423;&#x414;&#x41D;&#x418;&#x427;&#x415;&#x421;&#x422;&#x412;&#x41E;
                                                                                                                                                    .icon-col__caption.caption.caption_size_s
                                                                                                                                                      80% &#x43D;&#x430;&#x448;&#x438;&#x445; &#x43A;&#x43B;&#x438;&#x435;&#x43D;&#x442;&#x43E;&#x432; &#x43F;&#x440;&#x43E;&#x434;&#x43B;&#x435;&#x432;&#x430;&#x44E;&#x442; &#x441;&#x43D;&#x430;&#x43C;&#x438; &#x433;&#x43E;&#x434;&#x43E;&#x432;&#x44B;&#x435; &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x430;&#x43A;&#x442;&#x44B; &#x438;&#x43F;&#x43E;&#x43B;&#x443;&#x447;&#x430;&#x44E;&#x442; &#x431;&#x43E;&#x43D;&#x443;&#x441;&#x44B;.
                                                                                                                                                .icon-col__item.commerce-pluses__item.js-animation.js-animation_fadeInUp{"data-animation-delay" => "400ms"}
                                                                                                                                                  .icon-col__img-wrp.js-tilter
                                                                                                                                                    %img.icon-col__img.tilter__figure{:alt => "commerce", :src => "img/services/commerce/pluses/3.svg"}
                                                                                                                                                      %img.icon-col__icons.tilter__deco--lines{:alt => "commerce", :src => "img/services/commerce/pluses/3_1.svg"}
                                                                                                                                                        %img.icon-col__bg{:alt => "commerce", :src => "img/services/commerce/pluses/3_bg.svg"}
                                                                                                                                                        .icon-col__text
                                                                                                                                                          .icon-col__title.heading.heading_type_h5-s
                                                                                                                                                            \&#x41E;&#x422;&#x41B;&#x410;&#x416;&#x415;&#x41D;&#x41D;&#x42B;&#x415; &#x41F;&#x420;&#x41E;&#x426;&#x415;&#x421;&#x421;&#x42B;
                                                                                                                                                          .icon-col__caption.caption.caption_size_s
                                                                                                                                                            \&#x41F;&#x440;&#x43E;&#x435;&#x43A;&#x442; &#x432;&#x435;&#x434;&#x435;&#x442; &#x43F;&#x435;&#x440;&#x441;&#x43E;&#x43D;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x439; &#x43C;&#x435;&#x43D;&#x435;&#x434;&#x436;&#x435;&#x440;, &#x432;&#x441;&#x44F; &#x438;&#x441;&#x442;&#x43E;&#x440;&#x438;&#x44F; &#x441;&#x43E;&#x445;&#x440;&#x430;&#x43D;&#x44F;&#x435;&#x442;&#x441;&#x44F; &#x432;&#x441;&#x438;&#x441;&#x442;&#x435;&#x43C;&#x435;.
                                                                                                                                                    .icon-col__dots.js-slider-icon-col-dots
                                                                                                                                            %section.section.section_pad_large.commerce-cashbox
                                                                                                                                              .section__wrp.commerce-cashbox__wrp.scene
                                                                                                                                                .section__header.section__header_compensate.commerce-cashbox__header
                                                                                                                                                  %h2.section__heading.heading.heading_type_h2.commerce-cashbox__heading
                                                                                                                                                    %span.section__heading-text
                                                                                                                                                      %nobr &#x41E;&#x41D;&#x41B;&#x410;&#x419;&#x41D;-&#x41A;&#x410;&#x421;&#x421;&#x42B;
                                                                                                                                                .section__body.commerce-cashbox__body
                                                                                                                                                  .commerce-cashbox__grid
                                                                                                                                                    .commerce-cashbox__grid-box
                                                                                                                                                      .commerce-cashbox__img
                                                                                                                                                        .commerce-cashbox__img-wrp
                                                                                                                                                          %img.commerce-cashbox__img-bg.layer{:alt => "commerce", "data-depth" => "0.40", :src => "img/services/commerce/cashbox/bg.svg"}
                                                                                                                                                            %img.commerce-cashbox__img-icon2.layer{:alt => "commerce", "data-depth" => "0.60", :src => "img/services/commerce/cashbox/icon2.svg"}
                                                                                                                                                              %img.commerce-cashbox__img-icon.layer{:alt => "commerce", "data-depth" => "0.80", :src => "img/services/commerce/cashbox/icon.svg"}
                                                                                                                                                          .commerce-cashbox__grid-box.js-animation.js-animation_fadeInRight{"data-animation-delay" => "0"}
                                                                                                                                                            .commerce-cashbox__caption.caption.caption_size_g
                                                                                                                                                              \&#x412;2017 &#x433;&#x43E;&#x434;&#x443; &#x432;&#x433;&#x43B;&#x430;&#x432;&#x43D;&#x44B;&#x439; &#x444;&#x435;&#x434;&#x435;&#x440;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x439; &#x437;&#x430;&#x43A;&#x43E;&#x43D; &#x43E;&#x442;&#x43E;&#x440;&#x433;&#x43E;&#x432;&#x43B;&#x435;
                                                                                                                                                              %nobr 54-&#x424;&#x417;
                                                                                                                                                              \&#x431;&#x44B;&#x43B;&#x438; &#x432;&#x43D;&#x435;&#x441;&#x435;&#x43D;&#x44B; &#x438;&#x437;&#x43C;&#x435;&#x43D;&#x435;&#x43D;&#x438;&#x44F;, &#x43A;&#x43E;&#x442;&#x43E;&#x440;&#x44B;&#x435; &#x43E;&#x431;&#x44F;&#x437;&#x430;&#x43B;&#x438; &#x43F;&#x440;&#x435;&#x434;&#x43F;&#x440;&#x438;&#x43D;&#x438;&#x43C;&#x430;&#x442;&#x435;&#x43B;&#x435;&#x439; &#x43F;&#x435;&#x440;&#x435;&#x439;&#x442;&#x438; &#x43D;&#x430;&#x441;&#x43E;&#x432;&#x440;&#x435;&#x43C;&#x435;&#x43D;&#x43D;&#x43E;&#x435;
                                                                                                                                                              %nobr &#x43A;&#x43E;&#x43D;&#x442;&#x440;&#x43E;&#x43B;&#x44C;&#x43D;&#x43E;-&#x43A;&#x430;&#x441;&#x441;&#x43E;&#x432;&#x43E;&#x435;
                                                                                                                                                              \&#x43E;&#x431;&#x43E;&#x440;&#x443;&#x434;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;, &#x43F;&#x435;&#x440;&#x435;&#x434;&#x430;&#x44E;&#x449;&#x435;&#x435; &#x434;&#x430;&#x43D;&#x43D;&#x44B;&#x435; &#x432;&#x424;&#x41D;&#x421; &#x432;
                                                                                                                                                              %nobr> &#x43E;&#x43D;&#x43B;&#x430;&#x439;&#x43D;-&#x440;&#x435;&#x436;&#x438;&#x43C;&#x435;
                                                                                                                                                              \.
                                                                                                                                                  %section.section.commerce-green
                                                                                                                                                    %span.commerce-green__bg{:style => "background-image: url(img/services/commerce/green.jpg);"}
                                                                                                                                                    .section__wrp.commerce-green__wrp
                                                                                                                                                      .commerce-green__grid
                                                                                                                                                        .commerce-green__grid-box
                                                                                                                                                          .commerce-green__text
                                                                                                                                                            %h2.commerce-green__heading.heading.heading_type_h4
                                                                                                                                                              %span.commerce-green__heading-sub &#x41F;&#x43E;&#x43C;&#x43E;&#x436;&#x435;&#x43C; &#x432;&#x430;&#x448;&#x435;&#x439; &#x43A;&#x43E;&#x43C;&#x43F;&#x430;&#x43D;&#x438;&#x438; &#x43F;&#x435;&#x440;&#x435;&#x439;&#x442;&#x438;
                                                                                                                                                              %br/
                                                                                                                                                              \&#x43D;&#x430;
                                                                                                                                                              %nobr &#x43E;&#x43D;&#x43B;&#x430;&#x439;&#x43D;-&#x43A;&#x430;&#x441;&#x441;&#x443;
                                                                                                                                                            .commerce-green__check-list.check-list.check-list_large
                                                                                                                                                              %ul.check-list__list
                                                                                                                                                                %li.check-list__item
                                                                                                                                                                  .check-list__caption
                                                                                                                                                                    \&#x417;&#x430;&#x440;&#x435;&#x433;&#x438;&#x441;&#x442;&#x440;&#x438;&#x440;&#x443;&#x435;&#x43C; &#x438;&#x43F;&#x43E;&#x434;&#x43A;&#x43B;&#x44E;&#x447;&#x438;&#x43C; &#x43A;&#x430;&#x441;&#x441;&#x443;
                                                                                                                                                                    %br.sm-hide/
                                                                                                                                                                    \&#x43A;&#x41E;&#x424;&#x414; (&#x43E;&#x43F;&#x435;&#x440;&#x430;&#x442;&#x43E;&#x440;&#x443; &#x444;&#x438;&#x441;&#x43A;&#x430;&#x43B;&#x44C;&#x43D;&#x44B;&#x445; &#x434;&#x430;&#x43D;&#x43D;&#x44B;&#x445;);
                                                                                                                                                                %li.check-list__item
                                                                                                                                                                  .check-list__caption
                                                                                                                                                                    \&#x41F;&#x43E;&#x434;&#x431;&#x435;&#x440;&#x451;&#x43C; &#x438;&#x437;&#x430;&#x43A;&#x430;&#x436;&#x435;&#x43C;
                                                                                                                                                                    %br.sm-hide/
                                                                                                                                                                    \&#x43D;&#x435;&#x43E;&#x431;&#x445;&#x43E;&#x434;&#x438;&#x43C;&#x43E;&#x435; &#x43E;&#x431;&#x43E;&#x440;&#x443;&#x434;&#x43E;&#x432;&#x430;&#x43D;&#x438;&#x435;
                                                                                                                                                                %li.check-list__item
                                                                                                                                                                  .check-list__caption
                                                                                                                                                                    \&#x41D;&#x430;&#x43B;&#x430;&#x434;&#x438;&#x43C; &#x440;&#x430;&#x431;&#x43E;&#x442;&#x443;
                                                                                                                                                                    %nobr &#x43E;&#x43D;&#x43B;&#x430;&#x439;&#x43D;-&#x43A;&#x430;&#x441;&#x441;&#x44B;
                                                                                                                                                                    \&#x438;&#x43F;&#x440;&#x435;&#x434;&#x43E;&#x441;&#x442;&#x430;&#x432;&#x438;&#x43C; &#x443;&#x441;&#x43B;&#x443;&#x433;&#x438; &#x442;&#x435;&#x445;&#x43F;&#x43E;&#x434;&#x434;&#x435;&#x440;&#x436;&#x43A;&#x438; &#x432;&#x440;&#x435;&#x436;&#x438;&#x43C;&#x435; 24/7
                                                                                                                                                        .commerce-green__grid-box
                                                                                                                                                          .commerce-green__promo
                                                                                                                                                            .commerce-green__promo-title
                                                                                                                                                              \&#x41F;&#x435;&#x440;&#x435;&#x445;&#x43E;&#x434; &#x43A;
                                                                                                                                                              %nobr &#x43E;&#x43D;&#x43B;&#x430;&#x439;&#x43D;-&#x43A;&#x430;&#x441;&#x441;&#x435;
                                                                                                                                                              \&#x43F;&#x440;&#x438; &#x43F;&#x43E;&#x434;&#x434;&#x435;&#x440;&#x436;&#x43A;&#x435; &#x43E;&#x43F;&#x44B;&#x442;&#x43D;&#x43E;&#x439; &#x43A;&#x43E;&#x43C;&#x430;&#x43D;&#x434;&#x44B; &#x44D;&#x442;&#x43E; &#x43F;&#x440;&#x43E;&#x441;&#x442;&#x43E; &#x438;&#x434;&#x43E;&#x441;&#x442;&#x443;&#x43F;&#x43D;&#x43E;!
                                                                                                                                                            .commerce-green__promo-list
                                                                                                                                                              .commerce-green__promo-item
                                                                                                                                                                %span.commerce-green__promo-prop &#x421;&#x442;&#x43E;&#x438;&#x43C;&#x43E;&#x441;&#x442;&#x44C;
                                                                                                                                                                %span.commerce-green__promo-value
                                                                                                                                                                  \&#x43E;&#x442;22000
                                                                                                                                                                  %span.rub P
                                                                                                                                                              .commerce-green__promo-item
                                                                                                                                                                %span.commerce-green__promo-prop &#x421;&#x440;&#x43E;&#x43A;
                                                                                                                                                                %span.commerce-green__promo-value 10 &#x440;&#x430;&#x431;&#x43E;&#x447;&#x438;&#x445; &#x434;&#x43D;&#x435;&#x439;
                                                                                                                                                      .commerce-green__buttons
                                                                                                                                                        %a.commerce-green__button.button.button_theme_accent.button_size_l.js-popup{:href => "javascript:void(0);"}
                                                                                                                                                          \&#x41E;&#x431;&#x441;&#x443;&#x434;&#x438;&#x43C; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;?
