<%- meta title: "Интернет-магазины | Услуги"
    meta og: { title: "Интернет-магазины | Услуги" }
    %>

      <main class="main">
        
        <section class="section section_first banner banner_content_center">
          <span class="banner__bg" style="background-image: url(<%= asset_path 'services/commerce/banner.jpg' %>);"></span>
          
          <div class="section__wrp banner__wrp">
            <div class="banner__content">
              <h1 class="banner__heading heading heading_type_h1">
                <nobr>Интернет-магазины</nobr>
              </h1>
              
              <div class="banner__line">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 47 4">
                  <path fill-rule="evenodd"
                      d="M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z"></path>
                </svg>
              </div>
              
              <div class="banner__caption caption caption_size_l">
                Создаем эффективные решения <br />
                для розничной и&nbsp;оптовой торговли в&nbsp;интернете.
              </div>
            </div>
          </div>
        </section>
        
        <section class="section commerce-promo">
          <div class="section__wrp commerce-promo__wrp">
            <div class="section__header commerce-promo__header">
              <h2 class="section__heading heading heading_type_h4 commerce-promo__heading">
                Наши <nobr>интернет-магазины</nobr>&nbsp;&mdash; это индивидуальные проекты <br class="sm-hide"/>
                с&nbsp;продуманной структурой и&nbsp;качественным дизайном всех страниц.
              </h2>
            </div>
            
            <div class="section__body commerce-promo__body">
              <div class="commerce-promo__icon-col icon-col icon-col_border icon-col_clear js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-four">
                  <div class="icon-col__item commerce-promo__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/promo/1.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/promo/1_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__caption caption caption_size_g">
                        Любые функции, <br class="xs-show"/>
                        необходимые бизнесу
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-promo__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/promo/2.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/promo/2_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__caption caption caption_size_g">
                        Интеграция <br class="xs-show"/>с&nbsp;другими системами
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-promo__item js-animation js-animation_fadeInRight" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/promo/3.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/promo/3_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__caption caption caption_size_g">
                        Юзабилити <br class="xs-show"/>и&nbsp;высокие конверсии
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-promo__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/promo/4.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/promo/4_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__caption caption caption_size_g">
                        Высоконагруженные <br />
                        проекты
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
            
            <div class="section__footer commerce-promo__footer js-animation js-animation_fadeInUp" data-animation-delay="0">
              <div class="commerce-promo__caption">
                Стоимость <span>от&nbsp;750&nbsp;000 <span class="rub">P</span></span>
              </div>
              
              <div class="commerce-promo__caption">
                Срок <span>от&nbsp;3&nbsp;месяцев</span>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_s-large section_green_light commerce-stage">
          <div class="section__wrp commerce-stage__wrp">
            <div class="section__header section__header_compensate commerce-stage__header">
              <h2 class="section__heading commerce-stage__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Включаемся с&nbsp;любого этапа <br class="xs-hide"/>
                  жизни <nobr>интернет-магазина</nobr>
                </span>
              </h2>
              
              <div class="section__subtitle caption caption_size_m js-animation js-animation_fadeInUp" data-animation-delay="0">
                Разрабатываем новые проекты, модернизируем существующие, <br class="xs-hide"/>
                развиваем и&nbsp;поддерживаем растущие
              </div>
            </div>
            
            <div class="section__body commerce-stage__body">
              <div class="commerce-stage__icon-col icon-col icon-col_small js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-four">
                  <div class="icon-col__item commerce-stage__item js-animation js-animation_fadeInLeft" data-animation-delay="300ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/stage/1.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/stage/1_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5">
                        Создание
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Создаем проекты с&nbsp;чистого листа, полностью погружаясь в&nbsp;ваш бизнес
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-stage__item js-animation js-animation_fadeInRight" data-animation-delay="100ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/stage/2.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/stage/2_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5">
                        Доработка
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Обновляем и&nbsp;модернизируем функционал и&nbsp;дизайн существующего сайта
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-stage__item js-animation js-animation_fadeInLeft" data-animation-delay=100ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/stage/3.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/stage/3_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5">
                        Развитие
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Повышаем конверсию сайта с&nbsp;помощью оптимизации и&nbsp;продвижения
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-stage__item js-animation js-animation_fadeInRight" data-animation-delay="300ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/stage/4.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/stage/4_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5">
                        Поддержка
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Оказываем техническую, контентную и&nbsp;экспертную поддержку 24/7
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large commerce-section commerce-section_design">
          <div class="section__wrp commerce-section__wrp">
            <div class="section__header section__header_compensate commerce-section__header">
              <h2 class="section__heading heading heading_type_h2 commerce-section__heading">
                <span class="section__heading-text">Интерфейс &&nbsp;дизайн</span>
              </h2>
            </div>
            
            <div class="section__body commerce-section__body">
              <div class="commerce-section__icon-col icon-col icon-col_medium icon-col_border js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-four">
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInDown" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/design/1.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/design/1_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/design/1_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        ПРОТОТИПЫ
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        С&nbsp;помощью прототипа клиент может увидеть механику работы проекта уже через 2&ndash;3 недели после начала работы.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/design/2.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/design/2_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/design/2_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Дизайн
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Графическая оболочка проекта&nbsp;&mdash; это эмоциональная энергия вашего бренда, переданная с&nbsp;инженерной точностью.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInDown" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/design/3.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/design/3_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/design/3_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Адаптивность
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Мы&nbsp;адаптируем свои <nobr>веб-проекты</nobr> под мобильные устройства. Сегодня это неотъемлемая часть <nobr>digital-продвижения</nobr>.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/design/4.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/design/4_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/design/4_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Актуальность
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Мы&nbsp;следим за&nbsp;развитием технологий проектирования и&nbsp;<nobr>веб-дизайна</nobr>, чтобы продукты наших клиентов были в&nbsp;тренде.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light commerce-section commerce-section_develop">
          <div class="section__wrp commerce-section__wrp">
            <div class="section__header section__header_compensate commerce-section__header">
              <h2 class="section__heading heading heading_type_h2 commerce-section__heading">
                <span class="section__heading-text">Технологии &&nbsp;разработка</span>
              </h2>
            </div>
            
            <div class="section__body commerce-section__body">
              <div class="commerce-section__icon-col icon-col icon-col_medium js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-four">
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/develop/1.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/develop/1_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/develop/1_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        ПЛАТФОРМЫ
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Работаем с&nbsp;различными CMS и&nbsp;фреймворками (для типовых задач&nbsp;&mdash; <nobr>1С-Битрикс</nobr>, для сложных проектов&nbsp;&mdash; Ruby on&nbsp;Rails <nobr>и т. д.</nobr>)
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/develop/2.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/develop/2_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/develop/2_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        ВЫСОКИЕ НАГРУЗКИ
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Проводим нагрузочное тестирование и&nbsp;оптимизируем <br class="xs-hide"/>код для максимального быстродействия и&nbsp;надёжности проектов.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/develop/3.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/develop/3_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/develop/3_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        МОБИЛЬНЫЕ ПЛАТФОРМЫ
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        <a target="_blank" href=<%= mobile_path%>>Разрабатываем Android- и&nbsp;iOS- приложения</a> любой сложности, делаем мобильные версии сайтов.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/develop/4.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/develop/4_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/develop/4_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        ИНТЕГРАЦИИ
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Проводим интеграции с&nbsp;большинством внешних систем: от&nbsp;агрегаторов платежей и&nbsp;систем <nobr>email-маркетинга</nobr> до&nbsp;1С и&nbsp;SAP.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large commerce-section commerce-section_support">
          <div class="section__wrp commerce-section__wrp">
            <div class="section__header section__header_compensate commerce-section__header">
              <h2 class="section__heading heading heading_type_h2 commerce-section__heading">
                <span class="section__heading-text">Поддержка &&nbsp;продвижение</span>
              </h2>
            </div>
            
            <div class="section__body commerce-section__body">
              <div class="commerce-section__icon-col icon-col icon-col_medium icon-col_border js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-four">
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/support/1.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/support/1_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/support/1_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Удобный инструмент для&nbsp;бизнеса
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Автоматизируем обработку звонков и&nbsp;заявок с&nbsp;сайта
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/support/2.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/support/2_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/support/2_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Повышение конверсии сайта
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Увеличиваем количество заявок и&nbsp;покупок на&nbsp;сайте
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInRight" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/support/3.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/support/3_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/support/3_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Все виды интернет- рекламы
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Настраиваем каналы <br />привлечения трафика
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/support/4.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/support/4_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/support/4_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Прямая связь с&nbsp;аудиторией
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Создаем эффективный <br /><nobr>e-mail</nobr> маркетинг
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/support/5.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/support/5_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/support/5_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Подключение сервисов
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Интеграция <nobr>интернет-магазина</nobr> с&nbsp;1С, CRM, Yandex.Market, платежными системами и&nbsp;другими&nbsp;сервисами
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/support/6.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/support/6_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/support/6_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Ускорение и&nbsp;защита
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Поиск узких мест в&nbsp;работе вашего сайта. Мы&nbsp;не&nbsp;только дадим рекомендации, но&nbsp;и&nbsp;проведем модернизацию &laquo;под ключ&raquo;
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-section__item js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/support/7.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/support/7_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/support/7_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Поисковая оптимизация
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Только проверенные способы повышения органического трафика. Помогаем выводить сайты &laquo;<nobr>из-под</nobr> фильтров&raquo;
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light commerce-pluses">
          <div class="section__wrp commerce-pluses__wrp">
            <div class="section__header section__header_compensate commerce-pluses__header">
              <h2 class="section__heading heading heading_type_h2 commerce-pluses__heading">
                <span class="section__heading-text">НАШИ ПРЕИМУЩЕСТВА</span>
              </h2>
            </div>
            
            <div class="section__body commerce-pluses__body">
              <div class="commerce-pluses__icon-col icon-col icon-col_x-large icon-col_transp js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item commerce-pluses__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/pluses/1.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/pluses/1_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/pluses/1_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        ПРОЗРАЧНОСТЬ И&nbsp;ОТЧЕТНОСТЬ
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Ценообразование и&nbsp;рабочий процесс полностью прозрачны для заказчика.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-pluses__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/pluses/2.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/pluses/2_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/pluses/2_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        ДОЛГОСРОЧНОЕ СОТРУДНИЧЕСТВО
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        80% наших клиентов продлевают с&nbsp;нами годовые контракты и&nbsp;получают бонусы.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item commerce-pluses__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/commerce/pluses/3.svg' %>" alt="commerce" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/commerce/pluses/3_1.svg' %>" alt="commerce" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/commerce/pluses/3_bg.svg' %>" alt="commerce" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        ОТЛАЖЕННЫЕ ПРОЦЕССЫ
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_s">
                        Проект ведет персональный менеджер, вся история сохраняется в&nbsp;системе.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large commerce-cashbox">
          <div class="section__wrp commerce-cashbox__wrp scene">
            <div class="section__header section__header_compensate commerce-cashbox__header">
              <h2 class="section__heading heading heading_type_h2 commerce-cashbox__heading">
                <span class="section__heading-text"><nobr>ОНЛАЙН-КАССЫ</nobr></span>
              </h2>
            </div>
            
            <div class="section__body commerce-cashbox__body">
              <div class="commerce-cashbox__grid">
                <div class="commerce-cashbox__grid-box">
                  <div class="commerce-cashbox__img">
                    <div class="commerce-cashbox__img-wrp">
                      <img src="<%= asset_path 'services/commerce/cashbox/bg.svg' %>" alt="commerce" class="commerce-cashbox__img-bg layer" data-depth="0.40">
                      <img src="<%= asset_path 'services/commerce/cashbox/icon2.svg' %>" alt="commerce" class="commerce-cashbox__img-icon2 layer" data-depth="0.60">
                      <img src="<%= asset_path 'services/commerce/cashbox/icon.svg' %>" alt="commerce" class="commerce-cashbox__img-icon layer" data-depth="0.80">
                    </div>
                  </div>
                </div>
                <div class="commerce-cashbox__grid-box js-animation js-animation_fadeInRight" data-animation-delay="0">
                  <div class="commerce-cashbox__caption caption caption_size_g">
                    В&nbsp;2017 году в&nbsp;главный федеральный закон о&nbsp;торговле <nobr>54-ФЗ</nobr> были внесены изменения, которые обязали предпринимателей перейти на&nbsp;современное <nobr>контрольно-кассовое</nobr> оборудование, передающее данные в&nbsp;ФНС в&nbsp;<nobr>онлайн-режиме</nobr>.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section commerce-green">
          <span class="commerce-green__bg" style="background-image: url( <%= asset_path 'services/commerce/green.jpg' %>);"></span>
          
          <div class="section__wrp commerce-green__wrp">
            <div class="commerce-green__grid">
              <div class="commerce-green__grid-box">
                <div class="commerce-green__text">
                  <h2 class="commerce-green__heading heading heading_type_h4">
                    <span class="commerce-green__heading-sub">Поможем вашей компании перейти</span> <br />
                    на&nbsp;<nobr>онлайн-кассу</nobr>
                  </h2>
                  
                  <div class="commerce-green__check-list check-list check-list_large">
                    <ul class="check-list__list">
                      <li class="check-list__item">
                        <div class="check-list__caption">
                          Зарегистрируем и&nbsp;подключим кассу <br class="sm-hide"/>
                          к&nbsp;ОФД (оператору фискальных данных).
                        </div>
                      </li>
                      <li class="check-list__item">
                        <div class="check-list__caption">
                          Подберём и&nbsp;закажем <br class="sm-hide"/>
                          необходимое оборудование.
                        </div>
                      </li>
                      <li class="check-list__item">
                        <div class="check-list__caption">
                          Наладим работу <nobr>онлайн-кассы</nobr> и&nbsp;предоставим услуги техподдержки в&nbsp;режиме 24/7.
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <div class="commerce-green__grid-box">
                <div class="commerce-green__promo">
                  <div class="commerce-green__promo-title">
                    Переход к&nbsp;<nobr>онлайн-кассе</nobr> при поддержке опытной команды&nbsp;&mdash; это просто и&nbsp;доступно!
                  </div>
                  
                  <div class="commerce-green__promo-list">
                    <div class="commerce-green__promo-item">
                      <span class="commerce-green__promo-prop">Стоимость</span>
                      <span class="commerce-green__promo-value">от&nbsp;22&nbsp;000 <span class="rub">P</span></span>
                    </div>
                    <div class="commerce-green__promo-item">
                      <span class="commerce-green__promo-prop">Срок</span>
                      <span class="commerce-green__promo-value">10 рабочих дней</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="commerce-green__buttons">
              <a href="javascript:void(0);"
                  class="commerce-green__button button button_theme_accent button_size_l js-popup">
                Обсудим проект?
              </a>
            </div>
          </div>
        </section>
        
      </main>