<%- meta title: "Фирменный стиль | Услуги"
    meta og: { title: "Фирменный стиль | Услуги" }
    %>


      <main class="main">
        
        <section class="section section_first banner banner_content_center">
          <span class="banner__bg" style="background-image: url(<%= asset_path 'services/firm-style/banner.jpg' %>);"></span>
          
          <div class="section__wrp banner__wrp">
            <div class="banner__content">
              <h1 class="banner__heading heading heading_type_h1">
                Фирменный стиль
              </h1>
              
              <div class="banner__line">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 47 4">
                  <path fill-rule="evenodd"
                      d="M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z"></path>
                </svg>
              </div>
              
              <div class="banner__caption caption caption_size_l">
                Создадим или &laquo;перезапустим&raquo; <br />
                визуальный образ вашей компании
              </div>
            </div>
            <div class="g-scroller"></div>
          </div>
        </section>
        
        <section class="section firm-promo">
          <div class="section__wrp firm-promo__wrp">
            <div class="section__header firm-promo__header">
              <h2 class="section__heading heading heading_type_h4 firm-promo__heading">
                Наличие фирменного стиля делает компанию более узнаваемой и&nbsp;конкурентоспособной, повышая стоимость бренда.
              </h2>
            </div>
            
            <div class="section__body firm-promo__body">
              <div class="firm-promo__icon-row icon-row">
                <div class="icon-row__list">
                  <div class="icon-row__item firm-promo__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/firm-style/promo/1.svg' %>" alt="firm-style" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/firm-style/promo/1_bg.svg' %>" alt="firm-style" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        У&nbsp;компании появляется система &laquo;опознавательных&raquo; знаков,
                        <br class="md-hide"/>которая помогает снизить расходы на&nbsp;коммуникацию с&nbsp;аудиторией.
                      </div>
                    </div>
                  </div>
                  
                  <div class="icon-row__item firm-promo__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/firm-style/promo/2.svg' %>" alt="firm-style" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/firm-style/promo/2_bg.svg' %>" alt="firm-style" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Сокращаются трудозатраты на&nbsp;вывод на&nbsp;рынок нового продукта.                     
                      </div>
                    </div>
                  </div>
                  
                  <div class="icon-row__item firm-promo__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/firm-style/promo/3.svg' %>" alt="firm-style" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/firm-style/promo/3_bg.svg' %>" alt="firm-style" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Реклама становится эффективнее, потому что каждая новая идея связывается в&nbsp;сознании потребителя с&nbsp;уже существующим образным рядом.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light firm-logo">
          <div class="section__wrp firm-logo__wrp">
            <div class="section__header section__header_compensate firm-logo__header">
              <h2 class="section__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Логотип
                </span>
              </h2>
              
              <div class="section__caption caption caption_size_l">
                Максимально емко транслирует ценности <br class="xs-hide"/>
                и&nbsp;преимущества вашего бренда аудитории.
              </div>
            </div>
            
            <div class="section__body firm-logo__body">
              <div class="firm-logo__path-block path-block">
                <div class="path-block__wrp">
                  <div class="path-block__header">
                    <div class="path-block__heading">
                      <span class="path-block__heading-text">
                        5 шагов для создания логотипа
                      </span>
                    </div>
                  </div>
                  
                  <div class="path-block__body">
                    <ol class="path-block__list js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
                      <li class="path-block__item">
                        <div class="path-block__caption">
                          Анализируем рынок и&nbsp;конкурентную среду, чтобы создать прочный фундамент для всего фирменного стиля&nbsp;&mdash; правильное позиционирование.
                        </div>
                      </li>
                      <li class="path-block__item">
                        <div class="path-block__caption">
                          Изучаем целевую аудиторию, ее&nbsp;инсайты и&nbsp;ценности, чтобы понять, какие потребности на&nbsp;этом рынке может &laquo;закрыть&raquo; компания
                        </div>
                      </li>
                      <li class="path-block__item">
                        <div class="path-block__caption">
                          Определяем концепцию развития бренда. Это позволяет найти свое &laquo;лицо&raquo;, определить ценностное и&nbsp;эмоциональное содержание продукта.
                        </div>
                      </li>
                      <li class="path-block__item">
                        <div class="path-block__caption">
                          Опираясь на&nbsp;позиционирование бренда, разрабатываем 3&nbsp;варианта&nbsp;логотипа
                        </div>
                      </li>
                      <li class="path-block__item">
                        <div class="path-block__caption">
                          Дорабатываем выбранный вариант и&nbsp;создаем логобук&nbsp;&mdash; руководство по&nbsp;использованию логотипа.
                        </div>
                      </li>
                    </ol>
                    
                    <div class="path-block__caption">
                      Визуальная простота и&nbsp;точное соответствие позиционированию бренда&nbsp;&mdash; главный секрет хорошего логотипа.
                    </div>
                  </div>
                  
                  <div class="path-block__footer js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="path-block__heading">
                      <span class="path-block__heading-text">
                        Результат
                      </span>
                    </div>
                    
                    <div class="path-block__caption">
                      Логотип в&nbsp;форматах *.jpg, *.png, *pdf, *.eps, *.ai, в&nbsp;цветном, <nobr>черно-белом</nobr> и&nbsp;штриховом исполнении.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large firm-graph">
          <div class="section__wrp firm-graph__wrp scene">
            <div class="section__header section__header_compensate firm-graph__header">
              <h2 class="section__heading heading heading_type_h2 firm-graph__heading">
                <span class="section__heading-text">Фирменная графика</span>
              </h2>
            </div>
            
            <div class="section__body firm-graph__body">
              <div class="firm-graph__img">
                <div class="firm-graph__img-wrp">
                  <img src="<%= asset_path 'services/firm-style/graph/bg.svg' %>" alt="firm-style" class="firm-graph__img-bg layer" data-depth="0.40">
                  <img src="<%= asset_path 'services/firm-style/graph/icon2.svg' %>" alt="firm-style" class="firm-graph__img-icon2 layer" data-depth="0.60">
                  <img src="<%= asset_path 'services/firm-style/graph/icon.svg' %>" alt="firm-style" class="firm-graph__img-icon layer" data-depth="0.80">
                </div>
              </div>
              
              <div class="firm-graph__caption caption caption_size_l js-animation js-animation_fadeInUp" data-animation-delay="0">
                Мощный узнаваемый визуальный образ для любой коммуникации 
                с&nbsp;целевой аудиторией.
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_green_light firm-card">
          <div class="section__wrp firm-card__wrp">
            <div class="section__header section__header_compensate firm-card__header">
              <h2 class="section__heading firm-card__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Визитки
                </span>
              </h2>
              
              <div class="section__caption caption caption_size_l js-animation js-animation_fadeInDown" data-animation-delay="0">
                Визитка&nbsp;&mdash; <nobr>бизнес-аксессуар</nobr>, ассоциирующийся с&nbsp;уровнем компании 
                и&nbsp;личностью ее&nbsp;руководителя.
              </div>
            </div>
            
            <div class="section__body firm-card__body">
              <div class="firm-card__icon-col icon-col icon-col_large js-slider-icon-col">
                <div class="icon-col__heading heading heading_type_h4">
                  3 принципа хорошей визитки
                </div>
                
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item firm-card__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/firm-style/card/1.svg' %>" alt="firm-style" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/firm-style/card/1_1.svg' %>" alt="firm-style" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/firm-style/card/1_bg.svg' %>" alt="firm-style" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__caption caption caption_size_g">
                        Продуманный дизайн в&nbsp;соответствии с&nbsp;фирменным стилем
                      </div>
                    </div>
                  </div>
                  
                  <div class="icon-col__item firm-card__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/firm-style/card/2.svg' %>" alt="firm-style" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/firm-style/card/2_1.svg' %>" alt="firm-style" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/firm-style/card/2_bg.svg' %>" alt="firm-style" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__caption caption caption_size_g">
                        Профессиональная верстка <br class="xs-hide"/>по&nbsp;всем правилам типографики
                      </div>
                    </div>
                  </div>
                  
                  <div class="icon-col__item firm-card__item js-animation js-animation_fadeInLeft" data-animation-delay="600ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/firm-style/card/3.svg' %>" alt="firm-style" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/firm-style/card/3_1.svg' %>" alt="firm-style" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/firm-style/card/3_bg.svg' %>" alt="firm-style" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__caption caption caption_size_g">
                        Правильный подбор материалов и&nbsp;высокое качество печати
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large firm-book">
          <div class="section__wrp firm-book__wrp scene">
            <div class="section__header section__header_compensate firm-book__header">
              <h2 class="section__heading firm-book__heading heading heading_type_h2">
                <span class="section__heading-text">Брендбук</span>
              </h2>
              
              <div class="section__caption caption caption_size_l js-animation js-animation_fadeInUp" data-animation-delay="0">
                Свод правил по&nbsp;использованию логотипа и&nbsp;других элементов фирменного стиля.
              </div>
            </div>
            
            <div class="section__body firm-book__body">
              <div class="firm-book__img">
                <div class="firm-book__img-wrp">
                  <img src="<%= asset_path 'services/firm-style/book/bg.svg' %>" alt="firm-style" class="firm-book__img-bg layer" data-depth="0.40">
                  <img src="<%= asset_path 'services/firm-style/book/icon2.svg' %>" alt="firm-style" class="firm-book__img-icon2 layer" data-depth="0.60">
                  <img src="<%= asset_path 'services/firm-style/book/icon.svg' %>" alt="firm-style" class="firm-book__img-icon layer" data-depth="0.80">
                </div>
              </div>
              
              <div class="firm-book__caption">
                Этот документ позволит сохранять соответствие высоким стандартам визуального образа бренда при работе с&nbsp;любыми подрядчиками, рекламными агентствами и&nbsp;СМИ.
              </div>
            </div>
            
            <div class="section__footer firm-book__footer js-animation js-animation_fadeInUp" data-animation-delay="0">
              <div class="firm-book__subhead">
                <span class="firm-book__subhead-text">
                  Результат
                </span>
              </div>
              
              <div class="firm-book__caption">
                Документ в&nbsp;формате *.pdf. По&nbsp;требованию изготовим его в&nbsp;печатном виде.
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light firm-pluses">
          <div class="section__wrp firm-pluses__wrp">
            <div class="section__header section__header_compensate firm-pluses__header">
              <h2 class="section__heading firm-pluses__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Наши преимущества 
                </span>
              </h2>
            </div>
            
            <div class="section__body firm-pluses__body">
              <div class="firm-pluses__check-list check-list">
                <ul class="check-list__list">
                  <li class="check-list__item js-animation js-animation_fadeInDown" data-animation-delay="0">
                    <div class="check-list__caption">
                      В&nbsp;основе нашей работы лежит позиционирование бренда&nbsp;&mdash; только так можно создать <nobr>по-настоящему</nobr> эффективный фирменный стиль.
                    </div>
                  </li>
                  <li class="check-list__item js-animation js-animation_fadeInDown" data-animation-delay="200ms">
                    <div class="check-list__caption">
                      Наши <nobr>дизайн-решения</nobr> всегда уникальны, включая шрифты, которые полностью гармонируют с&nbsp;логотипом и&nbsp;другими элементами фирменной графики.
                    </div>
                  </li>
                  <li class="check-list__item js-animation js-animation_fadeInDown" data-animation-delay="400ms">
                    <div class="check-list__caption">
                      Мы&nbsp;создаем практичные решения, тестируя использование фирменного стиля на&nbsp;всех его&nbsp;носителях.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section green-banner green-banner_firm-style">
          <span class="green-banner__bg" style="background-image: url(<%= asset_path 'services/firm-style/green.jpg' %>);"></span>
          
          <div class="section__wrp green-banner__wrp">
            <h2 class="green-banner__heading section__heading heading heading_type_h2">
              <span class="section__heading-text">
                Готовитесь к&nbsp;прорыву <br class="sm-show"/>на&nbsp;рынке?
              </span>
            </h2>
            
            <div class="green-banner__buttons">
              <a href="javascript:void(0);"
                  class="green-banner__button button button_theme_accent button_size_l js-popup">
                Напишите нам
              </a>
            </div>
          </div>
        </section>
        
      </main>