<%- meta title: "Мобильные приложения | Услуги"
    meta og: { title: "Мобильные приложения | Услуги" }
    %>

      <main class="main">
        
        <section class="section section_first banner banner_content_center">
          <span class="banner__bg" style="background-image: url(<%= asset_path 'services/apps/banner.jpg' %>);"></span>
          
          <div class="section__wrp banner__wrp">
            <div class="banner__content">
              <h1 class="banner__heading heading heading_type_h1">
                Мобильные приложения
              </h1>
              
              <div class="banner__line">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 47 4">
                  <path fill-rule="evenodd"
                      d="M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z"></path>
                </svg>
              </div>
              
              <div class="banner__caption caption caption_size_l">
                Превратим вашу идею в&nbsp;работающую <nobr>бизнес-модель</nobr>.
              </div>
            </div>
          </div>
        </section>
        
        <section class="section apps-promo">
          <div class="section__wrp apps-promo__wrp scene">
            <div class="section__body apps-promo__body">
              <div class="apps-promo__img">
                <div class="apps-promo__img-wrp">
                  <img src="<%= asset_path 'services/apps/promo/bg.svg' %>" alt="apps" class="apps-promo__img-bg layer" data-depth="0.40">
                  <img src="<%= asset_path 'services/apps/promo/icon2.svg' %>" alt="apps" class="apps-promo__img-icon2 layer" data-depth="0.60">
                  <img src="<%= asset_path 'services/apps/promo/icon.svg' %>" alt="apps" class="apps-promo__img-icon layer" data-depth="0.80">
                </div>
              </div>
              
              <div class="apps-promo__caption caption caption_size_l js-animation js-animation_fadeInUp" data-animation-delay="0">
                Мы&nbsp;создаем мобильные приложения для iOS и&nbsp;Android, <br class="xs-hide"/>
                а&nbsp;также разрабатываем адаптивный дизайн и&nbsp;мобильные версии сайтов.
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light apps-benefit">
          <div class="section__wrp apps-benefit__wrp">
            <div class="section__header section__header_compensate apps-benefit__header">
              <h2 class="section__heading heading heading_type_h2 apps-benefit__heading">
                <span class="section__heading-text">
                  Чем это все будет полезно <br class="xs-hide"/>
                  вашему бизнесу?
                </span>
              </h2>
            </div>
            
            <div class="section__body apps-benefit__body">
              <div class="apps-benefit__icon-col icon-col icon-col_medium icon-col_align-left js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item apps-benefit__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/apps/benefit/1.svg' %>" alt="apps" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/apps/benefit/1_1.svg' %>" alt="apps" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/apps/benefit/1_bg.svg' %>" alt="apps" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        У&nbsp;мобильных приложений <br/>
                        огромная аудитория
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        56&nbsp;млн россиян старше 16 лет <br />
                        (около половины всех пользователей сети) заходят в&nbsp;Интернет <br class="sm-hide"/>
                        с&nbsp;мобильных устройств (GFK, 2017).
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item apps-benefit__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/apps/benefit/2.svg' %>" alt="apps" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/apps/benefit/2_1.svg' %>" alt="apps" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/apps/benefit/2_bg.svg' %>" alt="apps" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Существует большой спрос на&nbsp;приложения для поиска и&nbsp;покупки товаров
                      </div>
                      
                      <ul class="icon-col__dot-list dot-list">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            44% <nobr>онлайн-потребителей</nobr> <br />
                            в&nbsp;России используют мобильные устройства для покупок.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            66% россиян используют мобильные устройства для поиска информации о&nbsp;продукте перед покупкой (Nielsen, 2016).
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="icon-col__item apps-benefit__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/apps/benefit/3.svg' %>" alt="apps" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/apps/benefit/3_1.svg' %>" alt="apps" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/apps/benefit/3_bg.svg' %>" alt="apps" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Рынок мобильных приложений далек от&nbsp;насыщения
                      </div>
                      
                      <ul class="icon-col__dot-list dot-list">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            3,8&nbsp;млрд приложений было скачано в&nbsp;России в&nbsp;магазинах Google Play и&nbsp;App Store в&nbsp;2016 году. С&nbsp;2012 по&nbsp;2017 годы этот показатель вырос в&nbsp;4 раза (App Annie, 2017).
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            На&nbsp;35% вырастет количество скачиваний мобильных приложений в&nbsp;мире к&nbsp;2020 году (IDC, 2016).
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large apps-pluses">
          <div class="section__wrp apps-pluses__wrp">
            <div class="section__header section__header_compensate apps-pluses__header">
              <h2 class="section__heading heading heading_type_h2 apps-pluses__heading">
                <span class="section__heading-text">НАШИ ПРЕИМУЩЕСТВА</span>
              </h2>
            </div>
            
            <div class="section__body apps-pluses__body">
              <div class="apps-pluses__text-row text-row">
                <div class="text-row__list">
                  <div class="text-row__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="text-row__heading text-row__heading_check heading heading_type_h5-s">
                      Полный цикл разработки
                    </div>
                    
                    <div class="text-row__caption caption caption_size_g">
                      Обеспечиваем все этапы создания приложения: от&nbsp;прототипов и&nbsp;визуальной концепции до&nbsp;<nobr>back-end</nobr> разработки и&nbsp;запуска. Клиенту не&nbsp;нужно заниматься планированием&nbsp;&mdash; мы&nbsp;сделаем все сами.
                    </div>
                  </div>
                  <div class="text-row__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <div class="text-row__heading text-row__heading_check heading heading_type_h5-s">
                      Экспертное консультирование
                    </div>
                    
                    <div class="text-row__caption caption caption_size_g">
                      Мы&nbsp;помогаем своим клиентам разобраться со&nbsp;многими фундаментальными вопросами мобильной разработки: выбор технологий, определение функционала, привлечение аудитории и&nbsp;многое другое.
                    </div>
                  </div>
                  <div class="text-row__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="text-row__heading text-row__heading_check heading heading_type_h5-s">
                      Собственные нестандартные решения
                    </div>
                    
                    <div class="text-row__caption caption caption_size_g">
                      За&nbsp;время работы мы&nbsp;собрали много удачных решений, благодаря которым можем предлагать некоторые продукты по&nbsp;очень привлекательным ценам (например, приложение для сайта на&nbsp;<nobr>1C</nobr>-Битрикс).
                    </div>
                  </div>
                  <div class="text-row__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <div class="text-row__heading text-row__heading_check heading heading_type_h5-s">
                      Техническая экспертиза
                    </div>
                    
                    <div class="text-row__caption caption caption_size_g">
                      Успех приложения во&nbsp;многом определяется правильным выбором платформы, продуманной архитектурой, качеством интерфейса, быстродействием и&nbsp;многими&nbsp;другими факторами. Мы&nbsp;учитываем их&nbsp;все.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light apps-how">
          <div class="section__wrp apps-how__wrp">
            <div class="section__header section__header_compensate apps-how__header">
              <h2 class="section__heading heading heading_type_h2 apps-how__heading">
                <span class="section__heading-text">Как мы работаем?</span>
              </h2>
            </div>
            
            <div class="section__body apps-how__body">
              <div class="apps-how__num-col num-col js-slider-num-col">
                <div class="num-col__list">
                  <div class="num-col__item js-animation js-animation_bounceInLong" data-animation-delay="0">
                    <div class="num-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/apps/how/1.svg' %>" alt="apps" class="num-col__img tilter__figure">
                    </div>
                    
                    <div class="num-col__text">
                      <div class="num-col__title heading heading_type_h5-s">
                        Аналитика
                      </div>
                      
                      <ul class="num-col__dot-list dot-list dot-list_text_s">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Определяем цели будущего приложения.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Изучаем рынок, конкурентную среду и&nbsp;целевую аудиторию.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Формулируем задачи проекта.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Рекомендуем платформу и&nbsp;состав функционала.
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="num-col__item js-animation js-animation_bounceInLong" data-animation-delay="750ms">
                    <div class="num-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/apps/how/2.svg' %>" alt="apps" class="num-col__img tilter__figure">
                    </div>
                    
                    <div class="num-col__text">
                      <div class="num-col__title heading heading_type_h5-s">
                        Прототипы и&nbsp;дизайн
                      </div>
                      
                      <ul class="num-col__dot-list dot-list dot-list_text_s">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Разрабатываем архитектуру проекта.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Создаем прототип (схематичная модель для демонстрации логики проекта).
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Предлагаем визуальную концепцию, отрисовываем страницы.
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="num-col__item js-animation js-animation_bounceInLong" data-animation-delay="1500ms">
                    <div class="num-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/apps/how/3.svg' %>" alt="apps" class="num-col__img tilter__figure">
                    </div>
                    
                    <div class="num-col__text">
                      <div class="num-col__title heading heading_type_h5-s">
                        Программирование и&nbsp;внедрение
                      </div>
                      
                      <ul class="num-col__dot-list dot-list dot-list_text_s">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Выбираем технологии под цели и&nbsp;задачи проекта.
                          </div>
                        </li>
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Создаем внутренний код.
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="num-col__item js-animation js-animation_bounceInLong" data-animation-delay="2250ms">
                    <div class="num-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/apps/how/4.svg' %>" alt="apps" class="num-col__img tilter__figure">
                    </div>
                    
                    <div class="num-col__text">
                      <div class="num-col__title heading heading_type_h5-s">
                        Запуск и&nbsp;поддержка
                      </div>
                      
                      <ul class="num-col__dot-list dot-list dot-list_text_s">
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Тестируем проект на соответствие требованиям, нагрузки и&nbsp;быстродействие.
                          </div>
                        </li>
                        
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Устраняем найденные недостатки.
                          </div>
                        </li>
                        
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Загружаем в&nbsp;App&nbsp;Store и&nbsp;Google&nbsp;Play.
                          </div>
                        </li>
                        
                        <li class="dot-list__item">
                          <div class="dot-list__caption">
                            Поддерживаем: обновляем контент и&nbsp;развиваем функционал.
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                <div class="num-col__dots js-slider-num-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section green-banner green-banner_apps">
          <span class="green-banner__bg" style="background-image: url(<%= asset_path 'services/apps/green.jpg' %>);"></span>
          
          <div class="section__wrp green-banner__wrp">
            <div class="green-banner__prehead">
              Особое предложение
            </div>
            <h2 class="green-banner__heading section__heading heading heading_type_h2">
              <span class="section__heading-text">
                Ваш <nobr>интернет-магазин</nobr><br />
                на&nbsp;Битриксе?
              </span>
            </h2>
            
            <div class="green-banner__text">
              <div class="green-banner__caption caption caption_size_g">
                Тогда вам повезло: все содержимое вашего сайта уже доступно в&nbsp;мобильном приложении. Технология <nobr>&laquo;1С-Битрикс</nobr>: Мобильное приложение&raquo; позволяет очень быстро разрабатывать продукты под iOS и&nbsp;Android для сайтов на&nbsp;этой платформе, избегая сложной и&nbsp;дорогостоящей разработки.
              </div>
              <div class="green-banner__caption caption caption_size_g">
                Мы&nbsp;успешно реализовали более 20 приложений для сайтов на&nbsp;&laquo;<nobr>1С-Битрикс&raquo;</nobr> <br class="xs-hide"/>
                и&nbsp;с&nbsp;удовольствием разработаем этот недорогой и&nbsp;выгодный продукт и&nbsp;для вас.
              </div>
            </div>
            
            <div class="green-banner__buttons">
              <a href="javascript:void(0);"
                  class="green-banner__button button button_theme_accent button_size_l js-popup">
                Напишите нам
              </a>
            </div>
          </div>
        </section>
        
      </main>