-meta title: "Услуги"
-meta og: { title: "Услуги" }


%main.main
  %section.section.section_first.section_pad_large.services-promo
    .section__wrp.services-promo__wrp.scene
      .section__header.section__header_compensate.services-promo__header
        %h2.section__heading.heading.heading_type_h2.services-promo__heading
          %span.section__heading-text Чем мы занимаемся
      .section__body.services-promo__body
        .services-promo__img
          .services-promo__img-wrp
            %img.services-promo__img-bg.layer{:alt => "firm-style", "data-depth" => "0.40", :src => "#{asset_path 'services/promo/bg.svg'}"}/
            %img.services-promo__img-icon2.layer{:alt => "firm-style", "data-depth" => "0.60", :src => "#{asset_path 'services/promo/icon2.svg'}"}/
            %img.services-promo__img-icon.layer{:alt => "firm-style", "data-depth" => "0.80", :src => "#{asset_path 'services/promo/icon.svg'}"}/
        .services-promo__caption.caption.caption_size_l
          Мы делаем это реально круто
        %a.services-promo__link.js-anchor-link{:href => "#services"}
          %span.services-promo__link-icon
            %svg{:height => "11px", :width => "20px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %path{:d => "M19.435,1.707 L10.707,10.435 C10.317,10.825 9.683,10.825 9.293,10.435 L0.565,1.707 C0.174,1.316 0.174,0.683 0.565,0.293 C0.955,-0.098 1.589,-0.098 1.979,0.293 L10.000,8.313 L18.021,0.293 C18.411,-0.098 19.044,-0.098 19.435,0.293 C19.825,0.683 19.825,1.316 19.435,1.707 Z", "fill-rule" => "evenodd"}
  %section#services.section.section_pad_medium.section_green_light.services
    .section__wrp.services__wrp
      .section__body.services__body
        .services__icon-col.icon-col.icon-col_main.icon-col_border
          .icon-col__list.icon-col__list_grid-two
            .icon-col__item.services__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "0"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/1.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/1_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Интернет-магазины
                .icon-col__caption.caption.caption_size_g
                  Помогаем продавать ваши товары.
                  = succeed "\u{412}\u{a0}\u{43d}\u{430}\u{448}\u{435}\u{43c}" do
                    %br.md-show.xs-hide/
                  = succeed "\u{434}\u{435}\u{441}\u{44f}\u{442}\u{43a}\u{43e}\u{432}" do
                    %br.md-show.xs-hide/
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => ecom_path}
                  Подробнее
            .icon-col__item.services__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "100ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/2.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/2_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Сложные решения
                .icon-col__caption.caption.caption_size_g
                  Затачиваем под ваш бизнес CRM, ERP, системы отчетности и другие продукты. Чем сложнее, тем интереснее.
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => custom_development_path}
                  Подробнее
            .icon-col__item.services__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "100ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/3.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/3_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Поддержка и развитие
                .icon-col__caption.caption.caption_size_g
                  Мы любим долгосрочные отношения и после запуска помогаем вашему продукту эволюционировать и идти в ногу с технологиями.
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => support_path}
                  Подробнее
            .icon-col__item.services__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/4.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/4_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Мобильные приложения
                .icon-col__caption.caption.caption_size_g
                  Для сайта на 
                  %nobr 1С-Битрикс
                  сделаем мобильное приложение по ошеломляющей цене. Мы даже выступаем с докладами об этом.
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => mobile_path}
                  Подробнее
            .icon-col__item.services__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "100ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/5.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/5_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Корпоративные сайты
                .icon-col__caption.caption.caption_size_g
                  Мы любим долгосрочные отношения, ежедневная поддержка и развитие проекта также важны,
                  %br.xs-hide/
                  как и сама разработка.
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => website_path}
                  Подробнее
            .icon-col__item.services__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/6.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/6_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Привлечение клиентов
                .icon-col__caption.caption.caption_size_g
                  Собираем лиды, работаем с узнаваемостью бренда и лояльностью клиента: ведем социальные сети, настраиваем контекстную и медийную рекламу.
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => clients_path}
                  Подробнее
            .icon-col__item.services__item.js-animation.js-animation_fadeInRight{"data-animation-delay" => "100ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/7.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/7_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Фирменный стиль
                .icon-col__caption.caption.caption_size_g
                  Помогаем продавать ваши товары. Несколько десятков успешных историй развития говорят
                  %br.sm-hide/
                  за себя. Попробуйте!
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => branding_path}
                  Подробнее
            .icon-col__item.services__item.js-animation.js-animation_fadeInLeft{"data-animation-delay" => "200ms"}
              .icon-col__img-wrp.js-tilter
                %img.icon-col__img.tilter__figure{:alt => "services", :src => "#{asset_path 'services/icons/8.svg'}"}/
                %img.icon-col__bg{:alt => "services", :src => "#{asset_path 'services/icons/8_bg.svg'}"}/
              .icon-col__text
                .icon-col__title.heading.heading_type_h4
                  Битрикс24
                .icon-col__caption.caption.caption_size_g
                  Настраиваем и «допиливаем» систему под ваш бизнес, интегрируем с вашими внутренними процессами и оказываем оперативную поддержку по всем вопросам.
                %a.icon-col__button.button.button_theme_border.button_size_g{:href => bitrix24_path}
                  Подробнее