<%- meta title: "Поддержка и развитие | Услуги"
    meta og: { title: "Поддержка и развитие | Услуги" }
    %>

      <main class="main">
        
        <section class="section section_first banner banner_support banner_content_center">
          <span class="banner__bg" style="background-image: url(<%= asset_path 'services/support/banner.jpg' %>);"></span>
          
          <div class="section__wrp banner__wrp">
            <div class="banner__content">
              <h1 class="banner__heading heading heading_type_h1">
                Поддержка и&nbsp;развитие
              </h1>
              
              <div class="banner__line">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 47 4">
                  <path fill-rule="evenodd"
                      d="M2.000,-0.006 L29.000,-0.006 C30.104,-0.006 31.000,0.892 31.000,1.995 L31.000,1.995 C31.000,3.100 30.104,3.994 29.000,3.994 L2.000,3.994 C0.895,3.994 -0.000,3.100 -0.000,1.995 L-0.000,1.995 C-0.000,0.892 0.895,-0.006 2.000,-0.006 ZM37.000,-0.006 L45.000,-0.006 C46.104,-0.006 47.000,0.892 47.000,1.995 L47.000,1.995 C47.000,3.100 46.104,3.994 45.000,3.994 L37.000,3.994 C35.895,3.994 35.000,3.100 35.000,1.995 L35.000,1.995 C35.000,0.892 35.895,-0.006 37.000,-0.006 Z"></path>
                </svg>
              </div>
              
              <div class="banner__caption caption caption_size_l">
                Запуск сайта или мобильного приложения&nbsp;&mdash; только первый шаг на&nbsp;пути к&nbsp;успеху. 
                Чтобы ваш проект начал приносить стабильную прибыль, <br class="sm-hide"/>
                его необходимо поддерживать и&nbsp;развивать.
              </div>
            </div>
            <div class="g-scroller"></div>
          </div>
        </section>
        
        <section class="section section_pad_general section_green_light tagline">
          <div class="section__wrp tagline__wrp">
            <div class="section__body tagline__body">
              <div class="tagline__caption caption caption_size_l">
                Если этого не&nbsp;делать, через некоторое время он&nbsp;безнадежно устареет, 
                так и&nbsp;не&nbsp;окупив вложений в&nbsp;его разработку.
              </div>
            </div>
          </div>
        </section>
        
        <section class="section support-promo">
          <div class="section__wrp support-promo__wrp">
            <div class="section__header support-promo__header">
              <h2 class="section__heading heading heading_type_h4 support-promo__heading">
                Что дает поддержка и&nbsp;развитие?
              </h2>
            </div>
            
            <div class="section__body support-promo__body">
              <div class="support-promo__icon-row icon-row">
                <div class="icon-row__list">
                  <div class="icon-row__item support-promo__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/promo/1.svg' %>" alt="support" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/support/promo/1_bg.svg' %>" alt="support" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Проект всегда будет приносить прибыль за&nbsp;счет соответствия текущим <nobr>бизнес-задачам</nobr> компании.
                      </div>
                    </div>
                  </div>
                  
                  <div class="icon-row__item support-promo__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/promo/2.svg' %>" alt="support" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/support/promo/2_bg.svg' %>" alt="support" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        Проект будет конкурентоспособным. Мы&nbsp;постоянно отслеживаем тренды и&nbsp;технологии и&nbsp;предлагаем улучшения, чтобы помочь вам сохранить лидерские позиции.                   
                      </div>
                    </div>
                  </div>
                  
                  <div class="icon-row__item support-promo__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                    <div class="icon-row__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/promo/3.svg' %>" alt="support" class="icon-row__img tilter__figure">
                      <img src="<%= asset_path 'services/support/promo/3_bg.svg' %>" alt="support" class="icon-row__bg">
                    </div>
                    
                    <div class="icon-row__text">
                      <div class="icon-row__caption caption caption_size_g">
                        &laquo;Живые&raquo; сайты вызывают больше доверия у&nbsp;аудитории, свидетельствуя о&nbsp;том, что ваша компания&nbsp;&mdash; ответственный и&nbsp;энергичный игрок рынка, разбирающийся в&nbsp;технологиях.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light support-doing">
          <div class="section__wrp support-doing__wrp">
            <div class="section__header section__header_compensate support-doing__header">
              <h2 class="section__heading support-doing__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Что мы делаем?
                </span>
              </h2>
            </div>
            
            <div class="section__body support-doing__body">
              <div class="support-doing__icon-col icon-col icon-col_large icon-col_align-left js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item support-doing__item js-animation js-animation_fadeInLeft" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/doing/1.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/doing/1_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/doing/1_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Повышаем конверсию сайта
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Увеличиваем количество заявок с&nbsp;сайта и&nbsp;уменьшаем их&nbsp;стоимость с&nbsp;помощью комплексной &laquo;терапии&raquo;: SEO, SMM, подбор оптимальных рекламных каналов <nobr>и т. д.</nobr>
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item support-doing__item js-animation js-animation_fadeInLeft" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/doing/2.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/doing/2_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/doing/2_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Дорабатываем функционал
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Создаем новые инструменты и&nbsp;сервисы на&nbsp;сайте для новых <nobr>бизнес-задач</nobr> компании и&nbsp;улучшения коммуникации с&nbsp;аудиторией проекта.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item support-doing__item js-animation js-animation_fadeInLeft" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/doing/3.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/doing/3_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/doing/3_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Дорабатываем структуру и&nbsp;дизайн
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Рисуем и&nbsp;верстаем новые страницы, разрабатываем баннеры, кнопки, иконки, шрифты, иллюстрации&nbsp;&mdash; проводим любые графические работы вплоть до&nbsp;редизайна.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item support-doing__item js-animation js-animation_fadeInRight" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/doing/4.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/doing/4_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/doing/4_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Решаем все технические вопросы
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Обеспечиваем стабильную работу сайта без сбоев, дорабатываем для улучшения индексации в&nbsp;поисковиках, взаимодействуем с&nbsp;хостингом и&nbsp;многое другое.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item support-doing__item js-animation js-animation_fadeInRight" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/doing/5.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/doing/5_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/doing/5_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Наполняем контентом
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Пишем полезные уникальные материалы (новости, статьи, имиджевые тексты, описания товаров). Загружаем фото- и&nbsp;<nobr>видео-материалы</nobr>, документы.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item support-doing__item js-animation js-animation_fadeInRight" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/doing/6.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/doing/6_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/doing/6_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Обучаем ваших сотрудников
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Если в&nbsp;работе сайта появится <nobr>что-то</nobr> новое, поможем вашим специалистам разобраться в&nbsp;новых функциях, а&nbsp;также настроим систему под их&nbsp;потребности.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_x-large support-pluses">
          <div class="section__wrp support-pluses__wrp">
            <div class="section__header section__header_compensate support-pluses__header">
              <h2 class="section__heading support-pluses__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Наши преимущества
                </span>
              </h2>
            </div>
            
            <div class="section__body support-pluses__body">
              <div class="support-pluses__icon-col icon-col icon-col_large icon-col_border js-slider-icon-col">
                <div class="icon-col__list icon-col__list_grid-three">
                  <div class="icon-col__item support-pluses__item js-animation js-animation_fadeInUp" data-animation-delay="0">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/pluses/1.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/pluses/1_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/pluses/1_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Качество
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Мы&nbsp;работаем на&nbsp;результат. <br />
                        Лучший показатель качества нашей работы&nbsp;&mdash; рост показателей сайта.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item support-pluses__item js-animation js-animation_fadeInUp" data-animation-delay="200ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/pluses/2.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/pluses/2_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/pluses/2_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Скорость
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Мы&nbsp;планируем свою работу, устанавливаем разумные сроки <br class="sm-hide"/>
                        и&nbsp;потому всегда их&nbsp;выдерживаем.
                      </div>
                    </div>
                  </div>
                  <div class="icon-col__item support-pluses__item js-animation js-animation_fadeInUp" data-animation-delay="400ms">
                    <div class="icon-col__img-wrp js-tilter">
                      <img src="<%= asset_path 'services/support/pluses/3.svg' %>" alt="support" class="icon-col__img tilter__figure">
                      <img src="<%= asset_path 'services/support/pluses/3_1.svg' %>" alt="support" class="icon-col__icons tilter__deco--lines">
                      <img src="<%= asset_path 'services/support/pluses/3_bg.svg' %>" alt="support" class="icon-col__bg">
                    </div>
                    
                    <div class="icon-col__text">
                      <div class="icon-col__title heading heading_type_h5-s">
                        Прозрачность
                      </div>
                      
                      <div class="icon-col__caption caption caption_size_g">
                        Клиент всегда знает, за&nbsp;что платит: мы&nbsp;ежемесячно предоставляем подробные отчеты о&nbsp;проделанной работе.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="icon-col__dots js-slider-icon-col-dots"></div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large section_green_light support-scheme">
          <div class="section__wrp support-scheme__wrp">
            <div class="section__header section__header_compensate support-scheme__header">
              <h2 class="section__heading support-scheme__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Схема нашей работы
                </span>
              </h2>
            </div>
            
            <div class="section__body support-scheme__body">
              <div class="support-scheme__line-row line-row">
                <div class="line-row__list js-animation js-animation_mobile js-animation_tablet" data-animation-delay="400ms">
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__caption caption caption_size_g">
                        Анализируем задачу. Если проект разработан сторонним разработчиком, тщательно изучаем материал (код, дизайн, контент сайта).
                      </div>
                    </div>
                  </div>
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__caption caption caption_size_g">
                        Оцениваем время специалистов, планируем сроки и&nbsp;устанавливаем ежемесячный бюджет работ. Фиксируем задачу через систему управления проектом Zendesk. Если требуется комплексное решение, вырабатываем стратегию его внедрения на&nbsp;3&ndash;6&nbsp;месяцев вперед.
                      </div>
                    </div>
                  </div>
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__caption caption caption_size_g">
                        Выполняем запланированные работы, тестируем и&nbsp;запускаем на&nbsp;&laquo;боевом&raquo; домене после проверки на&nbsp;внутреннем.
                      </div>
                    </div>
                  </div>
                  <div class="line-row__item">
                    <span class="line-row__dot"></span>
                    <div class="line-row__text">
                      <div class="line-row__caption caption caption_size_g">
                        Составляем отчет, где указываем список работ за месяц и потраченные часы специалистов.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section section_pad_large support-rate">
          <div class="section__wrp support-rate__wrp">
            <div class="section__header section__header_compensate support-rate__header">
              <h2 class="section__heading support-rate__heading heading heading_type_h2">
                <span class="section__heading-text">
                  Наши тарифы
                </span>
              </h2>
            </div>
            
            <div class="section__body support-rate__body">
              <div class="support-rate__rate-col rate-col">
                <div class="rate-col__list">
                  <div class="rate-col__item rate-col__item_min  js-animation js-animation_bounceIn" data-animation-delay="0">
                    <div class="rate-col__head">
                      <div class="rate-col__title heading heading_type_h5-s">
                        &laquo;Минимальный пакет&raquo;
                      </div>
                    </div>
                    <div class="rate-col__body">
                      <div class="rate-col__price">
                        30&nbsp;000&nbsp;<span class="rub">Р</span>
                      </div>
                      <div class="rate-col__caption caption caption_size_g">
                        20 часов в&nbsp;месяц
                      </div>
                    </div>
                  </div>
                  <div class="rate-col__item  js-animation js-animation_bounceIn" data-animation-delay="400ms">
                    <div class="rate-col__head">
                      <div class="rate-col__title heading heading_type_h5-s">
                        &laquo;Стабильное развитие&raquo;
                      </div>
                    </div>
                    <div class="rate-col__body">
                      <div class="rate-col__price">
                        90&nbsp;000&nbsp;<span class="rub">Р</span>
                      </div>
                      <div class="rate-col__caption caption caption_size_g">
                        60 часов в&nbsp;месяц
                      </div>
                    </div>
                  </div>
                  <div class="rate-col__item  js-animation js-animation_bounceIn" data-animation-delay="800ms">
                    <div class="rate-col__head">
                      <div class="rate-col__title heading heading_type_h5-s">
                        &laquo;Дополнительный час&raquo;
                      </div>
                    </div>
                    <div class="rate-col__body">
                      <div class="rate-col__price">
                        1&nbsp;500&nbsp;<span class="rub">Р</span>
                      </div>
                      <div class="rate-col__caption caption caption_size_g">
                        час
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="section green-banner green-banner_support">
          <span class="green-banner__bg" style="background-image: url(<%= asset_path 'services/support/green.jpg' %>);"></span>
          
          <div class="section__wrp green-banner__wrp">
            <h2 class="green-banner__heading section__heading heading heading_type_h2">
              <span class="section__heading-text">
                Обсудим проект?
              </span>
            </h2>
            
            <div class="green-banner__buttons">
              <a href="javascript:void(0);"
                  class="green-banner__button button button_theme_accent button_size_l js-popup">
                Напишите нам
              </a>
            </div>
          </div>
        </section>
        
      </main>
      